<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${44.55 * size}px`"
		:width="`${17.6 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${11.95 * size}, ${45.3 * size})`">
			<path
				d="M-1.35 -40.6 Q-0.05 -36.35 0.45 -31.95 L0.75 -29.35 0.75 -29.3 0.8 -28.35 0.7 -28.15 0.35 -29.55 -2.4 -41.1 -2.3 -41.05 -1.35 -40.6 M-10.7 -45.25 L-9.3 -42.0 -7.8 -38.0 -6.7 -35.3 Q-7.95 -36.95 -9.25 -40.05 L-11.2 -44.4 -11.15 -45.3 -10.7 -45.25 M-11.55 -38.9 L-11.25 -38.25 -6.65 -26.8 -6.25 -25.8 -6.15 -25.65 -5.95 -25.2 -1.6 -13.05 -0.5 -9.8 1.6 -3.95 1.7 -7.9 1.65 -12.9 1.8 -12.9 2.7 -8.75 2.85 -4.25 3.5 -5.9 Q4.35 -8.3 4.25 -9.3 4.55 -15.05 2.65 -26.35 L0.3 -39.8 2.05 -38.95 5.3 -20.45 Q5.9 -15.45 5.5 -10.55 4.65 -1.1 1.9 -0.75 1.1 -0.7 -3.8 -14.65 -7.65 -25.55 -11.95 -35.75 -11.7 -36.75 -11.6 -38.15 L-11.55 -38.9"
				fill="#a36a6a"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-2.4 -41.1 L0.35 -29.55 0.7 -28.15 0.8 -28.35 0.75 -29.3 0.75 -29.35 0.45 -31.95 Q-0.05 -36.35 -1.35 -40.6 L0.3 -39.8 2.65 -26.35 Q4.55 -15.05 4.25 -9.3 4.35 -8.3 3.5 -5.9 L2.85 -4.25 2.7 -8.75 1.8 -12.9 1.65 -12.9 1.7 -7.9 1.6 -3.95 -0.5 -9.8 -1.6 -13.05 -2.55 -23.05 -3.2 -26.75 Q-4.85 -26.5 -5.75 -25.95 L-6.15 -25.65 -6.25 -25.8 -6.65 -26.8 -11.25 -38.25 -11.55 -38.9 -11.2 -44.4 -9.25 -40.05 Q-7.95 -36.95 -6.7 -35.3 L-7.8 -38.0 -9.3 -42.0 -10.7 -45.25 Q-8.1 -44.95 -6.6 -43.9 L-6.45 -43.8 -5.55 -43.2 -3.85 -42.05 -2.4 -41.1 M0.0 -22.5 L0.05 -22.5 -0.25 -26.95 -1.95 -26.85 0.0 -22.5 M-0.5 -29.25 L-0.55 -29.4 -0.6 -29.45 -0.5 -29.25"
				fill="#e0cca3"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-6.15 -25.65 L-5.75 -25.95 Q-4.85 -26.5 -3.2 -26.75 L-2.55 -23.05 -1.6 -13.05 -5.95 -25.2 -6.15 -25.65 M0.0 -22.5 L-1.95 -26.85 -0.25 -26.95 0.05 -22.5 0.0 -22.5 M-0.5 -29.25 L-0.6 -29.45 -0.55 -29.4 -0.5 -29.25"
				fill="#ffffcc"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeRightArmSpecial3',
	props: {
		mainFirstColor: String,
		mainSecondColor: String,
		mainThirdColor: String,
		size: Number
	}
});
</script>
