<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${8.8 * size}px`"
		:width="`${8.55 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${4.25 * size}, ${4.4 * size})`">
			<path
				d="M3.7 -2.7 Q3.7 -2.3 1.7 0.5 L0.7 1.9 1.45 2.4 2.05 1.65 1.3 1.1 1.65 0.65 2.4 1.2 3.6 -0.25 3.7 -0.2 3.95 0.0 2.9 1.5 4.3 2.45 4.15 2.75 Q3.45 2.55 2.55 1.95 L0.9 3.7 0.65 3.5 1.1 2.85 0.3 2.4 -1.5 4.4 -1.55 4.2 -0.9 2.85 -0.6 2.35 -0.35 2.0 -1.25 1.4 -1.65 2.1 -1.7 2.15 -2.75 3.9 -2.9 3.95 -3.2 3.6 -1.85 1.0 -2.5 0.5 -3.9 3.2 -4.25 3.05 -3.9 1.95 -2.9 0.2 -3.75 -0.4 -3.35 -0.6 -2.6 -0.3 -1.9 -1.55 Q-3.2 -2.95 -3.15 -3.25 L-3.25 -3.7 -2.75 -3.65 -1.6 -2.0 -0.15 -4.4 0.05 -4.15 -1.35 -1.65 -1.3 -1.7 -0.65 -1.15 Q1.05 -3.95 1.7 -3.95 2.05 -3.95 2.05 -3.55 L0.05 -0.55 Q0.5 -0.2 1.05 0.2 L3.65 -2.8 3.7 -2.7 M0.75 0.6 L-0.05 -0.05 -0.2 -0.2 -0.85 0.8 -0.3 1.15 0.1 1.45 0.75 0.6 M-1.55 -1.35 L-2.2 -0.05 -1.5 0.35 -0.85 -0.8 -1.55 -1.35"
				fill="#660000"
				fill-opacity="0.29803923"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'PigmouTailHeavyInjury0',
	props: {
		size: Number
	}
});
</script>
