<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${23.6 * size}px`"
		:width="`${23.2 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${11.25 * size}, ${10.55 * size})`">
			<path
				d="M4.5 -8.2 L4.55 -8.2 4.7 -8.1 4.75 -8.05 6.6 -6.65 7.2 -6.0 6.65 -5.4 6.55 -4.6 6.45 -4.3 5.7 -5.7 5.5 -6.0 5.45 -6.1 4.6 -6.9 4.25 -7.85 4.5 -8.2 M-6.55 -9.15 L-6.1 -9.25 -6.0 -9.3 -5.1 -9.45 -4.95 -9.45 -3.6 -9.65 -3.2 -9.7 -3.2 -9.6 Q-3.2 -9.15 -5.0 -8.2 -6.9 -7.25 -7.3 -5.65 L-7.6 -4.05 Q-8.0 -2.8 -8.0 -1.25 L-7.95 -0.9 Q-7.8 0.25 -6.35 1.8 L-5.65 2.55 -4.45 3.5 -4.25 3.65 -3.55 4.0 -2.9 4.3 -2.8 5.4 Q-2.8 6.55 -3.3 6.95 L-4.25 7.7 -5.05 8.0 -5.8 7.65 -6.45 7.3 -6.5 7.3 -6.55 7.25 -6.85 7.05 -7.7 6.05 -9.0 4.15 -9.85 2.6 -10.95 0.3 -10.9 0.25 -10.95 0.25 -11.25 -0.6 Q-11.3 -3.85 -10.0 -5.95 -8.7 -8.05 -7.05 -9.1 L-6.55 -9.15 M-1.4 4.7 Q-0.85 5.35 -0.85 5.7 -0.85 6.1 -1.35 6.8 L-2.3 7.6 -2.35 7.55 -2.05 6.95 -1.8 6.3 -2.2 4.55 -2.2 4.5 -2.1 4.55 -1.85 4.6 -1.4 4.7"
				:fill="`url(#${id}-gradient0)`"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M4.5 -8.2 L4.25 -7.85 4.6 -6.9 Q2.15 -8.9 -2.6 -8.2 -6.55 -7.35 -7.6 -4.05 L-7.3 -5.65 Q-6.9 -7.25 -5.0 -8.2 -3.2 -9.15 -3.2 -9.6 L-3.2 -9.7 -0.75 -9.8 Q1.65 -9.75 4.5 -8.2 M6.45 -4.3 L6.55 -4.6 6.65 -5.4 7.2 -6.0 Q8.35 -4.65 9.05 -2.65 L9.35 -1.55 Q9.85 0.75 8.65 3.65 L8.55 3.85 8.05 4.75 Q6.15 7.75 2.45 8.75 L0.75 9.1 Q-2.0 9.1 -3.75 8.5 L-3.9 8.45 -5.05 8.0 -4.25 7.7 -3.3 6.95 Q-2.8 6.55 -2.8 5.4 L-2.9 4.3 -2.2 4.5 -2.2 4.55 -1.8 6.3 -2.05 6.95 -2.35 7.55 -2.3 7.6 -1.35 6.8 Q-0.85 6.1 -0.85 5.7 -0.85 5.35 -1.4 4.7 L0.3 4.85 Q3.85 4.9 5.35 2.3 6.85 -0.3 6.85 -1.9 6.85 -3.2 6.45 -4.3 M-0.05 9.65 L0.15 9.65 0.35 9.65 2.45 9.35 3.15 9.15 3.2 9.15 4.85 8.45 4.8 8.45 5.45 8.1 6.45 7.4 6.6 7.25 7.05 6.9 Q9.85 4.55 10.3 1.25 L10.35 0.2 10.3 -1.0 10.45 -0.85 11.55 1.0 Q11.95 1.9 11.95 2.9 11.95 6.05 11.3 7.55 L9.75 10.2 Q8.7 11.75 8.1 12.0 L8.25 11.7 Q7.5 13.05 6.6 13.05 L6.25 12.9 6.25 12.7 Q8.3 10.05 8.3 9.45 L8.1 8.95 6.25 9.55 2.35 10.05 -0.05 9.65 M9.25 9.4 L9.15 9.35 9.1 9.55 9.25 9.4 M-6.5 7.3 L-6.45 7.3 -5.8 7.65 -6.5 7.3"
				:fill="mainSecondColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M6.6 -6.65 L4.75 -8.05 4.7 -8.1 4.55 -8.2 4.5 -8.2 Q1.65 -9.75 -0.75 -9.8 L-3.2 -9.7 -3.6 -9.65 -4.95 -9.45 -5.1 -9.45 -6.0 -9.3 -6.1 -9.25 -6.55 -9.15 Q-6.3 -9.8 -5.25 -10.15 L-0.05 -10.55 Q4.1 -10.6 7.3 -7.2 9.95 -4.3 10.3 -1.0 L10.35 0.2 10.3 1.25 Q9.85 4.55 7.05 6.9 L6.6 7.25 6.45 7.4 5.45 8.1 4.8 8.45 4.85 8.45 3.2 9.15 3.15 9.15 2.45 9.35 0.35 9.65 0.15 9.65 -0.05 9.65 Q-3.2 9.6 -3.75 8.5 -2.0 9.1 0.75 9.1 L2.45 8.75 Q6.15 7.75 8.05 4.75 L8.55 3.85 8.65 3.65 Q9.85 0.75 9.35 -1.55 L9.2 -2.3 Q8.8 -4.1 7.3 -5.9 L6.6 -6.65 M4.6 -6.9 L5.45 -6.1 5.5 -6.0 5.7 -5.7 6.45 -4.3 Q6.85 -3.2 6.85 -1.9 6.85 -0.3 5.35 2.3 3.85 4.9 0.3 4.85 L-1.4 4.7 -1.85 4.6 -2.1 4.55 -2.2 4.5 -2.9 4.3 -3.55 4.0 -4.25 3.65 -4.45 3.5 -5.65 2.55 -6.35 1.8 Q-7.8 0.25 -7.95 -0.9 L-8.0 -1.25 Q-8.0 -2.8 -7.6 -4.05 -6.55 -7.35 -2.6 -8.2 2.15 -8.9 4.6 -6.9 M3.95 -6.0 Q2.1 -7.4 -0.5 -7.55 -3.15 -7.65 -5.0 -6.3 -7.0 -4.75 -7.0 -1.95 -7.0 -0.35 -4.95 1.95 -2.9 4.2 0.4 4.05 3.65 3.9 4.75 1.8 5.85 -0.3 5.95 -1.9 5.95 -4.4 3.95 -6.0 M-10.95 0.3 L-9.85 2.6 -9.0 4.15 -7.7 6.05 -6.85 7.05 Q-8.65 5.75 -10.05 3.75 -11.35 1.85 -11.25 -0.6 L-10.95 0.25 -10.95 0.3"
				:fill="borderColor"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
		<defs>
			<radialGradient
				cx="0"
				cy="0"
				gradientTransform="matrix(0.0215, 0.0, 0.0, 0.0215, -4.5, 1.25)"
				gradientUnits="userSpaceOnUse"
				:id="`${id}-gradient0`"
				r="819.2"
				spreadMethod="pad"
			>
				<stop offset="0.0" stop-color="#ffffff" />
				<stop offset="0.0" :stop-color="mainFirstColor" />
			</radialGradient>
		</defs>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeRightKnee0',
	props: {
		mainFirstColor: String,
		mainSecondColor: String,
		borderColor: String,
		size: Number,
		id: String
	}
});
</script>
