<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${14.9 * size}px`"
		:width="`${21.9 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${18.3 * size}, ${3.15 * size})`">
			<path
				d="M-15.95 -3.15 Q-14.85 -3.15 -14.4 -1.95 L-14.15 -0.75 Q-14.15 0.0 -14.45 0.6 -15.0 1.8 -16.5 1.8 -17.95 1.8 -18.3 -0.05 -18.5 -3.15 -15.95 -3.15 M0.65 11.75 Q-1.65 11.75 -1.65 9.65 -1.65 6.5 1.2 6.5 3.3 6.5 3.6 8.55 3.6 11.75 0.65 11.75 M2.55 8.55 Q2.55 7.45 0.8 7.45 -0.45 7.45 -0.75 9.45 -0.75 10.7 0.45 10.7 2.55 10.7 2.55 8.55 M0.55 10.3 Q-0.5 10.3 -0.5 9.4 -0.5 7.95 0.7 7.95 1.75 7.95 1.8 8.85 L1.45 9.65 Q1.0 10.3 0.55 10.3"
				fill="#660000"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'PigmouPupil0',
	props: {
		size: Number
	}
});
</script>
