<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${29.55 * size}px`"
		:width="`${26.75 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${16.45 * size}, ${22.95 * size})`">
			<path
				d="M5.4 -11.3 L5.25 -11.55 5.5 -11.7 6.1 -11.7 Q7.2 -11.45 8.7 -8.35 L10.3 -4.65 Q10.4 -3.85 9.95 -3.7 0.95 -7.35 -1.8 -7.95 L1.0 -2.4 Q1.6 -0.85 2.2 2.65 L2.7 6.4 2.45 6.6 0.75 3.55 Q-1.2 -0.05 -2.05 -1.2 L-5.55 -4.6 Q-8.5 -7.35 -8.85 -8.15 L-8.9 -8.2 -8.85 -8.2 -8.9 -8.3 -8.9 -8.6 -7.5 -7.9 -5.4 -6.25 -2.6 -3.25 Q-1.3 -2.1 -0.05 -0.05 L0.3 0.55 1.35 2.55 1.5 2.95 Q1.2 -0.55 -0.1 -3.1 L-2.05 -6.2 -3.4 -8.55 -3.4 -8.7 -3.35 -8.85 -2.95 -9.2 Q-1.85 -9.55 2.5 -7.9 L8.95 -5.25 8.85 -5.8 6.5 -9.9 6.2 -10.35 6.0 -10.7 5.45 -11.25 5.4 -11.3 M-13.15 -19.8 L-10.85 -19.85 Q-8.5 -19.55 -7.5 -18.85 L-7.75 -18.75 -9.45 -19.05 -13.15 -19.4 -13.15 -19.8 M-9.85 -14.25 L-9.9 -14.4 -10.1 -14.8 -8.5 -14.4 -6.05 -13.15 -5.95 -13.15 -6.15 -13.1 Q-6.55 -13.1 -8.45 -13.8 L-9.85 -14.25"
				:fill="hairBorderColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-10.3 -9.3 L-10.6 -9.6 -10.75 -9.7 -10.8 -10.0 Q-10.2 -9.85 -10.75 -10.15 L-11.0 -10.25 Q-11.85 -10.7 -10.55 -10.5 L-10.25 -10.5 Q-9.3 -10.4 -9.1 -10.7 -9.0 -11.0 -9.7 -11.3 L-11.25 -11.95 Q-10.8 -12.0 -10.7 -12.3 L-10.7 -12.7 -10.75 -13.2 -10.05 -13.65 -9.85 -14.1 -9.85 -14.25 -8.45 -13.8 Q-6.55 -13.1 -6.15 -13.1 L-5.95 -13.15 -6.05 -13.15 -8.5 -14.4 -10.1 -14.8 -10.3 -15.3 -10.3 -15.35 -9.65 -15.95 -9.65 -16.1 -9.65 -16.15 -9.95 -16.3 Q-10.45 -17.45 -12.25 -18.05 L-12.25 -18.6 Q-12.4 -18.9 -13.15 -19.2 L-13.15 -19.4 -9.45 -19.05 -7.75 -18.75 -7.5 -18.85 Q-8.5 -19.55 -10.85 -19.85 L-13.15 -19.8 -13.15 -20.0 Q-12.45 -20.25 -12.45 -20.55 -14.55 -22.6 -15.5 -22.85 L-14.8 -22.95 Q-13.65 -22.95 -10.45 -21.95 L-10.4 -21.85 -8.05 -21.05 -5.7 -20.0 -6.3 -20.3 -3.05 -15.75 -2.9 -15.4 Q-3.25 -15.75 -6.1 -16.15 L-9.4 -16.05 -2.45 -13.55 Q-1.45 -13.0 -0.05 -12.7 1.7 -12.3 6.5 -9.9 L8.85 -5.8 8.95 -5.25 2.5 -7.9 Q-1.85 -9.55 -2.95 -9.2 L-3.35 -8.85 -5.4 -10.55 Q-7.25 -11.9 -7.25 -10.55 -7.25 -9.95 -5.6 -8.6 L-3.55 -6.95 -2.3 -5.1 -1.25 -3.2 Q-0.85 -2.6 -0.05 -0.05 -1.3 -2.1 -2.6 -3.25 L-5.4 -6.25 -7.5 -7.9 -8.9 -8.6 -8.9 -8.3 -8.85 -8.2 -8.9 -8.2 -10.3 -9.3 M-3.0 -17.1 L-3.1 -17.35 -2.9 -17.05 -3.0 -17.1 M-13.1 -16.95 L-12.85 -16.8 -13.05 -16.75 -13.1 -16.8 -13.1 -16.95"
				:fill="hairSecondColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-8.85 -8.15 L-9.2 -8.05 Q-10.05 -8.05 -10.7 -8.45 L-11.15 -8.85 Q-11.15 -9.3 -10.3 -9.3 L-8.9 -8.2 -8.85 -8.15 M-10.6 -9.6 L-11.45 -9.6 Q-12.6 -9.6 -12.75 -10.55 -12.75 -11.3 -12.1 -11.45 L-12.85 -11.95 -12.75 -12.4 -11.05 -13.25 Q-11.6 -13.25 -11.7 -13.8 L-11.65 -14.25 Q-12.75 -14.65 -13.1 -15.1 -12.5 -15.8 -11.15 -15.3 L-10.75 -15.05 -10.3 -15.3 -10.1 -14.8 -9.9 -14.4 -9.85 -14.25 -9.85 -14.1 -10.05 -13.65 -10.75 -13.2 -10.7 -12.7 -10.7 -12.3 Q-10.8 -12.0 -11.25 -11.95 L-9.7 -11.3 Q-9.0 -11.0 -9.1 -10.7 -9.3 -10.4 -10.25 -10.5 L-10.55 -10.5 Q-11.85 -10.7 -11.0 -10.25 L-10.75 -10.15 Q-10.2 -9.85 -10.8 -10.0 L-10.75 -9.7 -10.6 -9.6 M-10.3 -15.35 L-10.8 -15.6 -11.35 -15.9 -12.6 -16.5 -12.75 -16.5 -13.6 -16.5 -14.4 -16.65 -14.4 -16.6 -14.45 -16.75 -13.25 -17.05 -13.05 -17.05 -13.0 -17.2 Q-12.8 -17.5 -12.15 -17.55 L-14.35 -18.7 Q-16.4 -19.85 -16.45 -20.35 -16.6 -20.9 -13.65 -21.45 L-13.5 -21.45 Q-15.75 -22.15 -15.75 -22.4 L-15.5 -22.85 Q-14.55 -22.6 -12.45 -20.55 -12.45 -20.25 -13.15 -20.0 L-13.15 -19.8 -13.15 -19.4 -13.15 -19.2 Q-12.4 -18.9 -12.25 -18.6 L-12.25 -18.05 Q-10.45 -17.45 -9.95 -16.3 L-9.65 -16.15 -9.65 -16.1 -9.65 -15.95 -10.3 -15.35 M-13.1 -16.95 L-13.1 -16.8 -13.05 -16.75 -12.85 -16.8 -13.1 -16.95"
				:fill="hairFirstColor"
				fill-opacity="0.49803922"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-5.7 -20.0 L-3.4 -18.75 -3.25 -18.7 -3.25 -18.65 0.7 -16.15 2.65 -14.65 4.55 -12.25 5.4 -11.3 5.45 -11.25 6.0 -10.7 6.2 -10.35 6.5 -9.9 Q1.7 -12.3 -0.05 -12.7 -1.45 -13.0 -2.45 -13.55 L-9.4 -16.05 -6.1 -16.15 Q-3.25 -15.75 -2.9 -15.4 L-3.05 -15.75 -6.3 -20.3 -5.7 -20.0 M-3.35 -8.85 L-3.4 -8.7 -3.4 -8.55 -2.05 -6.2 -0.1 -3.1 Q1.2 -0.55 1.5 2.95 L1.35 2.55 0.3 0.55 -0.05 -0.05 Q-0.85 -2.6 -1.25 -3.2 L-2.3 -5.1 -3.55 -6.95 -5.6 -8.6 Q-7.25 -9.95 -7.25 -10.55 -7.25 -11.9 -5.4 -10.55 L-3.35 -8.85 M-3.0 -17.1 L-2.9 -17.05 -3.1 -17.35 -3.0 -17.1"
				:fill="hairFirstColor"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeHair12',
	props: {
		size: Number,
		hairFirstColor: String,
		hairSecondColor: String,
		hairBorderColor: String
	}
});
</script>
