<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${27.35 * size}px`"
		:width="`${22.3 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${11.15 * size}, ${13.7 * size})`">
			<path
				d="M-9.45 -1.25 L-9.85 -1.0 -7.85 -3.05 Q-5.0 -5.95 -1.45 -7.6 L-5.85 -8.25 -1.55 -9.15 1.6 -9.45 2.8 -9.7 3.25 -9.55 2.4 -11.6 2.5 -12.05 4.8 -9.65 5.7 -8.95 3.9 -8.55 5.0 -6.15 4.75 -6.15 4.85 -6.05 3.9 -5.75 4.45 -4.85 Q3.75 -3.2 1.6 -3.25 L-2.15 -3.45 -2.4 -4.15 3.3 -6.5 2.0 -6.9 0.05 -5.95 -2.25 -6.15 -9.45 -1.25 M-1.65 -1.8 L-3.95 0.2 -5.25 2.25 -6.2 4.45 -6.55 4.85 -7.6 5.8 -6.2 -0.95 -4.5 -1.6 Q-3.85 -1.75 -2.4 -2.4 L-1.65 -1.8 M-4.3 6.35 Q-4.05 5.75 -3.45 5.6 L-3.35 5.55 -1.85 5.85 -2.65 10.65 -3.35 12.05 -3.65 12.05 Q-3.2 8.4 -4.3 6.35 M-0.65 0.4 L1.9 -0.95 3.7 -0.4 3.85 0.0 -0.35 2.25 0.5 2.0 1.2 2.35 -1.25 3.95 -2.95 4.65 -0.65 0.4"
				:fill="tailSecondColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M2.8 -9.7 L1.6 -9.45 -1.55 -9.15 -5.85 -8.25 -1.45 -7.6 Q-5.0 -5.95 -7.85 -3.05 L-9.85 -1.0 -9.45 -1.25 -2.55 -2.4 -4.5 -1.6 -6.2 -0.95 -7.6 5.8 -6.55 4.85 -4.4 3.1 -5.05 4.3 Q-6.15 6.45 -8.4 7.15 L-8.7 6.55 -7.25 -0.55 -11.15 -0.15 Q-8.65 -5.0 -3.5 -7.15 L-8.25 -8.0 Q-3.65 -10.45 1.65 -10.4 1.5 -12.4 2.25 -13.7 L6.9 -9.2 6.95 -8.7 7.3 -8.15 7.05 -8.45 7.05 -8.3 4.8 -9.65 2.5 -12.05 2.4 -11.6 2.8 -9.7 M0.05 -5.95 L2.0 -6.9 3.3 -6.5 -2.4 -4.15 -2.15 -3.45 Q-0.8 -2.1 0.75 -2.0 L3.6 -1.75 3.5 -1.7 Q1.55 -0.6 -0.6 -1.45 L-1.65 -1.8 -2.4 -2.4 -3.45 -4.65 0.05 -5.95 M-4.4 6.85 L-4.3 6.35 Q-3.2 8.4 -3.65 12.05 L-3.45 12.25 -3.35 12.05 -2.65 10.65 -2.55 10.85 -3.25 13.3 -3.8 13.65 -4.25 13.05 -4.4 6.85 M-3.45 5.6 L-4.0 5.7 Q-3.35 2.6 -1.55 0.7 L-0.65 0.4 -2.95 4.65 -1.25 3.95 0.75 3.5 Q-1.05 5.0 -3.35 5.55 L-3.45 5.6"
				:fill="tailBorderColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-9.45 -1.25 L-2.25 -6.15 0.05 -5.95 -3.45 -4.65 -2.4 -2.4 Q-3.85 -1.75 -4.5 -1.6 L-2.55 -2.4 -9.45 -1.25 M-2.15 -3.45 L1.6 -3.25 Q3.75 -3.2 4.45 -4.85 L3.9 -5.75 4.85 -6.05 8.45 -1.85 3.6 -1.75 0.75 -2.0 Q-0.8 -2.1 -2.15 -3.45 M5.0 -6.15 L3.9 -8.55 5.7 -8.95 4.8 -9.65 7.05 -8.3 7.45 -5.85 5.0 -6.15 M2.4 -11.6 L3.25 -9.55 2.8 -9.7 2.4 -11.6 M-6.55 4.85 L-6.2 4.45 -5.25 2.25 -3.95 0.2 -1.65 -1.8 -0.6 -1.45 Q1.55 -0.6 3.5 -1.7 L7.65 1.05 1.25 1.55 4.05 2.0 3.25 2.4 Q0.8 3.8 -0.85 6.2 L0.9 5.7 -1.15 8.3 -2.55 10.85 -2.65 10.65 -1.85 5.85 -3.35 5.55 Q-1.05 5.0 0.75 3.5 L-1.25 3.95 1.2 2.35 0.5 2.0 -0.35 2.25 3.85 0.0 3.7 -0.4 1.9 -0.95 -0.65 0.4 -1.55 0.7 Q-3.35 2.6 -4.0 5.7 L-3.45 5.6 Q-4.05 5.75 -4.3 6.35 L-4.4 6.85 -4.6 7.15 -4.75 7.2 -5.05 4.3 -4.4 3.1 -6.55 4.85 M-3.35 12.05 L-3.45 12.25 -3.65 12.05 -3.35 12.05"
				:fill="tailFirstColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M4.85 -6.05 L4.75 -6.15 5.0 -6.15 7.45 -5.85 7.05 -8.3 7.05 -8.45 7.3 -8.15 11.05 -3.4 7.75 -4.9 11.15 -0.05 8.05 -1.2 10.2 2.15 8.7 1.45 9.15 4.7 8.45 4.2 7.75 3.5 Q6.7 2.5 5.1 2.7 L8.0 5.45 3.9 4.65 4.25 5.35 2.1 5.9 3.1 6.25 1.55 8.0 1.9 8.75 0.75 10.9 0.4 9.4 -1.25 8.9 -1.15 8.3 0.9 5.7 -0.85 6.2 Q0.8 3.8 3.25 2.4 L4.05 2.0 1.25 1.55 7.65 1.05 3.5 -1.7 3.6 -1.75 8.45 -1.85 4.85 -6.05"
				:fill="tailThirdColor"
				fill-opacity="0.49803922"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'PigmouFur1',
	props: {
		size: Number,
		tailBorderColor: String,
		tailFirstColor: String,
		tailSecondColor: String,
		tailThirdColor: String
	}
});
</script>
