<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${5.75 * size}px`"
		:width="`${13.45 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${9.3 * size}, ${-10.85 * size})`">
			<path
				d="M1.4 15.9 L1.45 15.9 1.95 16.0 2.1 16.0 2.2 16.0 Q3.5 16.0 3.6 14.4 L3.45 14.1 2.8 13.85 2.2 13.8 Q1.1 13.8 0.8 15.0 L0.8 15.05 0.95 15.5 1.4 15.9 M4.15 14.4 Q3.95 16.6 2.25 16.6 0.5 16.6 0.25 15.0 0.25 13.2 2.85 13.2 4.0 13.2 4.15 14.4 M-7.2 11.5 L-7.5 11.45 Q-8.35 11.45 -8.65 13.45 -8.55 14.1 -8.05 14.1 -7.25 14.1 -6.9 13.35 L-6.65 12.5 -6.65 12.4 -6.65 12.3 -6.65 12.2 -6.65 12.15 -6.85 11.7 -7.2 11.5 M-7.1 10.85 Q-6.05 10.85 -6.05 12.5 -6.05 14.7 -8.05 14.7 -9.15 14.7 -9.3 13.45 L-8.8 12.0 Q-8.1 10.85 -7.1 10.85 M-2.6 12.85 L-2.95 12.8 -3.8 13.4 -4.15 14.1 Q-4.15 14.95 -3.7 14.95 L-3.65 14.95 Q-1.95 14.95 -1.95 13.6 -1.95 12.95 -2.6 12.85 M-4.75 14.1 Q-4.75 12.3 -2.7 12.3 -1.35 12.3 -1.35 13.6 -1.35 15.55 -3.4 15.55 -4.65 15.55 -4.75 14.1"
				fill="#a36a6a"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M0.95 15.5 L0.8 15.05 0.8 15.0 Q1.1 13.8 2.2 13.8 L2.8 13.85 3.45 14.1 3.6 14.4 Q3.5 16.0 2.2 16.0 L2.1 16.0 1.95 16.0 1.45 15.9 1.4 15.9 1.3 15.85 1.45 15.7 1.25 15.8 0.95 15.5 M-7.2 11.5 L-6.85 11.7 -6.65 12.15 -6.65 12.2 -6.65 12.3 -6.65 12.4 -6.65 12.5 -6.9 13.35 Q-7.25 14.1 -8.05 14.1 L-7.65 13.25 -7.2 11.5 M-3.65 14.95 L-3.4 13.95 -2.6 12.85 Q-1.95 12.95 -1.95 13.6 -1.95 14.95 -3.65 14.95"
				fill="#e0cca3"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M0.95 15.5 L1.25 15.8 1.45 15.7 1.3 15.85 1.4 15.9 0.95 15.5 M-8.05 14.1 Q-8.55 14.1 -8.65 13.45 -8.35 11.45 -7.5 11.45 L-7.2 11.5 -7.65 13.25 -8.05 14.1 M-2.6 12.85 L-3.4 13.95 -3.65 14.95 -3.7 14.95 Q-4.15 14.95 -4.15 14.1 L-3.8 13.4 -2.95 12.8 -2.6 12.85"
				fill="#ffffcc"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'PigmouBackRightNail0',
	props: {
		size: Number
	}
});
</script>
