<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${6.1 * size}px`"
		:width="`${10.1 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${-0.05 * size}, 0.0)`">
			<path
				d="M5.5 0.05 L5.55 0.05 7.05 0.1 7.7 0.3 8.8 0.8 Q9.95 1.55 10.1 2.25 10.3 3.8 9.5 4.65 8.7 4.5 7.8 4.65 L7.7 4.65 7.2 4.75 5.2 5.25 5.05 5.2 Q7.6 4.5 7.6 2.3 7.6 1.1 6.2 0.4 L5.5 0.05 M1.4 1.9 L2.3 1.85 2.35 3.0 2.35 3.15 2.35 3.1 2.0 2.9 1.4 1.9 M2.55 3.9 L2.6 4.05 2.85 4.6 3.45 5.4 3.15 5.6 2.2 6.0 2.1 6.05 1.4 6.1 0.9 5.95 0.6 5.7 1.3 5.25 2.25 4.2 2.5 3.85 2.5 3.75 2.5 3.7 2.55 3.8 2.55 3.9"
				fill="#c7c9da"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M5.5 0.05 L6.2 0.4 Q7.6 1.1 7.6 2.3 7.6 4.5 5.05 5.2 3.6 4.6 3.35 2.8 2.95 0.4 5.5 0.05 M6.1 2.05 Q6.05 1.15 5.2 1.25 3.55 1.45 3.75 2.65 3.9 3.8 5.35 3.65 6.35 3.5 6.1 2.05 M1.4 1.9 L2.0 2.9 1.75 2.85 1.65 2.85 1.45 2.95 1.35 3.0 1.3 3.0 Q1.05 3.2 1.1 3.7 L1.8 4.3 Q2.4 4.2 2.5 3.85 L2.25 4.2 1.3 5.25 0.6 5.7 Q0.2 5.3 0.1 4.5 -0.25 2.25 1.4 1.9"
				fill="#ffffff"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M6.1 2.05 Q6.35 3.5 5.35 3.65 3.9 3.8 3.75 2.65 3.55 1.45 5.2 1.25 6.05 1.15 6.1 2.05 M2.0 2.9 L2.35 3.1 2.35 3.15 2.35 3.1 2.55 3.85 2.55 3.9 2.55 3.8 2.5 3.7 2.5 3.75 2.5 3.85 Q2.4 4.2 1.8 4.3 L1.1 3.7 Q1.05 3.2 1.3 3.0 L1.35 3.0 1.45 2.95 1.65 2.85 1.75 2.85 2.0 2.9"
				fill="#660000"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeEye1',
	props: {
		size: Number
	}
});
</script>
