<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${25.8 * size}px`"
		:width="`${19.9 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${21.45 * size}, ${2.25 * size})`">
			<path
				d="M-16.65 -0.45 L-17.75 2.75 Q-18.95 5.9 -19.7 7.25 L-19.85 7.35 -19.95 7.1 Q-17.9 -0.9 -17.0 -0.9 -16.65 -0.9 -16.65 -0.45 M-17.85 -1.95 Q-17.85 -1.35 -19.2 3.05 -20.6 7.5 -21.3 9.05 L-21.45 8.1 Q-21.45 6.2 -20.3 2.45 -19.1 -1.4 -18.2 -2.25 -17.85 -2.25 -17.85 -1.95 M-16.05 1.95 Q-15.75 2.1 -15.75 2.45 -15.75 3.55 -17.2 6.5 L-18.95 9.65 -17.6 5.05 Q-16.7 2.15 -16.05 1.95 M-5.75 21.55 L-5.3 22.05 -4.7 21.6 -5.25 21.1 -5.75 21.55 M-5.9 20.45 Q-7.05 19.3 -7.05 18.95 L-6.45 18.6 -5.25 19.95 -5.15 19.9 Q-2.7 18.15 -1.55 17.6 L-4.7 20.6 -4.2 21.15 -2.15 19.5 Q-1.7 19.5 -1.7 20.0 L-3.8 21.6 -3.05 22.5 -3.3 22.65 -4.3 21.95 -4.95 22.45 -4.7 22.7 -5.1 23.15 -5.6 22.95 -6.35 23.45 -6.65 23.25 -6.0 22.65 -6.6 22.2 -8.25 23.55 -8.55 23.2 Q-8.55 22.65 -7.3 21.6 L-8.55 19.95 -8.1 19.7 Q-7.65 19.7 -6.45 20.85 L-5.9 20.45"
				fill="#660000"
				fill-opacity="0.5921569"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeLeftArmMinorInjury0',
	props: {
		size: Number
	}
});
</script>
