<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${25.5 * size}px`"
		:width="`${21.6 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, 0.0, 0.0)`">
			<path
				d="M21.6 11.5 Q21.6 14.25 18.6 15.75 15.6 17.3 9.9 17.3 5.55 17.3 3.6 16.25 1.05 14.9 1.05 11.3 L1.25 10.55 Q2.25 11.35 3.45 11.65 L7.15 11.9 Q11.9 11.9 15.95 8.9 18.0 7.35 19.5 5.85 20.35 5.85 21.0 8.0 21.6 9.9 21.6 11.5 M16.55 0.0 Q16.95 0.25 17.75 1.8 L18.55 3.25 16.2 5.15 13.05 7.45 Q10.4 8.7 9.25 8.95 L5.6 9.15 1.65 8.8 Q0.0 8.3 0.0 6.75 0.0 5.25 0.15 4.6 L1.9 5.2 3.9 5.25 Q7.95 5.25 12.3 3.2 16.25 1.35 16.55 0.0 M11.3 21.95 L11.3 21.9 12.3 21.6 13.7 21.3 Q14.5 21.3 15.85 22.05 17.55 23.0 17.55 24.35 L17.55 24.5 Q17.4 25.2 15.9 25.5 16.0 24.85 14.85 24.05 13.75 23.3 12.8 23.3 11.15 23.3 10.95 24.3 L11.05 23.1 11.15 22.85 11.3 22.1 11.3 21.95 M8.9 21.3 L9.3 21.3 Q11.2 21.35 11.3 21.9 L11.1 21.9 11.05 23.1 Q10.85 23.4 10.8 23.85 L10.7 23.7 Q9.85 22.5 7.9 22.5 L6.7 22.8 6.75 22.4 6.95 22.05 7.25 21.55 8.9 21.3 M3.35 20.1 L3.1 20.1 3.3 19.9 Q3.7 19.5 4.05 19.3 4.55 18.95 4.9 18.95 L6.2 19.65 6.45 19.85 7.1 20.45 7.45 21.05 7.25 21.55 Q6.85 21.8 6.75 22.4 L6.3 23.0 Q6.45 22.5 5.6 21.4 L5.2 20.95 Q4.4 20.1 3.35 20.1"
				:fill="brighterSpecialColor"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'PigmouBackRightLegSpecial0',
	props: {
		size: Number,
		brighterSpecialColor: String
	}
});
</script>
