<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${68.5 * size}px`"
		:width="`${62.05 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, 0.0, 0.0)`">
			<path
				d="M62.05 19.45 Q61.6 21.65 56.45 24.1 49.8 27.2 40.85 27.2 29.3 27.2 21.1 23.65 14.75 20.85 12.85 17.0 13.3 15.0 15.6 11.7 L17.45 9.35 Q19.15 13.6 25.65 16.15 32.8 18.9 43.75 18.9 49.85 18.9 55.5 16.8 60.1 15.15 60.75 13.6 61.35 15.1 61.75 17.35 L61.9 18.25 62.05 19.45 M58.9 34.95 Q56.1 36.1 50.5 38.8 43.65 41.35 33.65 41.35 25.2 41.35 17.65 38.5 10.25 35.75 7.3 31.3 8.05 28.7 8.95 26.4 L9.55 24.9 9.9 24.05 Q12.0 29.2 20.45 32.1 28.55 34.9 40.0 34.9 49.95 34.9 56.25 30.95 L60.9 26.7 61.4 26.45 60.1 31.35 58.9 34.95 M57.25 7.4 L57.4 7.55 Q57.15 8.85 53.85 10.35 49.2 12.45 41.55 12.45 34.9 12.45 30.75 10.85 26.0 9.05 23.5 4.75 L23.3 3.05 24.75 2.1 Q26.4 1.1 28.2 0.6 L30.65 0.0 Q30.0 1.3 30.0 2.15 30.0 4.7 33.3 6.2 36.0 7.45 39.05 7.45 43.2 7.45 46.2 5.6 48.7 4.05 48.7 2.7 L48.65 1.7 48.6 1.55 49.9 2.1 Q52.5 3.35 54.65 5.05 L56.45 6.6 57.25 7.4 M31.7 67.8 L31.45 67.7 31.05 67.75 Q22.9 68.45 17.3 66.4 17.05 66.6 16.8 66.6 16.15 66.6 12.65 64.85 L10.3 63.65 Q7.45 62.25 5.1 60.05 1.15 56.8 0.25 52.15 L0.0 49.6 Q2.95 57.3 11.95 61.75 20.9 66.15 32.7 66.15 37.5 66.15 42.35 64.8 L45.45 63.75 44.7 64.8 Q41.5 69.0 36.25 68.45 L36.15 68.45 Q33.9 68.5 31.7 67.8"
				:fill="brighterSpecialColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M47.0 47.6 Q51.75 45.5 54.75 44.5 L54.55 45.0 54.2 45.5 53.15 47.2 51.6 49.6 51.05 50.5 49.95 52.05 Q44.5 54.15 39.95 55.35 34.55 56.55 29.45 56.55 19.8 56.55 13.7 53.95 6.6 50.95 2.5 43.25 3.7 41.65 4.85 40.5 L4.9 39.85 4.95 39.55 5.3 38.05 Q6.55 39.9 8.45 41.75 12.35 45.65 17.05 46.8 L26.45 48.5 34.65 49.25 Q42.2 49.25 47.0 47.6"
				:fill="darkerSpecialColor"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'PigmouHeadSpecial0',
	props: {
		size: Number,
		brighterSpecialColor: String,
		darkerSpecialColor: String
	}
});
</script>
