<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${15.8 * size}px`"
		:width="`${23.35 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${11.65 * size}, ${7.9 * size})`">
			<path
				d="M-3.45 -3.05 L-3.8 -2.7 -3.8 -2.65 -3.65 -2.35 -3.3 -2.25 -3.25 -2.25 -2.55 -2.4 -2.5 -2.4 0.05 -2.9 0.95 -1.6 1.0 -1.55 Q1.2 -1.15 2.1 -0.75 L3.2 -0.35 3.25 -0.3 3.25 -0.25 2.75 0.85 2.8 1.85 Q3.45 1.55 3.8 0.9 L4.0 0.6 4.2 0.95 4.25 1.0 4.7 1.55 4.75 1.55 4.25 2.05 Q3.0 3.25 0.85 3.25 L-4.25 2.5 Q-7.65 1.65 -8.6 0.6 L-10.35 -1.25 -10.45 -1.35 -10.45 -1.55 -10.45 -1.65 -10.45 -1.75 -10.2 -3.7 -10.2 -3.75 -9.6 -6.75 -9.45 -6.75 -9.35 -6.35 -9.2 -5.8 Q-8.6 -3.9 -7.6 -3.95 -6.65 -3.95 -5.8 -4.45 L-5.6 -3.5 Q-5.4 -2.8 -5.05 -2.85 -4.65 -2.8 -4.55 -3.5 L-3.45 -3.05 M5.7 2.05 L5.75 2.05 5.8 2.1 6.35 2.15 6.45 2.15 6.5 2.15 6.9 2.05 7.0 1.75 7.0 1.7 6.9 1.4 7.1 1.4 Q7.4 1.55 7.35 2.05 7.0 3.9 5.6 3.9 L4.95 3.15 Q4.95 2.8 5.6 2.1 L5.7 2.05"
				:fill="`url(#${id}-gradient0)`"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-3.45 -3.05 L-3.4 -3.05 -3.35 -3.1 -1.95 -3.6 0.15 -4.1 Q1.15 -4.15 1.65 -2.45 L1.65 -2.4 Q2.2 -1.7 3.55 -1.5 4.55 -1.3 4.7 -0.8 4.9 -0.1 5.05 0.1 L6.75 1.25 6.8 1.35 6.9 1.4 7.0 1.7 7.0 1.75 6.9 2.05 6.5 2.15 6.45 2.15 6.35 2.15 5.8 2.1 5.75 2.05 5.7 2.05 5.55 2.0 4.75 1.55 4.7 1.55 4.25 1.0 4.2 0.95 4.0 0.6 3.95 0.6 3.95 0.55 3.25 -0.25 3.25 -0.3 3.2 -0.35 2.1 -0.75 Q1.2 -1.15 1.0 -1.55 L0.95 -1.6 0.05 -2.9 -2.5 -2.4 -2.55 -2.4 -3.25 -2.25 -3.3 -2.25 -3.65 -2.35 -3.8 -2.65 -3.8 -2.7 -3.45 -3.05 M7.9 1.95 L7.5 1.2 Q7.5 0.95 7.75 0.95 L8.25 1.55 8.4 1.9 8.5 2.25 8.45 2.65 8.3 2.7 7.9 1.95 M8.85 1.65 L8.55 1.25 Q8.55 1.0 8.85 1.0 9.3 1.0 9.9 2.1 L10.15 2.6 10.2 2.8 9.9 3.05 8.85 1.65 M11.25 4.45 L11.4 4.35 11.55 4.3 11.65 4.35 11.65 4.4 11.7 4.5 11.65 4.65 11.65 4.6 11.4 5.0 11.3 5.1 11.35 5.05 11.15 5.3 11.15 5.25 10.8 5.8 10.65 5.9 10.65 5.95 10.05 6.55 9.6 6.85 Q8.05 7.85 3.5 7.85 L3.45 7.85 Q0.5 8.05 -2.3 7.3 -4.2 6.9 -5.7 6.2 -9.85 4.4 -9.9 3.05 L-11.1 1.15 Q-11.65 -0.15 -11.65 -1.65 L-11.15 -4.95 Q-10.5 -7.8 -9.55 -7.9 L-9.4 -7.9 Q-8.1 -7.8 -7.35 -5.2 L-5.7 -5.6 Q-5.1 -5.6 -4.8 -5.15 -4.55 -4.75 -4.55 -3.95 L-4.55 -3.55 -4.55 -3.5 Q-4.65 -2.8 -5.05 -2.85 -5.4 -2.8 -5.6 -3.5 L-5.8 -4.45 Q-6.65 -3.95 -7.6 -3.95 -8.6 -3.9 -9.2 -5.8 L-9.35 -6.35 -9.45 -6.75 -9.6 -6.75 -10.2 -3.75 -10.2 -3.7 -10.45 -1.75 -10.45 -1.65 -10.45 -1.55 -10.45 -1.35 Q-10.4 0.35 -9.5 1.85 L-9.45 1.9 Q-8.7 2.8 -8.5 3.2 L-4.95 5.25 Q-3.85 5.85 -2.7 6.1 L-2.6 6.15 -2.15 6.3 -2.05 6.35 -1.95 6.35 -0.9 6.5 0.25 6.65 0.3 6.65 0.5 6.7 3.05 6.75 3.65 6.55 6.55 5.7 6.7 5.7 6.8 5.8 6.8 5.9 6.75 6.05 6.15 6.55 7.05 6.35 7.65 6.1 9.75 4.85 9.85 4.8 10.0 4.85 9.95 4.85 10.05 4.95 10.1 5.1 10.1 5.15 10.1 5.3 10.45 4.95 10.6 4.8 10.65 4.8 10.7 4.8 11.1 4.55 11.25 4.45"
				:fill="mainFifthColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M3.25 -0.25 L3.95 0.55 3.95 0.6 4.0 0.6 3.8 0.9 Q3.45 1.55 2.8 1.85 L2.75 0.85 3.25 -0.25 M4.75 1.55 L5.55 2.0 5.7 2.05 5.6 2.1 Q4.95 2.8 4.95 3.15 L5.6 3.9 Q7.0 3.9 7.35 2.05 7.4 1.55 7.1 1.4 L7.65 1.45 7.9 1.95 8.3 2.7 8.45 2.65 8.5 2.25 8.4 1.9 8.25 1.55 8.85 1.65 9.9 3.05 10.2 2.8 10.15 2.6 9.9 2.1 10.45 2.55 Q11.2 3.25 11.25 4.45 L11.1 4.55 Q11.0 4.4 10.85 4.4 L10.45 4.75 10.2 4.9 10.2 4.85 10.45 3.8 7.5 5.5 7.5 5.45 8.15 4.05 5.85 5.4 Q4.75 5.9 3.45 5.9 L3.5 5.85 Q3.9 5.7 4.3 4.6 2.85 5.4 0.7 5.75 L-1.95 6.35 -2.05 6.35 -2.15 6.3 -2.6 6.15 -2.7 6.1 Q-3.85 5.85 -4.95 5.25 L-8.5 3.2 Q-8.7 2.8 -9.45 1.9 L-9.5 1.85 Q-10.4 0.35 -10.45 -1.35 L-10.35 -1.25 -8.6 0.6 Q-7.65 1.65 -4.25 2.5 L0.85 3.25 Q3.0 3.25 4.25 2.05 L4.75 1.55"
				:fill="mainSecondColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M11.1 4.55 L10.7 4.8 10.65 4.8 10.6 4.8 10.45 4.95 10.1 5.3 10.1 5.15 10.1 5.1 10.05 4.95 9.95 4.85 10.0 4.85 9.85 4.8 9.75 4.85 7.65 6.1 7.05 6.35 6.15 6.55 6.75 6.05 6.8 5.9 6.8 5.8 6.7 5.7 6.55 5.7 3.65 6.55 3.05 6.75 0.5 6.7 0.3 6.65 0.25 6.65 -0.9 6.5 -1.95 6.35 0.7 5.75 Q2.85 5.4 4.3 4.6 3.9 5.7 3.5 5.85 L3.45 5.9 Q4.75 5.9 5.85 5.4 L8.15 4.05 7.5 5.45 7.5 5.5 10.45 3.8 10.2 4.85 10.2 4.9 10.45 4.75 10.85 4.4 Q11.0 4.4 11.1 4.55"
				:fill="mainThirdColor"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
		<defs>
			<radialGradient
				cx="0"
				cy="0"
				gradientTransform="matrix(0.0075, 0.0058, -0.008, 0.0104, -6.6, -4.85)"
				gradientUnits="userSpaceOnUse"
				:id="`${id}-gradient0`"
				r="819.2"
				spreadMethod="pad"
			>
				<stop offset="0.0" stop-color="#ffffff" />
				<stop offset="0.0" :stop-color="mainFirstColor" />
			</radialGradient>
		</defs>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'PigmouMouth0',
	props: {
		size: Number,
		mainFirstColor: String,
		mainSecondColor: String,
		mainThirdColor: String,
		mainFifthColor: String,
		id: String
	}
});
</script>
