<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${15.0 * size}px`"
		:width="`${23.8 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${11.9 * size}, ${7.5 * size})`">
			<path
				d="M3.95 -2.4 L3.65 -2.3 3.7 -2.4 4.6 -3.15 5.1 -3.0 3.95 -0.9 7.2 -2.15 6.55 -0.9 9.8 -0.9 8.85 0.5 10.05 0.85 9.8 1.45 9.05 1.85 11.9 1.7 11.15 2.65 7.85 3.6 7.6 3.55 8.05 3.4 9.15 2.7 7.65 2.8 7.4 3.0 6.5 3.05 7.25 2.3 8.85 1.25 6.25 1.55 8.55 0.1 3.1 1.9 4.15 1.2 5.85 -0.5 0.3 1.6 0.45 1.45 0.45 1.4 2.15 -0.4 2.3 -0.55 3.95 -2.4"
				:fill="tailThirdColor"
				fill-opacity="0.49803922"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M5.1 -3.0 L4.6 -3.15 3.7 -2.4 3.65 -2.3 3.95 -2.4 2.8 -2.1 2.55 -1.8 1.85 -1.5 2.95 -3.05 1.6 -2.3 0.65 -1.4 0.05 -1.2 -0.75 -0.6 0.45 -3.2 0.75 -3.4 1.0 -4.1 -0.25 -3.7 -3.35 -1.55 -1.9 -2.9 -1.45 -3.8 -1.15 -4.8 -3.6 -3.15 -2.95 -5.35 -5.5 -3.05 -5.55 -5.65 -5.9 -5.65 -5.3 -7.5 -4.7 -5.1 -3.2 -6.35 -2.25 -6.8 -2.4 -4.95 -0.9 -5.6 -0.5 -5.05 1.05 -5.1 1.25 -4.15 2.75 -4.7 2.7 -3.85 5.1 -3.0"
				:fill="tailThirdColor"
				fill-opacity="0.49803922"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-5.55 -5.65 L-5.5 -3.05 -2.95 -5.35 -3.6 -3.15 -1.15 -4.8 -1.45 -3.8 -1.9 -2.9 -3.35 -1.55 -0.25 -3.7 1.0 -4.1 0.75 -3.4 0.45 -3.2 -0.75 -0.6 0.05 -1.2 0.65 -1.4 1.6 -2.3 2.95 -3.05 1.85 -1.5 2.55 -1.8 2.8 -2.1 3.95 -2.4 3.6 -2.3 1.7 -1.1 -1.25 0.55 -4.65 3.35 -4.95 3.65 -3.9 2.4 -3.85 2.4 -3.45 1.9 -3.45 1.85 Q-2.5 0.5 -2.5 -0.05 L-2.15 -0.9 -2.15 -0.95 -2.2 -1.05 -2.25 -1.05 -2.3 -1.0 -2.35 -0.9 -2.0 -1.55 -2.05 -1.7 -4.9 1.25 -6.6 2.55 Q-5.65 1.65 -5.65 1.1 L-5.3 0.1 -5.3 0.05 -5.35 -0.05 -5.4 -0.05 -5.45 0.0 -5.9 0.65 -5.95 0.65 -8.55 1.9 Q-6.7 0.4 -6.25 -2.25 L-5.55 -5.65 M2.15 -0.9 L2.2 -0.95 2.15 -0.9 M-3.1 3.0 L-3.2 3.05 -3.1 3.0 M-8.0 3.65 L-8.05 3.7 -7.95 3.6 -8.0 3.65 M-0.55 2.25 L-0.35 2.3 -0.45 2.35 Q-2.85 4.2 -3.85 5.4 L-2.95 3.35 -0.55 2.25 M-0.25 4.25 L-0.25 4.2 -0.2 4.2 -0.25 4.25 M0.45 1.45 L0.4 1.45 0.45 1.45 M-3.0 2.4 L-3.0 2.35 -2.95 2.4 -3.0 2.4"
				:fill="tailSecondColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M3.95 -2.4 L2.3 -0.55 2.15 -0.4 0.45 1.4 0.45 1.45 0.3 1.6 5.85 -0.5 4.15 1.2 3.1 1.9 8.55 0.1 6.25 1.55 8.85 1.25 7.25 2.3 7.0 2.25 6.95 2.25 3.45 3.35 3.4 3.35 -1.2 5.2 -0.25 4.2 -0.25 4.25 0.7 3.8 0.75 3.75 0.75 3.65 0.7 3.6 0.2 3.5 Q-0.75 3.5 -2.05 4.25 -2.85 4.75 -3.8 5.55 L-3.9 5.65 -3.85 5.4 Q-2.85 4.2 -0.45 2.35 L-0.35 2.3 -0.55 2.25 -0.5 2.2 -0.5 2.15 -0.5 2.1 -0.55 2.05 -0.75 2.0 -0.85 2.0 -3.1 3.0 -3.2 3.05 -3.25 3.1 -5.1 3.8 -4.95 3.65 -4.65 3.35 -1.25 0.55 1.7 -1.1 3.6 -2.3 3.95 -2.4 M6.5 3.05 L7.4 3.0 7.65 2.8 9.15 2.7 8.75 2.8 6.9 3.25 6.85 3.25 4.05 4.05 4.5 3.65 6.5 3.05 M2.15 -0.9 L2.2 -0.95 2.15 -0.9 M-2.35 -0.9 L-2.4 -0.85 -4.0 1.75 -4.5 2.15 -8.0 3.65 -7.95 3.6 -6.6 2.55 -4.9 1.25 -2.05 -1.7 -2.0 -1.55 -2.35 -0.9 M0.45 1.45 L0.4 1.45 0.45 1.45 M-3.0 2.4 L-2.95 2.4 -3.0 2.35 -3.0 2.4"
				:fill="tailFirstColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-5.9 -5.65 L-5.55 -5.65 -6.25 -2.25 Q-6.7 0.4 -8.55 1.9 L-5.95 0.65 -5.9 0.65 -5.45 0.0 -5.4 -0.05 -5.35 -0.05 -5.3 0.05 -5.3 0.1 -5.65 1.1 Q-5.65 1.65 -6.6 2.55 L-7.95 3.6 -8.05 3.7 -8.0 3.65 -4.5 2.15 -4.0 1.75 -2.4 -0.85 -2.35 -0.9 -2.3 -1.0 -2.25 -1.05 -2.2 -1.05 -2.15 -0.95 -2.15 -0.9 -2.5 -0.05 Q-2.5 0.5 -3.45 1.85 L-3.45 1.9 -3.85 2.4 -3.9 2.4 -4.95 3.65 -5.1 3.8 -3.25 3.1 -3.2 3.05 -3.1 3.0 -0.85 2.0 -0.75 2.0 -0.55 2.05 -0.5 2.1 -0.5 2.15 -0.5 2.2 -0.55 2.25 -2.95 3.35 -3.85 5.4 -3.9 5.65 -3.8 5.55 Q-2.85 4.75 -2.05 4.25 -0.75 3.5 0.2 3.5 L0.7 3.6 0.75 3.65 0.75 3.75 0.7 3.8 -0.25 4.25 -0.2 4.2 -0.25 4.2 -1.2 5.2 3.4 3.35 3.45 3.35 6.95 2.25 7.0 2.25 7.25 2.3 6.5 3.05 4.5 3.65 4.05 4.05 6.85 3.25 6.9 3.25 8.75 2.8 9.15 2.7 8.05 3.4 7.6 3.55 6.2 4.1 2.95 5.15 2.9 5.15 Q2.55 5.15 2.55 4.85 L3.15 4.15 Q-1.9 6.3 -2.5 6.3 L-2.85 6.0 -2.25 5.2 -2.8 5.6 Q-4.5 7.55 -4.75 7.5 -5.15 7.5 -5.15 7.15 L-4.45 5.3 -3.55 3.65 -6.55 4.85 Q-6.95 4.85 -6.95 4.55 L-6.15 3.7 -6.75 3.95 Q-9.85 5.25 -10.85 5.25 -11.2 5.25 -11.2 4.85 L-11.15 4.8 -11.15 4.75 Q-8.95 3.65 -7.4 2.3 L-8.4 2.7 Q-10.85 3.65 -11.6 3.65 L-11.75 3.6 -11.85 3.55 -11.9 3.45 -11.9 3.4 Q-11.9 3.0 -9.0 1.3 -8.5 0.75 -7.7 -0.75 L-7.65 -0.75 -7.25 -2.3 -6.75 -4.8 -6.7 -4.85 -5.9 -5.65"
				:fill="tailBorderColor"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'PigmouMouthSpecial0',
	props: {
		size: Number,
		tailBorderColor: String,
		tailFirstColor: String,
		tailSecondColor: String,
		tailThirdColor: String
	}
});
</script>
