<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${24.55 * size}px`"
		:width="`${24.7 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${12.3 * size}, ${12.3 * size})`">
			<path
				d="M9.85 -2.9 L9.95 -2.9 10.25 -1.9 10.25 -1.85 Q9.75 0.45 9.75 1.15 11.5 3.05 11.5 4.0 L11.3 4.6 11.05 5.05 10.9 4.9 Q10.45 5.1 9.85 5.6 8.7 6.4 6.95 8.05 5.0 11.25 1.0 11.25 -5.6 11.25 -9.4 7.95 L-10.4 6.8 Q-9.5 7.6 -7.75 8.3 -4.6 9.55 -1.35 9.55 1.5 9.55 1.5 8.1 1.5 7.5 0.8 7.0 L1.4 7.05 4.65 6.95 5.65 6.45 7.0 5.25 Q8.3 3.6 8.3 2.95 8.3 2.2 6.2 0.05 L3.4 -2.4 Q0.6 -3.55 -5.4 -3.95 -6.05 -4.3 -6.9 -5.15 L-7.35 -5.65 Q-5.0 -4.65 1.15 -4.65 4.85 -4.65 4.95 -7.6 7.55 -5.55 9.65 -2.45 L10.15 -1.65 10.0 -2.35 9.85 -2.9 M-11.3 -6.85 Q-10.8 -6.55 -9.9 -6.5 L-8.75 -6.7 Q-8.0 -5.2 -7.15 -4.25 -8.6 -4.75 -9.8 -6.0 L-10.25 -5.75 -10.35 -5.35 -10.2 -3.75 -11.1 -4.6 -10.85 -4.4 -11.3 -6.65 -11.3 -6.85 M-10.9 0.2 Q-10.5 -0.9 -10.0 -1.15 L-9.95 -0.65 -9.9 0.15 -9.9 0.2 -9.9 1.35 -9.95 1.6 -9.9 1.55 -9.75 3.1 -10.1 2.95 Q-10.85 2.95 -11.2 3.6 L-11.2 3.05 -11.15 2.75 -10.65 0.6 Q-10.65 0.25 -10.9 0.2"
				:fill="mainSecondColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M9.85 -2.9 L10.0 -2.35 10.15 -1.65 9.65 -2.45 Q7.55 -5.55 4.95 -7.6 L3.7 -8.5 Q1.45 -10.0 -1.2 -10.75 -8.2 -12.8 -11.35 -9.3 L-11.35 -8.85 -11.3 -6.85 -11.3 -6.65 -10.85 -4.4 -11.1 -4.6 -11.6 -5.1 Q-12.55 -6.4 -12.25 -8.7 -11.9 -11.8 -8.65 -12.05 -2.5 -13.0 2.85 -10.1 6.75 -7.95 9.35 -4.3 L9.85 -2.9 M-10.4 6.8 L-9.4 7.95 Q-5.6 11.25 1.0 11.25 5.0 11.25 6.95 8.05 8.7 6.4 9.85 5.6 10.45 5.1 10.9 4.9 L11.05 5.05 11.1 5.1 Q6.6 9.85 5.1 10.95 3.35 12.25 1.05 12.25 -4.3 12.25 -8.05 10.2 -12.2 8.0 -12.2 4.25 -12.05 0.2 -10.95 0.2 L-10.9 0.2 Q-10.65 0.25 -10.65 0.6 L-11.15 2.75 -11.2 3.05 -11.2 3.6 -10.85 5.7 -10.4 6.8"
				:fill="mainFifthColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M11.3 4.6 L11.5 4.0 Q11.5 3.05 9.75 1.15 9.75 0.45 10.25 -1.85 L10.25 -1.9 10.2 -2.1 Q11.15 -1.85 11.55 -0.25 11.0 0.15 10.6 1.1 12.4 2.2 12.4 3.0 12.4 4.8 11.15 4.95 L11.3 4.6 M-11.1 -4.6 L-10.2 -3.75 -10.0 -1.15 Q-10.5 -0.9 -10.9 0.2 L-10.95 0.2 -11.05 0.2 -11.0 -1.75 Q-11.05 -2.95 -11.6 -5.1 L-11.1 -4.6"
				:fill="mainFifthColor"
				fill-opacity="0.49803922"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M4.95 -7.6 Q4.85 -4.65 1.15 -4.65 -5.0 -4.65 -7.35 -5.65 L-8.15 -6.7 -8.5 -7.45 -8.5 -7.6 -8.55 -8.0 -8.9 -7.0 -8.9 -6.95 -8.75 -6.7 -9.9 -6.5 Q-10.8 -6.55 -11.3 -6.85 L-11.35 -8.85 -11.35 -9.3 Q-8.2 -12.8 -1.2 -10.75 1.45 -10.0 3.7 -8.5 L4.95 -7.6 M0.8 7.0 Q1.5 7.5 1.5 8.1 1.5 9.55 -1.35 9.55 -4.6 9.55 -7.75 8.3 -9.5 7.6 -10.4 6.8 L-10.85 5.7 -11.2 3.6 Q-10.85 2.95 -10.1 2.95 L-9.75 3.1 -9.7 3.35 Q-9.25 4.35 -7.1 4.95 L-3.55 6.2 0.8 7.0"
				:fill="`url(#${id}-gradient0)`"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
		<defs>
			<radialGradient
				cx="0"
				cy="0"
				gradientTransform="matrix(-3.0E-4, 0.003, -0.013, -0.0015, -6.2, -9.05)"
				gradientUnits="userSpaceOnUse"
				:id="`${id}-gradient0`"
				r="819.2"
				spreadMethod="pad"
			>
				<stop offset="0.0" stop-color="#ffffff" />
				<stop offset="0.0" :stop-color="mainFirstColor" />
			</radialGradient>
		</defs>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'PigmouMouth1',
	props: {
		size: Number,
		mainFirstColor: String,
		mainSecondColor: String,
		mainFifthColor: String,
		id: String
	}
});
</script>
