<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${16.55 * size}px`"
		:width="`${17.9 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${4.9 * size}, ${44.55 * size})`">
			<path
				d="M6.3 -33.05 L6.75 -32.65 7.25 -32.3 7.3 -32.3 7.4 -32.25 7.75 -32.25 10.3 -32.6 11.25 -33.0 10.4 -34.05 8.05 -36.7 Q6.6 -37.7 2.0 -38.55 L1.9 -38.5 1.85 -38.5 1.65 -38.5 1.6 -38.5 Q0.95 -38.6 0.4 -38.9 L0.05 -39.0 -1.1 -39.4 Q-2.95 -40.15 -3.45 -41.3 L-3.5 -38.45 Q-1.95 -37.85 -0.75 -36.0 L-1.3 -35.95 Q-2.15 -36.05 -3.6 -37.15 L-3.65 -36.95 -3.9 -35.2 Q-4.15 -33.5 -1.15 -32.05 0.85 -30.85 1.85 -30.4 L2.55 -30.1 4.6 -29.6 4.9 -29.55 6.05 -29.3 Q8.55 -28.25 10.5 -29.65 L9.05 -31.15 7.85 -31.4 7.1 -31.75 6.3 -32.4 6.0 -32.75 5.2 -33.4 4.0 -33.9 4.4 -34.0 5.5 -33.65 6.3 -33.05 M8.85 -37.4 L11.3 -34.65 Q13.1 -32.25 13.0 -31.5 12.9 -30.85 11.4 -29.35 L9.9 -28.35 8.85 -28.0 5.6 -28.3 5.05 -28.45 Q2.6 -29.0 0.85 -29.8 L-2.5 -31.5 Q-4.6 -32.4 -4.9 -33.45 L-4.9 -33.7 -4.85 -35.25 -4.8 -35.45 -4.7 -36.6 -4.7 -36.65 -4.6 -37.45 -4.6 -37.95 -4.45 -40.55 -4.4 -42.15 -4.25 -42.55 -3.75 -42.7 Q-2.75 -41.3 -1.35 -40.65 L-2.65 -43.3 -2.75 -43.55 -2.75 -43.6 Q-2.7 -44.15 -2.25 -44.55 L-2.25 -44.0 -2.05 -43.25 -1.4 -42.1 -1.35 -42.1 -1.0 -41.5 0.3 -40.1 Q6.25 -38.95 8.85 -37.4 M10.35 -31.35 L11.05 -30.15 12.2 -31.6 11.95 -32.0 10.95 -31.55 10.45 -31.35 10.35 -31.35 M-3.6 -37.15 L-3.6 -37.2 -3.6 -37.15"
				fill="#a36a6a"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M1.9 -38.5 L2.25 -38.35 2.65 -38.4 Q3.3 -38.3 4.7 -37.3 L6.05 -36.2 6.5 -33.75 6.3 -33.05 5.5 -33.65 4.4 -34.0 4.0 -33.9 5.2 -33.4 6.0 -32.75 Q6.25 -32.15 6.15 -31.15 6.0 -29.9 4.9 -29.55 L4.6 -29.6 2.55 -30.1 1.85 -30.4 Q0.85 -30.85 -1.15 -32.05 -4.15 -33.5 -3.9 -35.2 L-3.65 -36.95 -3.6 -37.15 Q-2.15 -36.05 -1.3 -35.95 L-0.75 -36.0 Q-1.95 -37.85 -3.5 -38.45 L-3.45 -41.3 Q-2.95 -40.15 -1.1 -39.4 L0.05 -39.0 0.4 -38.9 Q0.95 -38.6 1.6 -38.5 L1.65 -38.5 1.85 -38.5 1.9 -38.5 M6.75 -32.65 L7.4 -33.8 Q7.6 -35.15 8.1 -35.05 8.55 -35.0 8.4 -33.5 L7.75 -32.25 7.4 -32.25 7.3 -32.3 7.25 -32.3 6.75 -32.65 M7.85 -31.4 L8.0 -30.25 Q7.9 -29.6 7.5 -29.65 L6.85 -31.5 7.1 -31.75 7.85 -31.4"
				fill="#ffffcc"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M6.3 -33.05 L6.5 -33.75 6.05 -36.2 4.7 -37.3 Q3.3 -38.3 2.65 -38.4 L2.25 -38.35 1.9 -38.5 2.0 -38.55 Q6.6 -37.7 8.05 -36.7 L10.4 -34.05 11.25 -33.0 10.3 -32.6 7.75 -32.25 8.4 -33.5 Q8.55 -35.0 8.1 -35.05 7.6 -35.15 7.4 -33.8 L6.75 -32.65 6.3 -33.05 M4.9 -29.55 Q6.0 -29.9 6.15 -31.15 6.25 -32.15 6.0 -32.75 L6.3 -32.4 7.1 -31.75 6.85 -31.5 7.5 -29.65 Q7.9 -29.6 8.0 -30.25 L7.85 -31.4 9.05 -31.15 10.5 -29.65 Q8.55 -28.25 6.05 -29.3 L4.9 -29.55 M10.35 -31.35 L10.45 -31.35 10.95 -31.55 11.95 -32.0 12.2 -31.6 11.05 -30.15 10.35 -31.35"
				fill="#e0cca3"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'PigmouMouth2',
	props: {
		size: Number
	}
});
</script>
