<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${18.5 * size}px`"
		:width="`${27.65 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${13.8 * size}, ${9.25 * size})`">
			<path
				d="M6.6 -6.0 L6.4 -6.45 6.4 -6.5 6.5 -6.5 Q7.05 -6.5 9.1 -3.55 L11.25 -0.1 11.2 -0.15 11.6 0.6 11.85 1.25 11.85 1.35 11.85 1.45 9.85 -1.2 8.95 -2.35 8.2 -3.4 7.35 -4.65 7.3 -4.75 7.25 -4.85 7.05 -5.15 7.0 -5.25 6.9 -5.45 6.6 -6.0 M13.45 7.1 L12.35 7.6 9.95 8.3 Q6.4 9.25 5.15 9.25 -3.8 9.25 -9.25 5.05 -13.4 1.85 -13.4 -1.15 L-13.05 -5.0 -13.2 -5.1 Q-13.8 -5.45 -13.8 -5.75 -13.8 -6.35 -12.05 -8.1 -10.85 -9.2 -9.55 -9.2 L-6.4 -9.0 -4.35 -9.25 -4.3 -9.2 -4.15 -9.05 -4.35 -9.0 -5.15 -8.8 -9.95 -8.0 Q-11.4 -7.7 -12.5 -6.5 L-12.75 -6.15 -12.9 -5.95 -12.75 -6.0 -12.5 -6.0 -11.6 -5.6 -11.15 -5.3 -8.65 -3.05 -7.15 -1.55 Q-6.1 -0.6 -4.15 -0.5 1.8 -0.05 4.35 1.4 L6.9 3.55 7.75 4.2 7.85 4.3 4.15 2.5 Q2.75 1.85 1.25 1.4 L-3.55 0.5 Q-6.7 0.2 -9.95 -2.4 L-12.2 -4.45 -12.35 -2.05 Q-12.35 1.05 -8.85 4.0 L-8.9 4.0 -8.7 4.15 Q-8.15 4.6 -7.55 5.0 L-4.75 6.5 Q-2.35 7.5 0.6 7.9 L5.15 8.2 Q7.85 8.2 11.55 7.2 L12.75 6.85 13.4 6.85 13.45 7.05 13.45 7.1"
				:fill="mainFifthColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-4.3 -9.2 L-3.45 -9.25 0.15 -6.9 2.7 -6.55 5.95 -6.15 6.6 -6.0 6.9 -5.45 7.0 -5.25 7.05 -5.15 7.25 -4.85 7.3 -4.75 7.35 -4.65 8.2 -3.4 8.2 -3.2 Q8.2 -2.45 7.65 -1.45 6.8 0.05 5.35 0.05 L-0.3 -0.85 Q-4.85 -1.8 -6.0 -2.35 L-9.5 -4.65 -10.6 -4.9 -11.15 -5.3 -11.6 -5.6 -12.5 -6.0 -12.75 -6.0 -12.9 -5.95 -12.75 -6.15 -12.5 -6.5 Q-11.4 -7.7 -9.95 -8.0 L-5.15 -8.8 -4.35 -9.0 -4.15 -9.05 -4.3 -9.2"
				:fill="`url(#${id}-gradient0)`"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M11.25 -0.1 L11.6 0.45 12.8 2.15 Q13.45 3.25 13.7 4.25 L6.9 3.55 4.35 1.4 Q1.8 -0.05 -4.15 -0.5 -6.1 -0.6 -7.15 -1.55 L-8.65 -3.05 -11.15 -5.3 -10.6 -4.9 -9.5 -4.65 -6.0 -2.35 Q-4.85 -1.8 -0.3 -0.85 L5.35 0.05 Q6.8 0.05 7.65 -1.45 8.2 -2.45 8.2 -3.2 L8.2 -3.4 8.95 -2.35 9.85 -1.2 11.85 1.45 11.85 1.35 11.85 1.25 11.6 0.6 11.2 -0.15 11.25 -0.1 M4.15 2.5 Q3.35 2.75 3.35 4.1 2.85 3.55 2.2 3.55 1.7 3.55 1.7 4.05 L2.35 6.2 0.6 6.3 -3.8 5.85 -3.45 5.95 -7.35 4.75 -8.85 4.0 Q-12.35 1.05 -12.35 -2.05 L-12.2 -4.45 -9.95 -2.4 -10.2 -1.95 Q-5.85 3.05 -1.65 1.7 L1.25 1.4 Q2.75 1.85 4.15 2.5"
				:fill="mainSecondColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M13.7 4.25 L13.75 4.45 13.75 4.6 13.85 5.3 13.85 5.6 Q13.85 6.6 13.45 7.1 L13.45 7.05 13.4 6.85 12.75 6.85 11.55 7.2 Q7.85 8.2 5.15 8.2 L0.6 7.9 Q-2.35 7.5 -4.75 6.5 L-7.55 5.0 Q-8.15 4.6 -8.7 4.15 L-8.9 4.0 -8.85 4.0 -7.35 4.75 -3.45 5.95 -3.8 5.85 0.6 6.3 2.35 6.2 1.7 4.05 Q1.7 3.55 2.2 3.55 2.85 3.55 3.35 4.1 3.35 2.75 4.15 2.5 L7.85 4.3 7.75 4.2 6.9 3.55 13.7 4.25 M-9.95 -2.4 Q-6.7 0.2 -3.55 0.5 L1.25 1.4 -1.65 1.7 Q-5.85 3.05 -10.2 -1.95 L-9.95 -2.4"
				:fill="mainThirdColor"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
		<defs>
			<radialGradient
				cx="0"
				cy="0"
				gradientTransform="matrix(-8.0E-4, 0.0029, -0.0125, -0.0036, -4.4, -5.6)"
				gradientUnits="userSpaceOnUse"
				:id="`${id}-gradient0`"
				r="819.2"
				spreadMethod="pad"
			>
				<stop offset="0.0" stop-color="#ffffff" />
				<stop offset="0.0" :stop-color="mainFirstColor" />
			</radialGradient>
		</defs>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'PigmouMouth3',
	props: {
		size: Number,
		mainFirstColor: String,
		mainSecondColor: String,
		mainThirdColor: String,
		mainFifthColor: String,
		id: String
	}
});
</script>
