<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${10.05 * size}px`"
		:width="`${17.9 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${8.95 * size}, ${5.05 * size})`">
			<path
				d="M-5.75 -2.85 L-5.4 -3.1 -4.85 -2.5 Q-4.85 -0.6 -6.95 -0.6 -8.95 -0.6 -8.95 -2.15 -8.95 -5.2 -7.85 -5.05 L-7.7 -4.85 -7.7 -4.65 -7.85 -3.5 -7.9 -3.4 -7.85 -2.45 -7.65 -1.95 -7.65 -1.9 -7.6 -1.85 -7.4 -1.8 -7.25 -1.8 Q-6.3 -1.85 -6.0 -2.45 L-5.95 -2.5 -5.75 -2.8 -5.75 -2.85 M8.1 2.1 L8.15 2.0 8.3 1.85 8.45 1.85 Q9.0 1.9 8.95 2.55 L8.45 3.9 Q7.75 5.0 6.8 5.0 4.3 5.0 4.3 2.3 L4.45 1.3 Q4.7 0.4 5.15 0.4 5.65 0.4 5.65 1.0 L5.55 1.4 5.35 2.3 Q5.35 3.85 6.65 3.9 L6.7 3.9 Q7.4 3.9 7.75 2.9 L7.8 2.85 7.95 2.4 8.1 2.1"
				fill="#a36a6a"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-5.75 -2.85 L-5.75 -2.8 -5.95 -2.5 -6.0 -2.45 Q-6.3 -1.85 -7.25 -1.8 L-7.0 -2.75 Q-6.7 -3.7 -6.4 -3.9 L-5.85 -3.0 -5.75 -2.85 M7.0 1.7 L7.1 1.75 8.05 2.0 8.1 2.1 7.95 2.4 7.8 2.85 7.75 2.9 Q7.4 3.9 6.7 3.9 L6.65 3.9 6.7 2.7 Q6.8 2.05 7.0 1.7"
				fill="#e0cca3"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-7.25 -1.8 L-7.4 -1.8 -7.6 -1.85 -7.65 -1.9 -7.65 -1.95 -7.85 -2.45 -7.85 -2.9 -7.8 -3.2 -7.85 -3.5 -7.7 -4.65 -7.7 -4.85 Q-7.05 -4.8 -6.4 -3.9 -6.7 -3.7 -7.0 -2.75 L-7.25 -1.8 M5.55 1.4 L7.0 1.7 Q6.8 2.05 6.7 2.7 L6.65 3.9 Q5.35 3.85 5.35 2.3 L5.55 1.4"
				fill="#ffffcc"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'PigmouMouthSpecial1',
	props: {
		size: Number
	}
});
</script>
