<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${15.15 * size}px`"
		:width="`${19.4 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${9.7 * size}, ${7.6 * size})`">
			<path
				d="M-3.8 -6.95 Q-0.65 -6.8 3.7 -5.55 L4.0 -5.45 4.7 -5.1 4.7 -4.85 6.2 -3.4 6.2 -3.35 Q6.2 -0.7 2.85 -0.7 -0.75 -0.7 -8.1 -4.4 L-6.95 -5.7 -6.8 -5.8 -5.8 -6.15 -5.05 -6.35 -4.35 -6.6 -3.8 -6.95"
				:fill="`url(#${id}-gradient0)`"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M4.7 -5.1 L4.9 -5.15 Q6.8 -5.15 7.7 -1.65 L7.95 -0.5 7.8 0.1 7.65 0.15 7.55 -0.1 6.7 -2.4 6.2 -3.4 4.7 -4.85 4.7 -5.1 M8.05 -1.1 L7.95 -2.25 8.1 -2.25 Q8.65 -1.15 8.85 0.4 L8.9 1.35 8.9 2.0 8.65 2.15 8.6 2.15 8.55 2.1 8.55 2.05 8.45 1.9 8.05 -0.8 8.05 -1.1 M9.5 3.65 L9.6 4.15 Q9.6 5.35 7.8 6.4 5.3 7.8 0.75 7.5 -9.4 6.8 -9.4 0.55 -9.3 -0.9 -8.8 -1.5 -9.7 -2.35 -9.7 -3.65 -9.75 -4.6 -8.2 -5.95 -6.7 -7.35 -5.35 -7.4 L-3.15 -7.6 -3.8 -6.95 -4.35 -6.6 -5.05 -6.35 -5.8 -6.15 -6.8 -5.8 -6.95 -5.7 -8.1 -4.4 -8.4 -3.5 Q-8.4 -2.15 -8.0 -1.95 L-3.55 -0.8 -1.75 0.75 Q-0.45 1.85 2.3 2.05 L2.6 2.1 Q4.9 2.25 4.5 0.5 L4.6 0.45 4.85 0.3 Q5.4 0.5 5.45 1.1 5.4 3.05 0.45 2.7 L-0.7 2.4 -1.95 1.45 Q-3.2 0.2 -5.15 -0.1 L-7.1 -0.5 -7.55 -0.7 Q-8.55 -0.35 -8.45 1.2 -8.45 2.05 -7.6 3.0 L-5.9 4.45 -4.15 5.35 Q-1.75 6.25 2.3 6.5 5.75 6.65 7.75 5.2 L7.85 5.1 8.95 3.95 9.3 3.4 9.35 3.4 9.5 3.55 9.5 3.6 9.5 3.65"
				:fill="mainFifthColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M7.7 -1.65 L8.05 -1.1 8.05 -0.8 8.45 1.9 8.55 2.05 8.55 2.1 8.6 2.15 8.65 2.15 8.9 2.0 8.9 1.35 8.85 0.4 Q9.7 2.25 9.7 3.4 L9.6 3.95 9.5 3.65 9.5 3.6 9.5 3.55 9.35 3.4 9.3 3.4 8.95 3.95 8.05 4.45 Q7.15 5.0 3.15 5.3 -0.85 5.55 -3.85 4.6 -6.85 3.65 -7.6 3.0 -8.45 2.05 -8.45 1.2 -8.55 -0.35 -7.55 -0.7 L-7.1 -0.5 -7.1 -0.45 -6.0 0.5 Q-7.35 0.75 -7.35 1.35 -7.35 1.55 -6.85 1.55 L-5.1 1.35 -3.15 1.55 -1.3 2.4 -0.7 2.4 0.45 2.7 Q5.4 3.05 5.45 1.1 5.4 0.5 4.85 0.3 L4.6 0.45 Q4.45 0.2 4.1 0.2 L3.25 1.3 2.4 1.95 2.1 2.05 2.3 2.05 Q-0.45 1.85 -1.75 0.75 L-3.55 -0.8 -8.0 -1.95 Q-8.4 -2.15 -8.4 -3.5 L-8.1 -4.4 Q-0.75 -0.7 2.85 -0.7 6.2 -0.7 6.2 -3.35 L6.2 -3.4 6.7 -2.4 7.55 -0.1 7.65 0.15 7.8 0.1 7.95 -0.5 7.7 -1.65"
				:fill="mainSecondColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M8.95 3.95 L7.85 5.1 7.75 5.2 Q5.75 6.65 2.3 6.5 -1.75 6.25 -4.15 5.35 L-5.9 4.45 -7.6 3.0 Q-6.85 3.65 -3.85 4.6 -0.85 5.55 3.15 5.3 7.15 5.0 8.05 4.45 L8.95 3.95 M-7.1 -0.5 L-5.15 -0.1 Q-3.2 0.2 -1.95 1.45 L-0.7 2.4 -1.3 2.4 -3.15 1.55 -5.1 1.35 -6.85 1.55 Q-7.35 1.55 -7.35 1.35 -7.35 0.75 -6.0 0.5 L-7.1 -0.45 -7.1 -0.5 M4.6 0.45 L4.5 0.5 Q4.9 2.25 2.6 2.1 L2.3 2.05 2.1 2.05 2.4 1.95 3.25 1.3 4.1 0.2 Q4.45 0.2 4.6 0.45"
				:fill="mainThirdColor"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
		<defs>
			<radialGradient
				cx="0"
				cy="0"
				gradientTransform="matrix(-8.0E-4, 0.0029, -0.0125, -0.0036, -2.55, -5.15)"
				gradientUnits="userSpaceOnUse"
				:id="`${id}-gradient0`"
				r="819.2"
				spreadMethod="pad"
			>
				<stop offset="0.0" stop-color="#ffffff" />
				<stop offset="0.0" :stop-color="mainFirstColor" />
			</radialGradient>
		</defs>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'PigmouMouth4',
	props: {
		size: Number,
		mainFirstColor: String,
		mainSecondColor: String,
		mainThirdColor: String,
		mainFifthColor: String,
		id: String
	}
});
</script>
