<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${18.15 * size}px`"
		:width="`${16.95 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${8.45 * size}, ${9.1 * size})`">
			<path
				d="M6.25 5.2 L5.05 5.6 4.6 5.8 Q2.7 6.5 2.05 7.05 -1.45 9.05 -3.25 9.05 -7.4 9.05 -8.45 3.4 -8.45 0.95 -5.9 0.1 -3.4 -0.75 -3.4 -1.0 L-4.4 -2.85 Q-5.45 -4.65 -5.45 -5.6 -5.45 -6.6 -4.7 -7.6 -3.6 -9.1 -1.3 -9.1 0.65 -9.1 2.05 -7.3 L4.15 -5.75 4.6 -5.45 4.55 -5.3 4.2 -5.1 4.15 -5.1 3.15 -5.45 2.95 -5.55 Q2.35 -5.9 1.5 -6.55 -0.4 -8.05 -1.35 -8.05 -4.15 -8.05 -4.35 -6.0 L-4.4 -5.65 Q-4.4 -4.8 -3.45 -3.25 L-2.75 -1.85 Q-2.35 -2.35 -1.3 -2.55 -1.95 -3.15 -2.65 -4.7 L-2.55 -5.05 -2.5 -5.1 -2.25 -5.15 -1.5 -4.3 -1.4 -4.2 Q-0.7 -3.9 0.5 -1.95 1.2 -0.75 1.2 0.4 1.2 2.9 -0.1 2.95 L-0.2 2.95 -0.9 2.8 -0.65 2.9 -1.65 3.25 -1.7 3.25 -2.25 3.45 -3.7 4.0 -4.0 4.1 -4.3 4.2 -4.4 4.25 -4.65 4.05 -3.7 3.25 -3.0 2.9 -1.5 2.4 Q-2.3 1.6 -2.85 -0.25 -3.45 0.35 -5.0 0.7 -7.45 1.25 -7.45 3.3 -7.45 4.25 -6.5 5.8 -5.2 7.9 -3.25 7.9 -1.9 7.9 1.4 6.2 4.15 4.75 5.55 4.55 L6.05 4.5 Q6.75 4.5 7.25 4.85 L7.1 4.9 6.7 5.05 6.25 5.2"
				:fill="mainFifthColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M4.55 -5.3 L6.15 -3.5 7.85 -1.5 Q8.5 -0.6 8.5 1.95 8.5 4.95 6.25 5.2 L6.7 5.05 7.1 4.9 7.25 4.85 Q6.75 4.5 6.05 4.5 L5.55 4.55 Q4.15 4.75 1.4 6.2 -1.9 7.9 -3.25 7.9 -5.2 7.9 -6.5 5.8 -7.45 4.25 -7.45 3.3 -7.45 1.25 -5.0 0.7 -3.45 0.35 -2.85 -0.25 -2.3 1.6 -1.5 2.4 L-3.0 2.9 -3.7 3.25 -3.0 2.9 Q-3.15 1.25 -4.7 1.25 -6.45 1.25 -6.85 2.85 -4.95 6.25 -2.9 6.25 -1.85 6.25 -1.0 5.65 -0.2 5.1 -0.2 4.6 -0.2 3.35 -1.65 3.25 L-0.65 2.9 -0.9 2.8 -0.2 2.95 -0.1 2.95 Q1.2 2.9 1.2 0.4 1.2 -0.75 0.5 -1.95 -0.7 -3.9 -1.4 -4.2 L-1.5 -4.3 Q0.45 -3.15 1.65 -3.15 3.0 -3.15 3.0 -5.0 L2.95 -5.55 3.15 -5.45 4.15 -5.1 4.2 -5.1 4.55 -5.3 M-2.55 -5.05 L-2.65 -4.7 Q-1.95 -3.15 -1.3 -2.55 -2.35 -2.35 -2.75 -1.85 L-3.45 -3.25 Q-4.4 -4.8 -4.4 -5.65 L-4.35 -6.0 -2.6 -4.9 -2.55 -5.05"
				:fill="mainSecondColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-1.5 -4.3 L-2.25 -5.15 -2.5 -5.1 -2.55 -5.05 -2.6 -4.9 -4.35 -6.0 Q-4.15 -8.05 -1.35 -8.05 -0.4 -8.05 1.5 -6.55 2.35 -5.9 2.95 -5.55 L3.0 -5.0 Q3.0 -3.15 1.65 -3.15 0.45 -3.15 -1.5 -4.3"
				:fill="`url(#${id}-gradient0)`"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-3.7 3.25 L-4.65 4.05 -4.4 4.25 -4.3 4.2 -4.0 4.1 -3.7 4.0 -2.25 3.45 -1.7 3.25 -1.65 3.25 Q-0.2 3.35 -0.2 4.6 -0.2 5.1 -1.0 5.65 -1.85 6.25 -2.9 6.25 -4.95 6.25 -6.85 2.85 -6.45 1.25 -4.7 1.25 -3.15 1.25 -3.0 2.9 L-3.7 3.25"
				:fill="`url(#${id}-gradient1)`"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
		<defs>
			<radialGradient
				cx="0"
				cy="0"
				gradientTransform="matrix(-6.0E-4, 0.0022, -0.007, -0.002, -2.25, -6.9)"
				gradientUnits="userSpaceOnUse"
				:id="`${id}-gradient0`"
				r="819.2"
				spreadMethod="pad"
			>
				<stop offset="0.0" stop-color="#ffffff" />
				<stop offset="0.0" :stop-color="mainFirstColor" />
			</radialGradient>
			<radialGradient
				cx="0"
				cy="0"
				gradientTransform="matrix(0.0042, 0.0019, -0.0013, 0.0029, -4.7, 2.75)"
				gradientUnits="userSpaceOnUse"
				:id="`${id}-gradient1`"
				r="819.2"
				spreadMethod="pad"
			>
				<stop offset="0.0" stop-color="#ffffff" />
				<stop offset="0.0" :stop-color="mainFirstColor" />
			</radialGradient>
		</defs>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'PigmouMouth5',
	props: {
		size: Number,
		mainFirstColor: String,
		mainSecondColor: String,
		mainFifthColor: String,
		id: String
	}
});
</script>
