<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${17.3 * size}px`"
		:width="`${19.0 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${10.35 * size}, ${5.5 * size})`">
			<path
				d="M-5.45 -2.25 L-4.85 -2.45 Q-4.4 -2.4 -4.45 -1.95 -5.85 0.0 -6.95 2.45 -8.85 6.7 -9.4 6.7 -10.75 6.55 -10.2 2.15 -9.1 -5.65 -7.25 -5.5 L-6.95 -5.15 -7.55 -4.0 -7.65 -3.7 Q-9.0 -0.65 -9.35 3.05 L-9.35 5.7 -7.2 0.65 Q-6.4 -1.25 -5.7 -2.0 L-5.45 -2.25 M7.85 2.45 L8.0 1.8 Q8.8 1.95 8.65 2.6 8.65 5.2 6.55 8.55 4.5 11.8 3.05 11.8 2.15 11.8 2.15 11.15 4.6 0.6 4.9 0.55 5.1 0.5 5.15 1.3 L5.2 2.15 5.2 2.6 Q5.2 4.7 3.2 10.8 L3.15 10.85 4.8 9.4 Q5.7 8.35 6.3 6.9 L7.75 2.75 7.85 2.45"
				fill="#a36a6a"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-7.55 -4.0 L-7.4 -4.25 -6.35 -3.4 Q-7.15 -2.55 -8.2 1.05 L-9.35 5.7 -9.35 3.05 Q-9.0 -0.65 -7.65 -3.7 L-7.55 -4.0 M5.15 1.3 L5.3 1.3 6.35 1.5 6.0 2.8 5.15 6.55 4.05 9.3 3.2 10.8 Q5.2 4.7 5.2 2.6 L5.2 2.15 5.15 1.3"
				fill="#ffffcc"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-6.35 -3.4 L-5.2 -2.4 -5.45 -2.25 -5.7 -2.0 Q-6.4 -1.25 -7.2 0.65 L-9.35 5.7 -8.2 1.05 Q-7.15 -2.55 -6.35 -3.4 M6.35 1.5 L6.9 1.7 7.1 1.75 7.9 2.15 7.85 2.45 7.75 2.75 6.3 6.9 Q5.7 8.35 4.8 9.4 L3.15 10.85 3.2 10.8 4.05 9.3 5.15 6.55 6.0 2.8 6.35 1.5"
				fill="#e0cca3"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'PigmouMouth6',
	props: {
		size: Number
	}
});
</script>
