<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${15.95 * size}px`"
		:width="`${35.05 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${17.5 * size}, ${8.0 * size})`">
			<path
				d="M-15.55 -7.6 L-15.8 -7.7 -15.95 -7.7 -16.0 -7.6 -15.85 -7.35 -15.8 -7.3 Q-13.15 -3.6 -9.85 -1.95 L-5.2 -0.2 Q-5.05 1.0 -5.45 1.95 L-5.65 2.6 -5.65 3.0 -5.5 2.95 -5.35 2.7 Q-4.65 1.4 -4.65 -0.05 L-4.2 0.1 -4.35 1.1 -4.3 1.5 -4.15 1.45 -3.8 0.25 -3.0 0.45 Q0.8 1.5 3.95 1.95 L4.2 1.95 4.4 2.0 5.5 2.1 5.4 3.0 5.45 3.2 Q6.0 2.7 6.0 2.15 L7.7 2.2 9.6 2.05 9.65 2.05 9.75 2.95 Q9.95 4.2 10.3 4.2 L10.4 4.15 11.05 2.45 12.0 1.5 12.05 1.25 12.0 1.5 Q14.2 0.85 16.75 -0.5 16.2 0.3 15.9 1.65 L15.5 3.85 14.85 4.7 15.1 2.95 15.05 2.25 14.95 2.25 Q14.55 3.95 14.5 4.9 L12.6 5.85 Q10.2 6.8 7.0 7.1 L7.2 5.8 7.05 5.45 6.7 7.0 6.7 7.15 4.35 7.2 Q1.35 7.2 -2.3 5.45 L-3.5 4.85 -3.5 5.05 Q-11.5 1.85 -14.1 0.1 -17.5 -2.2 -17.5 -6.7 -16.55 -8.0 -15.95 -8.0 -15.55 -8.0 -15.55 -7.6"
				:fill="hairFirstColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-3.5 5.05 L-3.5 4.85 -2.3 5.45 Q1.35 7.2 4.35 7.2 L6.7 7.15 6.7 7.0 7.05 5.45 7.2 5.8 7.0 7.1 Q10.2 6.8 12.6 5.85 L14.5 4.9 Q14.55 3.95 14.95 2.25 L15.05 2.25 15.1 2.95 14.85 4.7 15.5 3.85 15.9 1.65 Q16.2 0.3 16.75 -0.5 14.2 0.85 12.0 1.5 L12.05 1.25 12.0 1.5 11.05 2.45 10.4 4.15 10.3 4.2 Q9.95 4.2 9.75 2.95 L9.65 2.05 9.6 2.05 7.7 2.2 6.0 2.15 Q6.0 2.7 5.45 3.2 L5.4 3.0 5.5 2.1 4.4 2.0 4.2 1.95 3.95 1.95 Q0.8 1.5 -3.0 0.45 L-3.8 0.25 -4.15 1.45 -4.3 1.5 -4.35 1.1 -4.2 0.1 -4.65 -0.05 Q-4.65 1.4 -5.35 2.7 L-5.5 2.95 -5.65 3.0 -5.65 2.6 -5.45 1.95 Q-5.05 1.0 -5.2 -0.2 L-9.85 -1.95 Q-13.15 -3.6 -15.8 -7.3 L-15.85 -7.35 -16.0 -7.6 -15.95 -7.7 -15.8 -7.7 -15.55 -7.6 -14.45 -6.7 -12.95 -5.0 Q-12.55 -4.35 -8.7 -2.4 -6.9 -1.45 -2.3 -0.2 3.5 1.35 7.75 1.35 L9.95 1.25 10.15 1.95 10.25 3.15 10.3 3.15 Q10.5 0.7 12.5 0.7 L12.65 0.75 14.55 0.05 17.15 -1.3 17.5 -1.2 17.55 -0.7 Q17.55 1.05 16.05 4.2 12.8 7.95 5.0 7.95 -0.95 7.95 -3.5 5.05"
				:fill="hairBorderColor"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeTailHair2',
	props: {
		size: Number,
		hairFirstColor: String,
		hairBorderColor: String
	}
});
</script>
