<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${19.3 * size}px`"
		:width="`${19.35 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${9.65 * size}, ${9.65 * size})`">
			<path
				d="M-1.1 9.0 L-1.2 9.05 -1.3 9.05 -1.35 9.05 -1.75 8.75 -1.8 8.8 -1.9 8.8 -2.0 8.8 -2.05 8.7 -2.1 8.55 -3.95 7.25 Q-5.25 6.5 -7.35 6.1 L-7.45 6.05 -7.5 5.95 Q-7.55 5.55 -6.1 5.1 L-4.65 4.8 -6.1 3.1 -8.45 1.15 -9.65 0.2 -8.6 -0.2 -7.5 -0.35 -7.75 -2.9 -7.75 -3.9 -7.7 -4.0 -7.6 -4.05 -7.4 -4.1 -7.35 -4.1 -7.25 -4.0 -6.55 -2.95 -7.25 -5.8 -8.1 -9.15 -8.1 -9.3 -8.0 -9.35 -7.9 -9.35 -2.6 -7.3 -1.4 -6.9 -1.55 -7.35 -2.2 -8.65 -2.25 -8.75 -2.2 -8.85 -2.1 -8.9 -1.85 -8.95 -0.55 -8.45 -0.1 -8.15 -0.4 -9.35 -0.4 -9.45 Q-0.35 -9.7 0.0 -9.6 L0.6 -9.35 2.65 -7.9 Q5.35 -5.8 5.95 -4.75 L7.0 -2.75 7.5 -0.6 7.5 -0.25 8.95 -1.95 9.05 -2.0 9.15 -1.95 9.2 -1.9 Q9.8 -0.7 9.65 0.95 9.45 2.5 9.05 3.15 L8.65 3.65 8.15 4.1 8.05 4.1 8.0 4.1 7.7 3.75 7.95 3.15 8.25 2.5 8.7 0.15 8.7 -0.1 7.7 1.1 7.75 1.1 7.15 1.8 7.0 1.85 6.9 1.85 6.85 1.7 6.7 -0.25 5.95 -3.15 4.2 -5.5 4.15 -5.55 3.35 -6.3 2.4 -7.0 2.4 -7.05 0.7 -8.15 1.5 -5.4 1.5 -5.35 Q1.85 -3.15 1.7 -1.4 L1.7 -1.35 1.65 -1.0 1.65 -0.95 1.55 -0.9 1.5 -0.9 1.4 -0.9 1.35 -0.9 1.3 -0.95 1.25 -1.05 1.2 -1.4 1.2 -1.45 1.15 -2.15 1.1 -2.3 1.1 -2.35 0.9 -3.6 0.6 -5.2 -0.5 -5.85 -0.55 -5.85 -0.8 -5.9 -2.55 -6.45 -6.9 -8.0 Q-5.5 -2.9 -5.25 -1.05 L-5.1 -0.4 Q-4.65 0.7 -3.25 1.8 L-2.15 2.6 -2.05 2.65 -2.0 2.75 -2.0 2.85 -2.1 2.9 -2.5 2.9 -3.05 2.85 Q-3.85 2.8 -5.8 0.4 L-6.25 0.4 -7.7 0.45 -8.05 0.55 Q-6.35 1.35 -4.85 3.0 L-4.45 3.45 -4.0 4.0 Q-2.9 5.35 -2.9 5.7 -2.9 6.05 -3.25 6.05 L-3.85 5.6 -4.85 5.75 Q-3.8 6.1 -2.6 6.9 L-1.3 8.0 -1.05 8.45 -1.0 8.65 -1.05 8.9 -1.05 8.95 -1.1 9.0 M-0.6 -6.6 L0.35 -6.15 0.2 -6.7 -0.85 -7.7 -0.6 -6.6 M0.25 -1.4 L1.8 1.35 2.4 1.9 4.7 4.05 4.4 4.2 Q3.1 4.2 1.9 2.55 L1.95 2.55 1.4 1.75 1.4 1.7 1.25 1.45 0.5 -0.55 0.2 -1.4 0.25 -1.4 M-6.05 -0.25 L-6.3 -1.55 -6.9 -2.15 Q-6.8 -0.95 -6.5 -0.4 L-6.05 -0.25"
				:fill="tailBorderColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M8.65 3.65 Q8.5 5.05 7.1 6.85 4.9 9.65 1.05 9.65 -0.35 9.65 -1.15 9.0 L-1.1 9.0 -1.05 8.95 -1.05 8.9 -1.0 8.65 -1.05 8.45 -1.3 8.0 -2.6 6.9 Q-3.8 6.1 -4.85 5.75 L-3.85 5.6 -3.25 6.05 Q-2.9 6.05 -2.9 5.7 -2.9 5.35 -4.0 4.0 L-4.45 3.45 -3.85 3.5 -1.9 3.25 -1.8 3.2 -2.5 2.9 -2.1 2.9 -2.0 2.85 -2.0 2.75 -2.05 2.65 -2.15 2.6 -3.25 1.8 Q-4.65 0.7 -5.1 -0.4 -3.9 2.05 -1.05 1.5 L0.6 1.55 Q-0.95 -0.45 -1.8 -2.6 L-2.65 -4.0 -4.45 -6.2 Q-2.6 -5.15 -0.6 -5.0 L-0.8 -5.9 -0.55 -5.85 -0.5 -5.85 0.6 -5.2 0.9 -3.6 1.1 -2.35 1.1 -2.3 1.15 -2.15 1.2 -1.45 1.2 -1.4 1.25 -1.05 1.3 -0.95 1.35 -0.9 1.4 -0.9 1.5 -0.9 1.55 -0.9 1.65 -0.95 1.65 -1.0 1.7 -1.35 2.1 -0.8 Q2.8 0.2 4.4 0.7 L4.4 -0.25 Q4.3 -2.8 3.75 -4.55 L2.4 -7.0 3.35 -6.3 4.15 -5.55 4.2 -5.5 5.95 -3.15 6.7 -0.25 6.85 1.7 6.9 1.85 7.0 1.85 7.15 1.8 7.75 1.1 7.7 1.1 8.7 -0.1 8.7 0.15 8.25 2.5 7.95 3.15 7.7 3.75 8.0 4.1 8.05 4.1 8.15 4.1 8.65 3.65 M-0.6 -6.6 L-0.85 -7.7 0.2 -6.7 0.35 -6.15 -0.6 -6.6 M0.25 -1.4 L0.2 -1.4 0.5 -0.55 1.25 1.45 1.4 1.7 1.4 1.75 1.95 2.55 1.9 2.55 Q3.1 4.2 4.4 4.2 L4.7 4.05 2.4 1.9 1.8 1.35 0.25 -1.4 M-4.6 -6.1 L-4.55 -6.1 -4.6 -6.0 -4.55 -6.05 -4.6 -6.1 M-6.05 -0.25 L-6.5 -0.4 Q-6.8 -0.95 -6.9 -2.15 L-6.3 -1.55 -6.05 -0.25"
				:fill="tailFirstColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-4.45 3.45 L-4.85 3.0 Q-6.35 1.35 -8.05 0.55 L-7.7 0.45 -6.25 0.4 -5.8 0.4 Q-3.85 2.8 -3.05 2.85 L-2.5 2.9 -1.8 3.2 -1.9 3.25 -3.85 3.5 -4.45 3.45 M-5.1 -0.4 L-5.25 -1.05 Q-5.5 -2.9 -6.9 -8.0 L-2.55 -6.45 -0.8 -5.9 -0.6 -5.0 Q-2.6 -5.15 -4.45 -6.2 L-2.65 -4.0 -1.8 -2.6 Q-0.95 -0.45 0.6 1.55 L-1.05 1.5 Q-3.9 2.05 -5.1 -0.4 M1.7 -1.35 L1.7 -1.4 Q1.85 -3.15 1.5 -5.35 L1.5 -5.4 0.7 -8.15 2.4 -7.05 2.4 -7.0 3.75 -4.55 Q4.3 -2.8 4.4 -0.25 L4.4 0.7 Q2.8 0.2 2.1 -0.8 L1.7 -1.35 M-4.6 -6.1 L-4.55 -6.05 -4.6 -6.0 -4.55 -6.1 -4.6 -6.1"
				:fill="`url(#${id}-gradient0)`"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
		<defs>
			<radialGradient
				cx="0"
				cy="0"
				gradientTransform="matrix(0.0103, 0.0105, -0.0083, 0.0081, -10.3, -6.75)"
				gradientUnits="userSpaceOnUse"
				:id="`${id}-gradient0`"
				r="819.2"
				spreadMethod="pad"
			>
				<stop offset="0.0" stop-color="#ffffff" />
				<stop offset="0.0" :stop-color="tailSecondColor" />
			</radialGradient>
		</defs>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'PigmouTail0',
	props: {
		size: Number,
		tailBorderColor: String,
		tailFirstColor: String,
		tailSecondColor: String,
		id: String
	}
});
</script>
