<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${36.35 * size}px`"
		:width="`${12.7 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${6.35 * size}, ${18.2 * size})`">
			<path
				d="M3.1 -15.05 L3.0 -15.15 1.85 -15.8 0.2 -16.5 0.0 -16.85 Q1.05 -18.1 3.0 -17.05 3.65 -16.85 4.15 -16.45 L4.15 -16.4 Q3.2 -16.25 3.1 -15.05 M5.1 -10.1 Q4.0 -7.7 1.0 -4.15 L-1.85 -0.4 Q-1.9 -1.95 -2.95 -1.95 L-0.85 -4.65 Q1.35 -7.2 2.55 -9.15 L2.7 -9.1 2.75 -9.1 Q4.1 -9.25 4.9 -10.15 L4.65 -9.9 Q4.9 -9.95 5.1 -10.1 M-3.55 5.7 L-3.25 6.9 -2.15 10.05 Q-1.7 11.15 0.45 13.35 L2.05 14.75 2.6 15.15 2.75 15.25 2.65 15.35 2.55 15.25 3.25 15.7 3.4 15.85 2.9 16.55 2.6 16.75 2.4 16.7 2.3 16.7 2.25 16.75 2.2 16.75 1.45 16.35 1.35 16.45 1.3 16.45 1.0 16.3 0.5 16.0 Q-2.05 14.3 -3.9 11.5 -4.9 9.95 -5.3 7.95 L-5.35 7.55 -5.3 7.75 -5.2 7.8 -5.15 7.8 -5.15 7.9 -4.4 6.9 -3.95 6.1 -3.55 5.7 M4.6 -15.8 L4.65 -15.7 4.6 -15.8"
				:fill="mainSecondColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M4.15 -16.4 L4.15 -16.45 Q3.65 -16.85 3.0 -17.05 1.05 -18.1 0.0 -16.85 L0.2 -16.5 1.85 -15.8 3.0 -15.15 3.1 -15.05 3.15 -15.0 Q3.85 -14.25 3.85 -12.8 L3.7 -11.8 3.45 -11.0 2.55 -9.2 2.5 -9.15 2.55 -9.15 Q1.35 -7.2 -0.85 -4.65 L-2.95 -1.95 -4.05 -0.2 -5.2 2.45 -5.55 4.85 -5.5 6.5 -5.35 7.55 -5.3 7.95 Q-4.9 9.95 -3.9 11.5 -2.05 14.3 0.5 16.0 L1.0 16.3 1.3 16.45 2.1 16.9 2.15 16.9 2.2 16.9 2.3 16.9 2.4 16.85 2.55 16.9 4.7 17.7 4.8 17.95 4.6 18.15 4.5 18.1 4.4 18.1 3.65 18.15 Q1.3 18.1 -1.7 15.35 -4.1 13.2 -4.85 11.65 -6.35 8.65 -6.35 4.8 -6.35 2.65 -5.2 0.25 L-4.95 -0.2 Q-3.8 -2.4 -1.65 -4.85 3.1 -10.4 3.1 -12.9 3.1 -14.05 2.05 -14.75 L1.8 -14.9 -0.05 -15.65 -0.6 -15.9 -0.65 -16.35 -0.6 -17.25 -0.15 -17.8 3.0 -17.75 Q6.35 -16.8 6.35 -12.35 6.35 -9.15 1.75 -3.65 L-0.9 -0.2 Q-2.35 1.85 -2.65 4.3 -2.8 5.6 -2.25 6.9 L-1.25 9.95 Q-0.6 11.9 2.45 13.75 L5.3 15.55 4.85 16.0 Q3.95 16.0 2.75 15.25 L2.6 15.15 2.05 14.75 0.45 13.35 Q-1.7 11.15 -2.15 10.05 L-3.25 6.9 -3.55 5.7 Q-3.8 3.45 -2.9 1.4 L-2.0 -0.2 -1.9 -0.3 -1.95 -0.3 -1.9 -0.35 -1.85 -0.4 1.0 -4.15 Q4.0 -7.7 5.1 -10.1 L5.5 -11.1 5.5 -11.15 5.7 -11.9 5.7 -12.4 Q5.7 -15.2 4.15 -16.4"
				:fill="mainFourthColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M3.1 -15.05 Q3.2 -16.25 4.15 -16.4 5.7 -15.2 5.7 -12.4 L5.7 -11.9 5.5 -11.15 5.5 -11.1 5.1 -10.1 Q4.9 -9.95 4.65 -9.9 L4.9 -10.15 Q4.1 -9.25 2.75 -9.1 L2.7 -9.1 2.55 -9.15 2.5 -9.15 2.55 -9.2 3.45 -11.0 3.7 -11.8 3.85 -12.8 Q3.85 -14.25 3.15 -15.0 L3.1 -15.05 M-1.85 -0.4 L-1.9 -0.35 -1.95 -0.3 -1.9 -0.3 -2.0 -0.2 -2.9 1.4 Q-3.8 3.45 -3.55 5.7 L-3.95 6.1 -4.4 6.9 -5.15 7.9 -5.15 7.8 -5.2 7.8 -5.3 7.75 -5.35 7.55 -5.5 6.5 -5.55 4.85 -5.2 2.45 -4.05 -0.2 -2.95 -1.95 Q-1.9 -1.95 -1.85 -0.4 M4.6 -15.8 L4.65 -15.7 4.6 -15.8"
				:fill="mainFirstColor"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'PigmouTail1',
	props: {
		size: Number,
		mainFirstColor: String,
		mainSecondColor: String,
		mainFourthColor: String
	}
});
</script>
