<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${4.95 * size}px`"
		:width="`${7.55 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${3.8 * size}, ${2.5 * size})`">
			<path
				d="M3.55 -2.2 L3.75 -1.9 Q3.75 -1.2 1.6 0.05 L1.5 0.05 3.55 -2.2 M-0.95 -0.7 Q-0.95 -0.3 -1.8 0.7 -2.8 1.85 -3.8 1.85 -2.55 -0.3 -1.2 -1.0 -0.95 -0.95 -0.95 -0.7 M-0.75 -2.35 L-0.65 -2.35 -3.2 -0.1 -3.5 -0.3 -1.1 -2.5 -0.75 -2.35 M-2.55 2.45 L-0.65 -0.1 Q0.45 -1.4 1.8 -1.55 L-0.15 0.7 Q-1.45 2.1 -2.55 2.45"
				fill="#660000"
				fill-opacity="0.42352942"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'PigmouHeadMinorInjury2',
	props: {
		size: Number
	}
});
</script>
