<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${17.95 * size}px`"
		:width="`${39.3 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${21.25 * size}, ${4.55 * size})`">
			<path
				d="M-18.1 5.75 L-18.15 5.75 -19.7 3.55 -20.45 1.15 -20.55 0.0 -20.55 -0.15 -20.75 -1.45 -20.85 -1.4 -20.8 -1.45 -20.1 -2.75 Q-19.15 -4.0 -17.75 -4.35 L-15.95 -2.7 Q-13.6 -0.4 -13.6 1.65 -13.6 2.7 -14.25 3.8 -15.4 5.75 -17.9 5.75 L-18.1 5.75 M2.75 6.25 L2.9 6.0 3.2 6.0 5.55 5.7 Q12.25 5.7 12.25 9.7 12.25 11.0 8.8 12.25 L6.9 12.95 Q5.35 12.5 4.25 11.1 3.0 9.55 3.0 8.05 L3.2 6.7 2.9 6.35 2.75 6.25 M3.85 5.1 L4.15 4.9 4.25 4.85 3.85 5.1"
				fill="#ffffff"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-20.85 -1.4 L-20.75 -1.45 -20.55 -0.15 -20.55 0.0 -20.45 1.15 -19.7 3.55 -18.15 5.75 -18.1 5.75 -17.5 6.3 -16.8 6.7 -16.55 6.8 -14.55 7.2 Q-13.05 7.2 -11.35 6.0 L-10.6 5.3 -10.35 4.15 Q-10.35 3.5 -9.95 3.3 -9.7 3.45 -9.7 3.95 L-9.65 4.1 -9.6 4.55 Q-9.6 6.15 -11.75 7.15 -13.45 7.95 -14.95 7.95 -18.7 7.95 -20.15 4.3 -21.25 1.6 -21.25 -0.15 -21.25 -1.15 -20.85 -1.4 M17.5 6.05 L17.8 6.85 18.05 8.2 Q18.05 11.3 15.15 12.2 L14.75 12.2 14.75 12.15 14.7 11.95 Q17.35 11.35 17.35 8.2 17.35 6.7 16.65 5.9 L16.95 5.65 17.05 5.65 17.5 6.05 M7.75 13.15 L6.05 13.3 Q4.55 12.95 3.3 11.25 2.05 9.55 2.1 7.7 2.1 6.0 2.75 6.25 L2.9 6.35 3.2 6.7 3.0 8.05 Q3.0 9.55 4.25 11.1 5.35 12.5 6.9 12.95 L7.3 13.05 7.75 13.1 7.75 13.15"
				fill="#a36a6a"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-18.1 5.75 L-17.9 5.75 Q-15.4 5.75 -14.25 3.8 -13.6 2.7 -13.6 1.65 -13.6 -0.4 -15.95 -2.7 L-17.75 -4.35 -16.35 -4.55 -16.15 -4.55 Q-14.35 -4.5 -12.5 -2.95 L-10.75 -1.15 Q-9.3 0.6 -9.3 2.8 L-9.5 4.1 -9.6 4.5 -9.65 4.1 -9.7 3.95 Q-9.7 3.45 -9.95 3.3 -10.35 3.5 -10.35 4.15 L-10.6 5.3 -11.35 6.0 Q-13.05 7.2 -14.55 7.2 L-16.55 6.8 -16.8 6.7 -17.5 6.3 -18.1 5.75 M4.15 4.9 Q4.9 4.4 5.95 4.05 8.45 3.2 10.45 3.2 12.5 3.2 14.25 3.9 15.85 4.7 16.55 4.9 17.2 5.1 17.5 6.05 L17.05 5.65 16.95 5.65 16.65 5.9 Q17.35 6.7 17.35 8.2 17.35 11.35 14.7 11.95 L14.75 12.15 11.9 12.55 11.3 12.65 9.05 12.95 8.75 13.0 8.65 13.0 8.1 13.1 7.9 13.1 7.75 13.15 7.75 13.1 7.3 13.05 6.9 12.95 8.8 12.25 Q12.25 11.0 12.25 9.7 12.25 5.7 5.55 5.7 L3.2 6.0 2.9 6.0 3.2 5.65 3.85 5.1 4.25 4.85 4.15 4.9"
				fill="#c7c9da"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M10.25 6.9 Q10.25 7.95 9.2 9.0 7.85 10.4 5.65 10.4 2.8 10.4 2.3 7.35 2.3 6.3 2.85 6.3 3.35 9.5 5.15 9.5 9.2 9.5 9.2 6.3 L8.9 5.1 Q8.75 4.55 9.3 4.55 10.0 4.55 10.2 5.7 L10.25 6.9 M5.8 8.55 Q4.1 8.55 4.3 7.3 4.3 5.35 6.35 5.35 8.05 5.35 8.05 6.6 L7.55 7.65 Q6.9 8.55 5.8 8.55 M-13.05 4.6 Q-15.7 4.6 -15.7 1.85 -15.7 -1.0 -13.5 -1.0 -12.1 -1.0 -11.35 0.6 L-10.85 2.2 Q-10.85 4.6 -13.05 4.6"
				fill="#660000"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M6.0 7.25 Q6.0 8.2 4.6 8.2 3.5 8.2 3.45 7.4 3.45 6.6 4.9 6.6 6.0 6.6 6.0 7.25 M-18.25 0.05 Q-18.25 -0.55 -17.25 -0.55 -15.6 -0.55 -13.9 0.25 -12.4 1.0 -12.4 1.45 -12.4 1.75 -13.15 2.1 -13.9 2.45 -16.3 1.15 -16.5 0.7 -17.65 0.6 -18.25 0.5 -18.25 0.05"
				fill="#ffffff"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'PigmouAdultEye0',
	props: {
		size: Number
	}
});
</script>
