<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${19.65 * size}px`"
		:width="`${18.15 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${9.1 * size}, ${9.85 * size})`">
			<path
				d="M0.75 8.9 L-1.9 6.2 -2.3 7.4 Q-2.75 7.0 -2.8 5.9 -1.7 1.05 0.8 1.05 1.15 1.05 1.45 1.3 2.1 -1.1 2.65 -2.1 2.1 -2.35 2.2 -2.9 -1.75 -1.45 -3.45 -0.2 L-3.55 -0.15 -1.0 -0.25 -0.25 0.15 -4.65 1.45 -5.3 1.9 -7.2 2.65 -7.25 2.6 -4.05 -1.8 -5.0 -1.8 -5.0 -1.85 -1.15 -3.2 -0.9 -3.8 2.45 -3.35 2.7 -3.75 0.95 -4.55 5.35 -5.5 5.4 -4.45 5.85 -3.9 3.6 -1.75 3.9 -1.25 3.9 5.05 2.7 5.15 1.15 2.55 1.4 1.5 -0.4 3.25 1.1 8.15 0.75 8.9 M-3.95 -5.15 L-4.75 -6.35 -4.7 -6.4 3.25 -6.8 3.35 -6.45 Q3.35 -5.15 -3.15 -5.15 L-3.95 -5.15"
				:fill="tailSecondColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M0.9 9.1 L0.75 8.9 1.1 8.15 -0.4 3.25 1.4 1.5 1.15 2.55 2.7 5.15 3.9 5.05 3.9 -1.25 3.6 -1.75 5.85 -3.9 5.4 -4.45 5.35 -5.5 0.95 -4.55 2.7 -3.75 2.45 -3.35 -0.9 -3.8 -3.95 -5.15 -3.15 -5.15 Q3.35 -5.15 3.35 -6.45 L3.25 -6.8 1.75 -8.85 8.75 -5.25 7.75 -4.1 7.8 -3.6 7.25 -1.75 6.9 -2.15 Q5.85 -3.2 6.0 -2.05 L5.8 -2.15 5.7 -1.7 4.9 -1.15 Q5.3 0.5 6.7 2.0 L7.75 3.05 7.95 4.25 5.65 2.8 6.05 3.75 5.8 4.55 5.65 5.75 5.35 7.85 3.65 6.7 2.3 8.45 1.55 5.4 1.45 7.75 1.45 8.7 1.45 7.9 1.8 9.35 1.5 9.8 0.9 9.1 M-2.3 7.4 L-2.95 8.1 -4.8 1.75 -5.3 1.9 -4.65 1.45 -0.25 0.15 -1.0 -0.25 -3.55 -0.15 -3.45 -0.2 Q-1.75 -1.45 2.2 -2.9 2.1 -2.35 2.65 -2.1 2.1 -1.1 1.45 1.3 1.15 1.05 0.8 1.05 -1.7 1.05 -2.8 5.9 -2.75 7.0 -2.3 7.4"
				:fill="tailFirstColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M0.9 9.1 Q-0.6 10.55 -1.75 7.3 L-3.4 9.8 -5.1 2.65 -8.5 3.75 -5.75 -0.9 -9.1 -1.6 -3.0 -3.65 Q-5.25 -4.6 -6.0 -7.1 L1.85 -7.75 1.0 -9.85 1.9 -9.6 5.5 -7.85 8.7 -6.0 Q9.4 -5.55 8.75 -5.25 L1.75 -8.85 3.25 -6.8 -4.7 -6.4 -4.8 -6.4 -4.75 -6.35 -3.95 -5.15 -0.9 -3.8 -1.15 -3.2 -5.0 -1.85 -5.05 -1.8 -5.0 -1.8 -4.05 -1.8 -7.25 2.6 -7.3 2.65 -7.2 2.65 -5.3 1.9 -4.8 1.75 -2.95 8.1 -2.3 7.4 -1.9 6.2 0.75 8.9 0.9 9.1 M7.8 -3.6 L7.75 -0.65 6.0 -2.05 Q5.85 -3.2 6.9 -2.15 L7.25 -1.75 7.8 -3.6 M5.7 -1.7 L5.65 -0.75 Q6.05 0.1 6.6 0.55 8.8 2.35 8.85 5.2 L8.7 5.2 Q7.05 5.2 6.05 3.75 L5.65 2.8 7.95 4.25 7.75 3.05 6.7 2.0 Q5.3 0.5 4.9 -1.15 L5.7 -1.7 M5.65 5.75 Q5.6 7.15 6.3 8.35 L6.1 8.7 5.9 8.9 3.65 6.7 5.35 7.85 5.65 5.75 M2.3 8.45 L2.15 9.5 Q2.0 10.1 1.8 9.35 L1.45 7.9 1.45 7.75 1.55 5.4 2.3 8.45"
				:fill="tailBorderColor"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'PigmouFur0',
	props: {
		size: Number,
		tailBorderColor: String,
		tailFirstColor: String,
		tailSecondColor: String
	}
});
</script>
