<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${12.6 * size}px`"
		:width="`${21.35 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${18.95 * size}, ${4.0 * size})`">
			<path
				d="M-15.3 -2.0 Q-15.3 -1.45 -15.9 -1.45 -16.75 -1.45 -17.9 -2.25 -18.95 -3.0 -18.95 -3.4 -18.95 -4.0 -18.15 -4.0 -17.8 -4.0 -16.55 -3.1 L-15.3 -2.0 M-0.2 6.15 Q0.7 6.15 2.4 8.05 2.4 8.6 1.9 8.6 0.4 8.6 -0.8 6.8 -0.8 6.15 -0.2 6.15"
				fill="#ffffff"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'PigmouPupilNormalSpecial0',
	props: {
		size: Number
	}
});
</script>
