<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${11.9 * size}px`"
		:width="`${27.45 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${20.35 * size}, ${3.1 * size})`">
			<path
				d="M-14.75 -0.25 L-17.45 -0.6 -19.1 -0.95 Q-19.75 -1.05 -20.25 -1.45 -20.65 -1.8 -19.55 -3.1 L-15.75 -2.05 -14.6 -1.35 -14.35 -1.1 -14.25 -0.6 -14.75 -0.25 M0.0 5.65 L3.85 6.15 Q6.95 6.9 7.05 7.35 L7.05 7.4 Q7.3 8.45 6.25 8.8 L6.15 8.8 6.0 8.75 5.95 8.75 2.2 8.15 Q-0.4 8.0 -0.7 6.7 -0.85 6.3 -0.6 6.0 -0.45 5.75 0.0 5.65"
				fill="#ffffff"
				fill-opacity="0.69411767"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'PigmouPupilNormalSpecial1',
	props: {
		size: Number
	}
});
</script>
