<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${23.15 * size}px`"
		:width="`${31.2 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, 0.0, 0.0)`">
			<path
				d="M25.25 1.8 Q19.55 1.85 13.0 8.15 7.4 13.55 6.45 17.15 L1.95 15.4 Q0.65 14.8 0.0 13.9 1.05 11.2 1.95 9.55 3.9 5.9 7.4 3.95 14.45 0.0 18.9 0.0 22.9 0.0 25.25 1.7 L25.25 1.8 M20.45 15.5 Q15.55 20.55 15.55 23.15 L12.25 20.55 10.05 19.05 Q12.15 13.55 18.05 9.2 24.05 4.8 28.25 4.8 28.75 4.8 29.65 6.4 L31.2 9.15 Q25.95 9.85 20.45 15.5"
				:fill="brighterSpecialColor"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'PigmouChestSpecial0',
	props: {
		size: Number,
		brighterSpecialColor: String
	}
});
</script>
