<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${6.3 * size}px`"
		:width="`${5.9 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${2.95 * size}, ${3.15 * size})`">
			<path
				d="M-0.8 -2.95 Q-0.75 -3.15 -0.45 -3.15 L0.95 -2.35 Q2.7 -1.65 2.95 -1.75 2.95 -1.5 1.5 -1.05 L-0.25 -0.7 Q0.3 0.15 0.85 0.3 2.6 0.9 2.6 1.05 2.6 1.4 0.6 1.4 L-1.1 1.2 0.45 2.9 Q0.45 3.15 0.1 3.15 L-1.4 2.4 -1.85 2.25 -2.5 1.85 -2.35 1.7 -2.2 1.65 -1.95 1.6 -1.5 1.75 -1.45 1.75 -2.2 1.0 Q-2.2 0.8 -1.9 0.8 L-1.7 0.85 -0.55 1.0 0.7 0.9 -0.35 0.05 -0.9 -0.5 -1.15 -1.0 -0.45 -1.2 0.3 -1.3 1.0 -1.45 1.15 -1.5 Q0.75 -1.5 -0.05 -2.1 L-0.3 -2.25 -0.85 -2.85 -0.8 -2.95"
				:fill="tailBorderColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-0.8 -2.95 L-0.85 -2.85 -0.3 -2.25 -0.05 -2.1 Q0.75 -1.5 1.15 -1.5 L1.0 -1.45 0.3 -1.3 -0.45 -1.2 -1.15 -1.0 -0.9 -0.5 -0.35 0.05 0.7 0.9 -0.55 1.0 -1.7 0.85 -1.9 0.8 Q-2.2 0.8 -2.2 1.0 L-1.45 1.75 -1.5 1.75 -1.95 1.6 -2.2 1.65 -2.35 1.7 -2.95 1.05 Q-2.95 0.65 -2.45 0.65 L-1.55 -1.1 Q-1.35 -2.8 -0.8 -2.95 M-1.85 2.25 L-1.4 2.4 -0.95 2.65 -1.15 2.65 -1.85 2.25"
				:fill="tailFirstColor"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'PigmouFur2',
	props: {
		size: Number,
		tailBorderColor: String,
		tailFirstColor: String
	}
});
</script>
