<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${17.95 * size}px`"
		:width="`${39.3 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${19.65 * size}, ${8.95 * size})`">
			<path
				d="M5.8 0.45 Q6.55 0.0 7.55 -0.35 10.05 -1.2 12.05 -1.2 14.1 -1.2 15.85 -0.5 L18.15 0.5 Q18.8 0.7 19.1 1.65 L18.65 1.25 18.55 1.25 18.25 1.5 Q18.95 2.3 18.95 3.8 18.95 6.95 16.3 7.55 L16.35 7.75 13.5 8.15 12.9 8.25 10.65 8.55 10.35 8.6 10.25 8.6 9.7 8.7 9.5 8.7 9.35 8.75 9.35 8.7 8.9 8.65 8.5 8.55 Q6.95 8.1 5.85 6.7 4.6 5.15 4.6 3.65 L4.8 2.3 4.5 1.95 4.35 1.85 4.5 1.6 4.8 1.25 5.25 0.85 5.85 0.45 5.8 0.45 M17.3 4.2 Q17.3 2.95 15.9 2.95 14.8 2.95 13.3 3.85 11.85 4.7 11.0 4.7 L9.4 4.5 Q7.75 4.5 7.75 5.7 7.75 7.5 12.35 7.5 14.55 7.5 16.05 6.25 17.3 5.2 17.3 4.2 M-19.25 -5.8 L-19.2 -5.85 -18.5 -7.15 Q-17.55 -8.4 -16.15 -8.75 L-14.75 -8.95 -14.55 -8.95 Q-12.75 -8.9 -10.9 -7.35 L-9.15 -5.55 Q-7.7 -3.8 -7.7 -1.6 L-7.9 -0.3 -8.05 -0.25 -8.1 -0.45 Q-8.1 -0.95 -8.35 -1.1 -8.75 -0.9 -8.75 -0.25 L-9.0 0.9 -9.75 1.6 Q-11.45 2.8 -12.95 2.8 L-14.95 2.4 -15.2 2.3 -15.9 1.9 -16.4 1.45 -16.3 1.35 -16.5 1.35 -16.55 1.35 -18.1 -0.85 -18.85 -3.25 -18.95 -4.4 -18.95 -4.55 -19.15 -5.85 -19.25 -5.8 M-15.6 -2.65 Q-16.85 -2.65 -16.85 -1.5 -16.85 1.2 -12.9 1.2 -10.55 1.2 -10.55 -0.15 -10.55 -1.2 -11.8 -1.2 -13.85 -1.2 -14.6 -1.9 L-15.6 -2.65"
				fill="#ff0000"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M17.3 4.2 Q17.3 5.2 16.05 6.25 14.55 7.5 12.35 7.5 7.75 7.5 7.75 5.7 7.75 4.5 9.4 4.5 L11.0 4.7 Q11.85 4.7 13.3 3.85 14.8 2.95 15.9 2.95 17.3 2.95 17.3 4.2 M-7.9 -0.3 L-8.0 0.1 -8.05 -0.25 -7.9 -0.3 M-16.5 1.35 L-16.3 1.35 -16.4 1.45 -16.5 1.35 M-15.6 -2.65 L-14.6 -1.9 Q-13.85 -1.2 -11.8 -1.2 -10.55 -1.2 -10.55 -0.15 -10.55 1.2 -12.9 1.2 -16.85 1.2 -16.85 -1.5 -16.85 -2.65 -15.6 -2.65"
				fill="#ff00ff"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M4.35 1.85 L4.5 1.95 4.8 2.3 4.6 3.65 Q4.6 5.15 5.85 6.7 6.95 8.1 8.5 8.55 L8.9 8.65 9.35 8.7 9.35 8.75 7.65 8.9 Q6.15 8.55 4.9 6.85 3.65 5.15 3.7 3.3 3.7 1.6 4.35 1.85 M16.3 7.55 Q18.95 6.95 18.95 3.8 18.95 2.3 18.25 1.5 L18.55 1.25 18.65 1.25 19.1 1.65 19.4 2.45 19.65 3.8 Q19.65 6.9 16.75 7.8 L16.35 7.8 16.3 7.55 M-8.05 -0.25 L-8.0 0.15 Q-8.0 1.75 -10.15 2.75 -11.85 3.55 -13.35 3.55 -17.1 3.55 -18.55 -0.1 -19.65 -2.8 -19.65 -4.55 -19.65 -5.55 -19.25 -5.8 L-19.15 -5.85 -18.95 -4.55 -18.95 -4.4 -18.85 -3.25 -18.1 -0.85 -16.55 1.35 -16.5 1.35 -16.4 1.45 -15.9 1.9 -15.2 2.3 -14.95 2.4 -12.95 2.8 Q-11.45 2.8 -9.75 1.6 L-9.0 0.9 -8.75 -0.25 Q-8.75 -0.9 -8.35 -1.1 -8.1 -0.95 -8.1 -0.45 L-8.05 -0.25"
				fill="#a36a6a"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path d="M5.8 0.45 L5.85 0.45 5.75 0.5 5.8 0.45" fill="#c7c9da" fill-rule="evenodd" stroke="none" />
			<path d="M5.85 0.45 L5.25 0.85 5.75 0.5 5.85 0.45" fill="#ffffff" fill-rule="evenodd" stroke="none" />
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'PigmouDemonEye0',
	props: {
		size: Number
	}
});
</script>
