<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${16.05 * size}px`"
		:width="`${39.4 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${23.05 * size}, ${-5.1 * size})`">
			<path
				d="M3.45 17.6 L3.45 17.75 Q5.6 19.6 8.85 19.6 10.6 19.6 10.6 18.65 10.6 17.4 4.6 17.4 L3.45 17.6 M1.9 12.75 Q16.35 14.8 16.35 17.75 16.35 19.6 10.1 21.15 L5.65 20.3 2.55 19.35 2.5 19.35 1.7 19.0 1.3 18.8 -2.2 16.5 Q-3.75 15.25 -3.75 14.45 -3.75 13.6 -2.85 13.35 L0.9 12.75 1.9 12.75 M-18.65 5.65 Q-15.45 6.9 -11.75 11.05 -11.75 12.05 -13.05 12.05 -17.1 12.05 -19.7 10.6 L-20.3 10.25 -20.9 9.8 Q-23.0 8.05 -23.05 6.05 L-23.05 6.0 Q-23.05 5.1 -21.45 5.1 L-20.6 5.15 -19.65 5.35 -18.65 5.65 M-19.1 8.05 Q-19.9 8.05 -19.9 8.8 L-19.05 9.7 Q-18.05 10.35 -17.0 10.35 -16.2 10.35 -16.2 9.5 -16.2 9.35 -17.15 8.75 -18.25 8.05 -19.1 8.05"
				fill="#ff0000"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M3.45 17.6 L4.6 17.4 Q10.6 17.4 10.6 18.65 10.6 19.6 8.85 19.6 5.6 19.6 3.45 17.75 L3.45 17.6 M-19.1 8.05 Q-18.25 8.05 -17.15 8.75 -16.2 9.35 -16.2 9.5 -16.2 10.35 -17.0 10.35 -18.05 10.35 -19.05 9.7 L-19.9 8.8 Q-19.9 8.05 -19.1 8.05"
				fill="#ff00ff"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'PigmouDemonEye1',
	props: {
		size: Number
	}
});
</script>
