<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${22.35 * size}px`"
		:width="`${28.1 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${20.25 * size}, ${6.9 * size})`">
			<path
				d="M-2.25 8.5 Q-1.95 7.65 -0.85 6.5 -0.35 5.95 0.35 5.7 L1.45 5.4 3.95 5.75 4.5 5.95 Q7.05 6.95 7.85 9.75 7.95 10.95 7.45 12.4 6.3 15.1 3.3 15.45 L2.55 15.45 1.65 15.3 1.1 15.15 0.75 15.05 -1.3 13.45 -1.8 12.65 Q-2.75 11.0 -2.75 9.55 L-2.7 9.15 -2.25 8.5 M-14.15 -6.6 L-14.0 -6.5 -11.85 -4.9 -11.7 -4.75 -11.25 -4.15 -10.75 -3.25 -10.5 -2.7 -10.1 -1.0 -9.7 3.15 Q-9.6 4.8 -10.75 5.85 -11.35 6.5 -12.2 7.0 -13.5 7.8 -14.85 7.8 L-16.75 7.6 -17.8 6.15 -17.85 6.05 -19.25 4.8 -19.55 4.6 -20.1 4.2 -20.2 1.55 Q-19.95 -0.95 -19.1 -3.35 L-18.3 -5.15 Q-17.6 -6.3 -16.15 -6.75 L-15.0 -6.85 -14.15 -6.6 M0.65 10.4 L0.15 10.7 Q-0.35 11.25 -0.4 12.15 L0.45 12.85 Q3.1 14.8 5.3 13.2 L5.35 12.05 4.85 11.05 Q2.9 9.7 0.65 10.4 M-12.2 5.3 L-11.95 3.5 Q-12.25 0.95 -14.35 0.1 -18.55 -1.5 -19.65 2.85 L-19.25 3.35 Q-16.4 7.2 -12.2 5.3"
				fill="#ff0000"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-12.2 5.3 Q-16.4 7.2 -19.25 3.35 L-19.65 2.85 Q-18.55 -1.5 -14.35 0.1 -12.25 0.95 -11.95 3.5 L-12.2 5.3 M0.65 10.4 Q2.9 9.7 4.85 11.05 L5.35 12.05 5.3 13.2 Q3.1 14.8 0.45 12.85 L-0.4 12.15 Q-0.35 11.25 0.15 10.7 L0.65 10.4"
				fill="#ff00ff"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-15.3 -2.2 Q-14.7 -1.5 -14.7 -1.05 -14.7 -0.3 -16.05 -0.3 -17.1 -0.3 -18.05 -0.95 -18.85 -1.45 -18.85 -1.7 L-18.4 -2.5 -17.3 -3.1 Q-16.1 -3.1 -15.3 -2.2 M2.5 9.3 Q2.5 10.1 1.7 10.1 -0.45 10.1 -0.45 8.3 -0.45 7.55 0.6 7.55 1.65 7.55 2.5 9.3"
				fill="#ffffff"
				fill-opacity="0.7058824"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'PigmouDemonEye2',
	props: {
		size: Number
	}
});
</script>
