<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${21.2 * size}px`"
		:width="`${32.5 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${21.1 * size}, ${4.95 * size})`">
			<path
				d="M1.4 13.8 L-2.3 13.3 Q-3.4 11.6 -3.6 9.9 -3.6 8.0 -2.5 6.2 L-0.7 4.45 -0.75 4.45 -0.3 4.15 0.55 3.6 1.0 3.35 Q1.4 3.1 1.9 3.0 L3.8 2.65 Q7.1 2.6 9.25 4.65 11.4 6.65 11.4 8.4 L11.4 8.5 11.25 10.35 Q10.95 13.15 8.9 15.1 L7.6 16.25 5.8 15.35 3.2 14.3 2.8 14.2 2.4 14.05 3.55 14.15 Q8.25 14.15 8.25 11.8 8.25 10.7 6.6 9.7 5.85 9.2 4.7 9.25 L2.85 9.1 0.35 8.2 Q-1.7 8.2 -1.7 10.2 -0.75 12.95 1.4 13.8 M-20.55 -1.45 L-20.45 -1.7 -20.1 -2.35 Q-19.15 -3.9 -17.5 -4.5 L-15.4 -4.95 -14.95 -4.95 -14.9 -4.95 -13.8 -4.85 -12.8 -4.65 Q-8.5 -3.45 -8.5 2.3 -8.95 8.25 -14.35 8.25 -16.5 8.25 -18.0 7.35 L-18.55 7.0 -19.5 6.0 -20.1 5.15 -20.6 4.1 Q-21.1 2.75 -21.1 1.2 -21.1 -0.2 -20.55 -1.45 M-12.05 5.3 Q-12.05 3.25 -14.4 2.75 L-16.2 1.5 Q-17.65 0.4 -18.6 0.4 -20.45 0.4 -20.45 2.5 -20.45 3.4 -19.2 5.05 -17.5 7.2 -15.15 7.2 -12.05 7.2 -12.05 5.3"
				fill="#ff0000"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M1.4 13.8 Q-0.75 12.95 -1.7 10.2 -1.7 8.2 0.35 8.2 L2.85 9.1 4.7 9.25 Q5.85 9.2 6.6 9.7 8.25 10.7 8.25 11.8 8.25 14.15 3.55 14.15 L2.4 14.05 1.75 13.85 1.6 13.85 1.4 13.8 M-12.05 5.3 Q-12.05 7.2 -15.15 7.2 -17.5 7.2 -19.2 5.05 -20.45 3.4 -20.45 2.5 -20.45 0.4 -18.6 0.4 -17.65 0.4 -16.2 1.5 L-14.4 2.75 Q-12.05 3.25 -12.05 5.3"
				fill="#ff00ff"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-17.95 -1.45 Q-15.45 -1.45 -13.8 0.45 L-13.8 0.5 -13.8 0.55 -13.85 0.6 -16.55 0.65 -18.35 0.4 Q-19.0 0.1 -18.95 -0.4 -18.9 -1.45 -17.95 -1.45 M3.85 6.25 Q5.3 6.8 5.3 7.5 5.3 8.1 4.45 8.1 2.85 8.1 -0.35 6.35 -0.35 5.7 1.05 5.7 2.5 5.7 3.85 6.25"
				fill="#ffffff"
				fill-opacity="0.7137255"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'PigmouDemonEye3',
	props: {
		size: Number
	}
});
</script>
