<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${21.2 * size}px`"
		:width="`${25.2 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, 0.0, 0.0)`">
			<path
				d="M23.0 10.4 L25.2 12.2 Q23.75 11.85 20.4 15.05 L19.05 16.55 Q16.95 19.1 17.4 21.2 16.55 20.45 15.35 19.9 15.2 19.8 15.2 18.55 15.2 16.8 16.15 14.5 L16.55 13.6 Q17.9 10.8 19.75 10.0 L21.4 9.0 23.0 10.4 M13.05 3.7 L12.9 3.85 Q11.05 2.7 7.4 5.8 L5.9 7.3 Q3.55 9.95 3.55 13.15 L3.85 15.75 3.85 16.7 3.55 16.7 0.5 13.65 Q0.0 13.1 0.0 10.75 0.0 8.2 0.75 6.8 1.25 5.8 2.25 4.7 4.05 2.55 7.5 0.0 L8.2 0.0 13.05 3.7 M15.45 5.9 L16.5 6.45 19.2 7.65 Q14.45 9.05 12.7 12.1 11.65 13.85 11.65 16.2 L11.85 18.35 8.65 17.15 Q7.8 16.85 7.8 15.45 7.8 11.95 9.2 9.6 L9.45 9.15 Q11.45 6.15 15.45 5.9"
				:fill="brighterSpecialColor"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'PigmouFrontLeftLegSpecial0',
	props: {
		size: Number,
		brighterSpecialColor: String
	}
});
</script>
