<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${12.5 * size}px`"
		:width="`${12.75 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${0.7 * size}, 0.6, 0.0, ${1.0 * size}, ${6.4 * size}, ${6.2 * size})`">
			<path
				d="M2.25 -2.8 L1.8 -2.9 0.35 -3.2 Q-0.55 -3.55 -1.75 -2.55 L-3.35 -1.0 -4.1 -0.1 -4.2 0.15 Q-3.85 1.05 -3.85 1.5 L-3.35 2.7 Q-2.55 3.85 -1.1 3.85 3.55 3.85 3.55 -0.15 3.25 -2.4 2.25 -2.8 M-5.9 0.05 L-6.3 0.5 -6.35 0.15 Q-6.35 -1.35 -4.85 -3.15 -2.65 -5.75 1.4 -5.75 4.3 -5.75 5.4 -3.5 L5.9 -1.5 6.35 0.35 Q6.35 1.35 4.65 3.15 2.6 5.35 0.45 5.35 L-1.7 5.7 Q-2.7 5.7 -3.6 4.7 L-4.3 3.65 -5.35 2.55 Q-6.4 1.6 -6.4 0.95 -6.4 0.3 -5.9 0.05"
				fill="#3c0b4a"
				fill-opacity="0.22352941"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M2.25 -2.8 Q3.25 -2.4 3.55 -0.15 3.55 3.85 -1.1 3.85 -2.55 3.85 -3.35 2.7 L-3.85 1.5 Q-3.85 1.05 -4.2 0.15 L-4.1 -0.1 -3.35 -1.0 -1.75 -2.55 Q-0.55 -3.55 0.35 -3.2 L1.8 -2.9 2.25 -2.8"
				fill="#3c0b4a"
				fill-opacity="0.4509804"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeRightLegHeavyInjury0',
	props: {
		size: Number
	}
});
</script>
