<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${17.95 * size}px`"
		:width="`${39.3 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${21.25 * size}, ${4.55 * size})`">
			<path
				d="M-20.85 -1.4 L-20.75 -1.45 -20.55 -0.15 -20.55 0.0 -20.45 1.15 -19.7 3.55 -18.15 5.75 -18.1 5.75 -17.5 6.3 -16.8 6.7 -16.55 6.8 -14.55 7.2 Q-13.05 7.2 -11.35 6.0 L-10.6 5.3 -10.35 4.15 Q-10.35 3.5 -9.95 3.3 -9.7 3.45 -9.7 3.95 L-9.65 4.1 -9.6 4.55 Q-9.6 6.15 -11.75 7.15 -13.45 7.95 -14.95 7.95 -18.7 7.95 -20.15 4.3 -21.25 1.6 -21.25 -0.15 -21.25 -1.15 -20.85 -1.4 M17.5 6.05 L17.8 6.85 18.05 8.2 Q18.05 11.3 15.15 12.2 L14.75 12.2 14.75 12.15 14.7 11.95 Q17.35 11.35 17.35 8.2 17.35 6.7 16.65 5.9 L16.95 5.65 17.05 5.65 17.5 6.05 M7.75 13.15 L6.05 13.3 Q4.55 12.95 3.3 11.25 2.05 9.55 2.1 7.7 2.1 6.0 2.75 6.25 L2.9 6.35 3.2 6.7 3.0 8.05 Q3.0 9.55 4.25 11.1 5.35 12.5 6.9 12.95 L7.3 13.05 7.75 13.1 7.75 13.15"
				fill="#a36a6a"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-18.1 5.75 L-18.15 5.75 -19.7 3.55 -20.45 1.15 -20.55 0.0 -20.55 -0.15 -20.75 -1.45 -20.85 -1.4 -20.8 -1.45 -20.1 -2.75 Q-19.15 -4.0 -17.75 -4.35 L-15.95 -2.7 Q-13.6 -0.4 -13.6 1.65 -13.6 2.7 -14.25 3.8 -15.4 5.75 -17.9 5.75 L-18.1 5.75 M2.75 6.25 L2.9 6.0 3.2 6.0 5.55 5.7 Q12.25 5.7 12.25 9.7 12.25 11.0 8.8 12.25 L6.9 12.95 Q5.35 12.5 4.25 11.1 3.0 9.55 3.0 8.05 L3.2 6.7 2.9 6.35 2.75 6.25 M3.85 5.1 L4.15 4.9 4.25 4.85 3.85 5.1"
				fill="#ffffff"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-9.65 4.1 L-9.7 3.95 Q-9.7 3.45 -9.95 3.3 -10.35 3.5 -10.35 4.15 L-10.6 5.3 -11.35 6.0 Q-13.05 7.2 -14.55 7.2 L-16.55 6.8 -16.8 6.7 -17.5 6.3 -18.1 5.75 -17.9 5.75 Q-15.4 5.75 -14.25 3.8 -13.6 2.7 -13.6 1.65 -13.6 -0.4 -15.95 -2.7 L-17.75 -4.35 -16.35 -4.55 -16.15 -4.55 Q-14.35 -4.5 -12.5 -2.95 L-10.75 -1.15 Q-9.3 0.6 -9.3 2.8 L-9.5 4.1 -9.6 4.5 -9.65 4.1 M4.15 4.9 Q4.9 4.4 5.95 4.05 8.45 3.2 10.45 3.2 12.5 3.2 14.25 3.9 15.85 4.7 16.55 4.9 17.2 5.1 17.5 6.05 L17.05 5.65 16.95 5.65 16.65 5.9 Q17.35 6.7 17.35 8.2 17.35 11.35 14.7 11.95 L14.75 12.15 11.9 12.55 11.3 12.65 9.05 12.95 8.75 13.0 8.65 13.0 8.1 13.1 7.9 13.1 7.75 13.15 7.75 13.1 7.3 13.05 6.9 12.95 8.8 12.25 Q12.25 11.0 12.25 9.7 12.25 5.7 5.55 5.7 L3.2 6.0 2.9 6.0 3.2 5.65 3.85 5.1 4.25 4.85 4.15 4.9"
				fill="#c7c9da"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-18.55 -1.55 Q-17.65 -3.6 -16.05 -3.6 -15.05 -3.6 -13.5 -2.0 L-12.3 -0.65 Q-11.75 -0.25 -11.35 0.6 L-10.85 2.2 -10.9 3.0 -11.15 3.7 -10.9 2.95 -10.85 3.05 -10.8 3.4 Q-10.8 4.15 -11.8 5.15 -13.1 6.45 -15.15 6.45 -17.25 6.45 -18.35 3.95 -19.05 2.3 -19.05 1.2 L-18.9 -0.55 -18.55 -1.55 M13.5 7.55 Q13.5 8.75 12.05 10.55 10.1 12.95 7.25 12.95 5.9 12.95 5.75 12.45 4.35 12.1 3.65 10.75 L3.1 9.35 Q2.5 8.55 2.3 7.35 2.3 6.3 2.85 6.3 L3.0 7.0 Q3.3 6.75 3.9 6.6 L4.4 6.5 Q4.8 5.35 6.35 5.35 L7.45 5.55 8.1 5.2 8.9 5.05 8.9 5.0 Q8.8 4.55 9.3 4.55 L9.85 4.8 Q10.15 4.65 10.6 4.8 L11.4 5.15 11.45 5.05 Q11.65 4.85 12.1 5.05 12.85 5.3 13.15 5.85 L13.5 7.55"
				fill="#660000"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-17.65 -0.45 Q-15.0 -0.7 -13.05 0.85 L-12.4 1.45 -12.7 1.75 -12.95 2.05 -13.25 2.2 Q-14.35 2.4 -15.2 1.75 -16.5 0.75 -18.1 0.45 L-18.15 0.15 -17.95 -0.35 -17.65 -0.45 M-12.85 4.3 L-12.8 4.45 Q-12.8 4.65 -14.5 5.5 -15.55 5.5 -16.45 4.9 -17.2 4.35 -17.2 4.0 L-16.2 3.95 -14.8 4.6 -13.75 4.45 -13.25 4.25 -12.85 4.3 M4.3 6.65 Q6.7 6.3 8.55 7.45 L8.45 7.6 5.0 8.2 Q3.45 8.4 3.6 7.1 L4.3 6.65 M6.7 11.35 L5.95 11.2 5.45 10.95 5.15 10.6 5.2 10.3 6.25 10.45 7.45 10.75 9.6 10.25 10.5 9.65 9.75 10.8 Q9.05 11.5 7.15 11.5 L6.7 11.35"
				fill="#ffffff"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'PigmouBabyEye0',
	props: {
		size: Number
	}
});
</script>
