<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${16.05 * size}px`"
		:width="`${39.4 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${23.05 * size}, ${-5.1 * size})`">
			<path
				d="M-2.2 16.5 Q-1.45 16.0 0.9 16.0 L5.0 16.8 Q7.55 17.6 7.55 18.2 7.55 19.5 4.85 19.5 L2.55 19.35 2.5 19.35 1.7 19.0 1.3 18.8 -2.2 16.5 M-19.65 5.35 L-18.65 5.65 -18.25 6.95 -17.85 8.9 Q-17.85 10.25 -19.7 10.6 L-20.3 10.25 -20.9 9.8 Q-23.0 8.05 -23.05 6.05 -22.1 5.2 -21.0 5.15 L-20.6 5.15 -19.85 5.55 -19.65 5.35"
				fill="#ffffff"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M2.55 19.35 L4.85 19.5 Q7.55 19.5 7.55 18.2 7.55 17.6 5.0 16.8 L0.9 16.0 Q-1.45 16.0 -2.2 16.5 -3.75 15.25 -3.75 14.45 -3.75 13.6 -2.85 13.35 L0.9 12.75 1.9 12.75 Q16.35 14.8 16.35 17.75 16.35 19.6 10.1 21.15 L5.65 20.3 2.55 19.35 M-19.65 5.35 L-19.85 5.55 -20.6 5.15 -21.0 5.15 Q-22.1 5.2 -23.05 6.05 L-23.05 6.0 Q-23.05 5.1 -21.45 5.1 L-20.6 5.15 -19.65 5.35 M-19.7 10.6 Q-17.85 10.25 -17.85 8.9 L-18.25 6.95 -18.65 5.65 Q-15.45 6.9 -11.75 11.05 -11.75 12.05 -13.05 12.05 -17.1 12.05 -19.7 10.6"
				fill="#c7c9da"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M10.3 16.4 Q11.5 16.4 11.25 17.55 10.1 20.6 7.5 20.6 3.45 20.6 1.4 18.9 0.0 17.7 0.0 16.45 0.0 14.15 2.1 15.1 5.9 16.8 7.65 16.8 L10.3 16.4 M-17.15 11.25 Q-19.2 11.25 -20.45 10.15 -21.45 9.25 -21.45 8.45 L-21.25 6.4 Q-20.8 4.7 -19.35 6.3 L-15.45 8.4 Q-14.7 8.75 -14.7 9.85 -14.7 11.25 -17.15 11.25"
				fill="#660000"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'PigmouBabyEye1',
	props: {
		size: Number
	}
});
</script>
