<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${22.35 * size}px`"
		:width="`${28.1 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${20.25 * size}, ${6.9 * size})`">
			<path
				d="M-15.0 -6.85 L-14.0 -5.65 Q-12.3 -3.6 -12.3 -1.8 -12.3 0.6 -13.65 2.1 -15.15 3.85 -15.6 4.05 L-18.6 4.7 -19.25 4.8 -19.55 4.6 -20.1 4.2 -20.2 1.55 Q-19.95 -0.95 -19.1 -3.35 L-18.3 -5.15 Q-17.6 -6.3 -16.15 -6.75 L-15.0 -6.85 M-17.85 6.05 L-17.8 6.05 -17.8 6.15 -17.85 6.05 M0.35 5.7 Q1.45 5.75 3.35 6.6 5.2 7.45 4.9 10.6 4.55 13.7 0.65 13.7 L-1.1 13.4 -1.3 13.45 -1.8 12.65 Q-2.75 11.0 -2.75 9.55 L-2.7 9.15 -2.25 8.5 Q-1.95 7.65 -0.85 6.5 -0.35 5.95 0.35 5.7 M1.1 15.15 L1.7 15.15 1.65 15.3 1.1 15.15"
				fill="#ffffff"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-15.0 -6.85 L-14.15 -6.6 -14.0 -6.5 -11.85 -4.9 -11.7 -4.75 -11.25 -4.15 -10.75 -3.25 -10.5 -2.7 -10.1 -1.0 -9.7 3.15 Q-9.6 4.8 -10.75 5.85 -11.35 6.5 -12.2 7.0 -13.5 7.8 -14.85 7.8 L-16.75 7.6 -17.8 6.15 -17.8 6.05 -17.85 6.05 -19.25 4.8 -18.6 4.7 -15.6 4.05 Q-15.15 3.85 -13.65 2.1 -12.3 0.6 -12.3 -1.8 -12.3 -3.6 -14.0 -5.65 L-15.0 -6.85 M-1.3 13.45 L-1.1 13.4 0.65 13.7 Q4.55 13.7 4.9 10.6 5.2 7.45 3.35 6.6 1.45 5.75 0.35 5.7 L1.45 5.4 3.95 5.75 4.5 5.95 Q7.05 6.95 7.85 9.75 7.95 10.95 7.45 12.4 6.3 15.1 3.3 15.45 L2.55 15.45 1.65 15.3 1.7 15.15 1.1 15.15 0.75 15.05 -1.3 13.45"
				fill="#c7c9da"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'PigmouAdultEye2',
	props: {
		size: Number
	}
});
</script>
