<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${21.2 * size}px`"
		:width="`${32.5 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${21.1 * size}, ${4.95 * size})`">
			<path
				d="M-18.55 7.0 L-19.5 6.0 -20.1 5.15 -20.6 4.1 Q-21.1 2.75 -21.1 1.2 -21.1 -0.2 -20.55 -1.45 L-20.45 -1.7 -20.1 -2.35 Q-19.15 -3.9 -17.5 -4.5 L-15.4 -4.95 -14.95 -4.95 -14.9 -4.95 -13.8 -4.85 -12.45 -3.2 Q-11.7 -1.75 -11.7 -0.45 -11.7 0.6 -12.65 3.3 -15.1 6.6 -18.05 6.6 L-19.05 6.55 -18.55 7.0 M1.6 13.85 L-2.3 13.3 Q-3.4 11.6 -3.6 9.9 -3.6 8.0 -2.5 6.2 L-0.7 4.45 0.95 4.1 Q4.55 4.1 4.55 9.35 4.55 10.15 3.55 11.85 L2.4 13.0 1.15 13.7 1.6 13.85"
				fill="#ffffff"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-18.55 7.0 L-19.05 6.55 -18.05 6.6 Q-15.1 6.6 -12.65 3.3 -11.7 0.6 -11.7 -0.45 -11.7 -1.75 -12.45 -3.2 L-13.8 -4.85 -12.8 -4.65 Q-8.5 -3.45 -8.5 2.3 -8.95 8.25 -14.35 8.25 -16.5 8.25 -18.0 7.35 L-18.55 7.0 M-0.7 4.45 L-0.75 4.45 -0.3 4.15 0.55 3.6 1.0 3.35 Q1.4 3.1 1.9 3.0 L3.8 2.65 Q7.1 2.6 9.25 4.65 11.4 6.65 11.4 8.4 L11.4 8.5 11.25 10.35 Q10.95 13.15 8.9 15.1 L7.6 16.25 5.8 15.35 3.2 14.3 2.8 14.2 1.75 13.85 1.6 13.85 1.15 13.7 2.4 13.0 3.55 11.85 Q4.55 10.15 4.55 9.35 4.55 4.1 0.95 4.1 L-0.7 4.45"
				fill="#c7c9da"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'PigmouAdultEye3',
	props: {
		size: Number
	}
});
</script>
