<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${37.95 * size}px`"
		:width="`${37.0 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${13.5 * size}, ${24.3 * size})`">
			<path
				d="M12.2 -17.2 L10.7 -16.25 Q12.6 -17.95 14.65 -18.25 L12.2 -17.2"
				fill="#3c0b4a"
				fill-opacity="0.22352941"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M21.1 -19.05 Q13.35 -22.55 13.35 -23.6 13.35 -24.3 14.1 -24.3 17.0 -24.3 17.85 -21.9 20.5 -20.2 21.1 -19.15 L21.1 -19.05 M-10.7 -1.25 Q-10.7 -0.25 -11.25 1.1 L-11.65 1.85 -11.65 1.9 -12.05 2.9 -10.5 7.15 Q-10.5 8.95 -10.8 10.05 L-10.8 10.1 Q-10.65 10.1 -10.65 10.4 L-11.55 12.15 Q-12.5 13.65 -12.8 13.65 L-13.2 13.65 -13.2 13.25 Q-12.45 11.15 -11.6 10.4 L-11.3 9.7 -11.1 8.65 Q-11.1 6.7 -12.15 5.2 -13.25 3.7 -13.25 2.95 L-13.25 2.7 -13.3 2.7 -13.35 2.65 -13.2 2.45 -12.75 1.55 -12.55 1.0 Q-12.05 -0.25 -12.05 -0.6 -12.05 -1.6 -13.45 -4.35 L-13.05 -5.6 -13.5 -7.0 Q-13.45 -7.55 -12.75 -7.55 -12.05 -7.55 -11.55 -5.45 L-11.75 -4.45 Q-10.7 -2.4 -10.7 -1.25"
				fill="#a61515"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M15.2 -7.65 Q15.2 -7.35 16.2 -6.5 17.0 -5.5 17.7 -5.5 18.85 -5.5 21.05 -7.8 L20.65 -8.6 Q20.65 -11.2 18.75 -11.2 15.2 -11.2 15.2 -7.65 M14.25 -11.0 Q15.8 -12.85 17.35 -12.85 L19.65 -12.35 20.1 -12.45 Q20.7 -12.45 21.6 -11.8 22.5 -11.25 22.6 -10.75 L23.35 -9.7 23.5 -8.85 Q23.5 -7.25 21.55 -5.2 19.7 -3.25 18.5 -3.25 L17.2 -3.6 15.85 -3.5 Q14.75 -3.5 14.75 -4.4 L13.55 -5.35 12.7 -7.15 Q12.7 -9.05 14.25 -11.0"
				fill="#db2424"
				fill-opacity="0.22352941"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M15.2 -7.65 Q15.2 -11.2 18.75 -11.2 20.65 -11.2 20.65 -8.6 L21.05 -7.8 Q18.85 -5.5 17.7 -5.5 17.0 -5.5 16.2 -6.5 15.2 -7.35 15.2 -7.65"
				fill="#a51616"
				fill-opacity="0.4509804"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeHeadHeavyInjury3',
	props: {
		size: Number
	}
});
</script>
