<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${30.8 * size}px`"
		:width="`${40.5 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${44.5 * size}, ${19.2 * size})`">
			<path
				d="M-9.65 11.6 Q-4.7 -1.0 -5.15 -14.9 -1.6 -2.35 -8.8 10.25 L-9.65 11.6"
				fill="#ffffff"
				fill-opacity="0.6509804"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-42.05 -3.8 L-41.6 -3.25 Q-41.45 -1.2 -43.25 -1.05 -44.45 -0.95 -44.5 -1.85 L-43.95 -3.15 Q-43.4 -4.1 -42.7 -4.25 L-42.05 -3.8 M-35.2 -12.2 Q-38.55 -7.45 -40.2 -7.3 -41.4 -7.2 -41.45 -8.4 -38.7 -18.75 -33.85 -19.2 -33.05 -19.3 -32.55 -18.3 L-32.2 -17.25 Q-32.15 -16.65 -35.2 -12.2"
				fill="#ffffff"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'PigmouHair0',
	props: {
		size: Number
	}
});
</script>
