<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${46.25 * size}px`"
		:width="`${52.5 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${26.25 * size}, ${23.15 * size})`">
			<path
				d="M5.7 -14.9 L5.45 -14.9 Q5.1 -14.9 5.1 -15.25 L6.95 -16.1 Q8.05 -16.1 8.3 -13.95 L8.25 -13.7 8.0 -13.65 7.7 -13.85 7.4 -14.5 6.9 -15.35 5.7 -14.9 M9.2 -14.35 L9.15 -14.15 8.95 -14.1 8.7 -14.15 8.65 -14.45 8.9 -14.75 9.2 -14.35 M8.75 -13.1 L9.25 -13.6 9.55 -13.55 9.65 -13.25 9.15 -12.75 8.8 -12.8 8.75 -13.1 M24.85 0.5 L24.75 0.4 24.7 0.35 24.7 0.3 25.0 -0.05 25.05 -0.1 25.1 -0.05 Q26.25 0.6 26.25 1.9 26.25 2.35 24.35 4.05 L24.25 4.05 23.95 3.8 Q23.95 3.4 24.6 2.65 L24.65 2.55 24.75 2.5 25.4 1.8 Q25.4 1.15 25.0 0.65 L24.9 0.55 24.85 0.5 M22.35 -2.15 L22.6 -2.45 Q23.2 -1.7 23.2 -1.1 23.2 -0.6 22.2 0.5 L21.6 0.5 21.55 0.4 21.65 0.25 22.6 -1.05 22.35 -2.1 22.35 -2.15 M22.2 12.4 L22.0 11.45 22.0 10.95 22.2 10.9 Q22.8 10.9 23.05 13.2 23.05 14.05 21.3 14.55 L21.0 14.25 Q21.0 13.85 21.8 13.4 L22.15 13.2 22.3 13.15 22.35 13.1 22.35 13.05 22.2 12.4 M0.05 9.45 L0.0 9.2 0.25 9.15 Q1.25 9.15 1.5 10.15 1.5 11.35 0.05 12.0 L-0.3 11.65 -0.3 11.6 Q-0.25 11.1 0.7 10.2 L0.35 10.0 0.05 9.45 M0.55 12.95 L0.5 12.4 0.85 12.3 Q1.2 12.3 1.2 12.7 L0.85 13.05 0.55 12.95 M1.4 13.85 Q1.25 13.8 1.25 13.55 L1.4 13.5 1.6 13.7 1.4 13.85 M18.7 21.55 L18.7 20.55 18.95 20.15 Q19.35 20.35 19.35 21.35 19.35 22.95 17.35 23.1 L17.05 22.75 Q17.05 22.5 17.8 22.3 L18.3 22.15 18.7 21.75 18.7 21.55 M-24.65 -3.85 L-25.0 -3.6 -24.95 -3.6 Q-25.35 -3.3 -25.35 -2.55 L-25.35 -2.25 -25.35 -0.25 -25.4 -0.2 -25.55 -0.1 -25.6 -0.1 Q-26.0 -0.1 -26.15 -0.65 L-26.25 -2.1 Q-26.25 -5.05 -24.1 -5.05 L-24.0 -5.0 -23.55 -4.6 -23.55 -4.5 -23.6 -4.45 -24.25 -4.05 -24.65 -3.85 M-3.9 -21.35 L-4.0 -21.3 -4.4 -21.1 -4.5 -21.1 -4.55 -21.15 -4.65 -21.35 -4.65 -21.4 -3.75 -22.4 Q-2.8 -23.15 -2.3 -23.15 -1.85 -23.15 -0.8 -21.95 L-0.8 -21.2 Q-0.85 -21.0 -1.2 -21.0 L-1.25 -21.0 -1.25 -21.05 -1.5 -21.4 -1.6 -21.55 -1.6 -21.6 Q-2.15 -22.25 -2.4 -22.25 L-3.9 -21.35 M-4.95 -16.05 L-5.2 -16.45 Q-5.3 -16.95 -5.7 -16.95 L-7.0 -16.05 -7.35 -15.95 -7.65 -16.0 -7.75 -16.25 -6.9 -17.15 -5.6 -17.65 Q-4.6 -17.65 -4.45 -16.3 L-4.5 -16.05 Q-4.45 -15.95 -4.7 -15.95 L-4.95 -16.05 M-2.4 -0.55 L-2.6 -0.65 -1.7 -1.7 -2.3 -1.7 -2.95 -1.75 -3.0 -2.0 Q-3.0 -2.45 -1.15 -2.75 L-1.55 -2.85 -2.7 -3.25 -2.6 -3.45 -1.65 -3.75 Q-0.8 -3.75 -0.4 -2.65 -0.4 -2.15 -0.9 -1.9 -0.95 -0.55 -2.3 -0.55 L-2.4 -0.55 M-1.35 -0.4 L-0.9 -0.35 -0.7 -0.1 -1.35 0.15 -1.7 0.1 -1.75 -0.1 -1.7 -0.35 -1.35 -0.4 M-17.65 4.2 L-17.7 5.75 -17.7 5.85 -17.75 5.95 -17.7 5.95 -17.85 6.15 -17.95 6.2 Q-18.35 6.2 -18.35 4.55 -18.35 3.55 -17.5 3.55 -16.2 3.55 -16.2 4.55 L-16.35 4.7 -16.4 4.75 -17.6 4.15 -17.65 4.15 -17.65 4.2 M-19.3 5.7 L-19.05 5.75 -18.95 6.05 -19.25 6.3 -19.6 6.25 -19.65 6.0 Q-19.65 5.6 -19.3 5.7"
				:fill="mainFifthColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M7.7 -13.85 L7.4 -13.85 Q6.65 -13.85 5.7 -14.9 L6.9 -15.35 7.4 -14.5 7.7 -13.85 M24.65 2.55 L24.7 2.05 24.65 1.9 24.85 0.5 24.9 0.55 25.0 0.65 Q25.4 1.15 25.4 1.8 L24.75 2.5 24.65 2.55 M21.65 0.25 Q21.3 0.15 21.3 -0.3 21.45 -2.25 22.05 -2.25 L22.35 -2.15 22.35 -2.1 22.6 -1.05 21.65 0.25 M21.8 13.4 L22.2 12.4 22.35 13.05 22.35 13.1 22.3 13.15 22.15 13.2 21.8 13.4 M-0.3 11.6 Q-0.7 11.45 -0.65 10.8 -0.65 9.7 0.05 9.45 L0.35 10.0 0.7 10.2 Q-0.25 11.1 -0.3 11.6 M18.7 21.55 L18.7 21.75 18.3 22.15 18.7 21.55 M-25.35 -2.25 L-25.35 -2.55 Q-25.35 -3.3 -24.95 -3.6 L-25.0 -3.6 -24.65 -3.85 -24.9 -3.15 -25.35 -2.25 M-1.6 -21.6 L-3.9 -21.35 -2.4 -22.25 Q-2.15 -22.25 -1.6 -21.6 M-4.95 -16.05 Q-5.15 -15.65 -5.9 -15.65 -6.8 -15.65 -7.0 -16.05 L-5.7 -16.95 Q-5.3 -16.95 -5.2 -16.45 L-4.95 -16.05 M-2.6 -3.45 L-2.7 -3.25 -1.55 -2.85 -1.15 -2.75 Q-3.0 -2.45 -3.0 -2.0 L-2.95 -1.75 -2.3 -1.7 -1.7 -1.7 -2.6 -0.65 -2.4 -0.55 -2.95 -0.5 Q-3.2 -0.5 -3.35 -0.65 L-3.45 -1.8 Q-3.45 -3.05 -2.6 -3.45 M-17.7 5.95 L-17.75 5.95 -17.7 5.85 -17.7 5.75 -17.65 4.2 -17.6 4.15 -16.4 4.75 -16.35 4.7 -16.3 4.95 Q-16.3 6.0 -17.4 6.0 L-17.7 5.95"
				:fill="mainFirstColor"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'PigmouHair1',
	props: {
		size: Number,
		mainFirstColor: String,
		mainFifthColor: String
	}
});
</script>
