<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${41.55 * size}px`"
		:width="`${46.85 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${23.45 * size}, ${20.8 * size})`">
			<path
				d="M1.05 -18.9 Q1.05 -20.4 3.95 -20.2 7.0 -20.35 9.2 -19.2 11.0 -18.25 11.0 -17.25 11.0 -16.05 8.9 -16.05 1.05 -16.05 1.05 -18.9 M8.7 -9.4 Q12.75 -9.4 12.65 -4.2 11.75 3.95 4.1 3.95 0.8 3.95 0.8 0.05 0.8 -2.1 2.65 -5.25 5.1 -9.4 8.7 -9.4 M2.1 -10.0 Q0.2 -9.1 -2.35 -9.1 -7.15 -9.1 -7.15 -11.4 -7.15 -15.25 -2.1 -15.25 1.1 -15.25 2.8 -13.75 3.9 -12.8 3.9 -11.95 3.9 -10.9 2.1 -10.0 M19.6 -9.15 Q20.3 -7.95 20.3 -6.95 20.3 -6.35 19.6 -5.35 18.75 -4.15 17.75 -4.15 15.2 -4.15 14.9 -8.85 14.9 -10.95 16.55 -10.95 18.55 -10.95 19.6 -9.15 M23.4 -0.35 Q23.35 3.0 21.8 3.0 20.8 3.0 20.6 0.4 20.6 -3.1 22.35 -3.1 23.3 -3.1 23.4 -0.35 M13.25 11.95 Q11.15 11.95 11.6 10.1 13.8 1.1 17.6 1.1 18.35 1.1 18.7 2.0 L18.95 3.0 Q17.45 11.95 13.25 11.95 M3.65 11.55 Q2.35 13.3 1.1 13.3 0.0 13.3 -0.55 11.65 1.05 7.6 2.85 7.6 3.9 7.6 4.4 8.55 L4.7 9.5 Q4.7 10.1 3.65 11.55 M7.5 17.95 Q8.2 16.55 9.05 16.55 9.85 16.55 10.1 17.15 L10.2 17.8 Q10.2 20.75 7.8 20.75 6.75 20.75 6.9 19.65 6.9 19.05 7.5 17.95 M15.2 20.3 Q14.0 20.3 13.7 17.9 15.65 12.8 17.4 12.8 18.1 12.8 18.3 13.45 L18.35 14.1 Q17.6 20.3 15.2 20.3 M-21.3 -2.65 Q-20.4 -2.65 -19.7 -1.8 -19.15 -1.15 -19.15 -0.7 -19.15 0.9 -21.8 0.9 -23.7 0.9 -23.4 -0.15 -23.4 -2.65 -21.3 -2.65 M-2.85 -19.95 Q-2.85 -19.15 -4.95 -19.15 -6.85 -19.15 -6.85 -20.0 -6.85 -20.8 -4.9 -20.8 -2.85 -20.8 -2.85 -19.95 M-16.0 -15.2 Q-16.0 -15.75 -14.75 -17.1 -13.2 -18.7 -11.55 -18.7 -10.95 -18.7 -10.75 -18.15 L-10.65 -17.55 Q-10.65 -16.9 -12.0 -15.5 -13.5 -14.05 -14.55 -14.05 -16.0 -14.05 -16.0 -15.2 M-17.1 -8.65 Q-18.45 -6.4 -19.9 -6.4 -21.15 -6.4 -21.6 -7.9 -20.45 -12.85 -17.9 -12.85 -16.05 -12.85 -16.05 -11.25 -16.05 -10.45 -17.1 -8.65 M-6.5 -6.1 Q-5.55 -4.85 -5.25 -4.0 -5.0 -3.2 -6.95 -1.3 -8.95 0.6 -11.1 0.6 -12.85 0.6 -14.05 -2.25 -11.8 -7.5 -9.65 -7.45 -7.5 -7.4 -6.5 -6.1 M-6.7 3.05 Q-6.7 1.7 -4.8 1.7 -2.95 1.7 -2.95 3.0 -2.95 4.1 -5.2 4.1 -6.7 4.1 -6.7 3.05 M-16.0 8.9 Q-17.0 8.9 -17.05 8.0 -17.05 6.5 -15.3 6.5 -14.75 6.5 -14.6 7.0 L-14.5 7.55 Q-14.5 8.9 -16.0 8.9"
				:fill="hairColor"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'PigmouHair10',
	props: {
		size: Number,
		hairColor: String
	}
});
</script>
