<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${41.0 * size}px`"
		:width="`${48.75 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${24.4 * size}, ${20.5 * size})`">
			<path
				d="M15.65 -15.8 Q16.75 -15.5 19.4 -12.7 L19.25 -12.55 20.25 -12.25 Q20.25 -11.8 19.8 -11.8 18.45 -11.8 15.8 -12.75 13.2 -12.8 13.05 -14.15 L13.25 -14.25 15.55 -16.4 15.9 -16.05 15.65 -15.8 M5.8 -18.25 L9.6 -16.65 Q11.9 -15.9 11.9 -14.85 11.9 -13.65 5.05 -13.65 L4.1 -13.4 Q3.1 -13.4 2.45 -15.6 2.45 -16.05 5.8 -18.25 M1.95 -17.65 Q0.8 -17.05 0.2 -17.05 L-2.2 -18.65 -3.85 -19.15 Q-4.9 -19.35 -4.9 -19.8 -4.9 -20.45 -3.25 -20.45 L-2.15 -20.5 1.45 -19.9 Q3.2 -19.3 3.2 -18.7 3.2 -18.3 1.95 -17.65 M0.8 -4.6 Q-2.1 -3.5 -3.65 -3.5 L-6.0 -3.85 Q-6.45 -4.2 -7.2 -6.35 L-8.1 -9.3 Q-8.1 -10.45 -5.25 -11.65 -1.5 -13.35 -0.55 -13.35 1.0 -13.35 1.7 -11.85 L2.35 -9.65 Q3.6 -6.9 3.6 -6.1 3.6 -5.65 0.8 -4.6 M8.15 -0.95 L10.45 2.4 5.2 5.9 Q4.15 5.9 1.15 3.15 0.15 2.3 -0.85 1.55 -1.4 1.1 -1.4 0.35 -1.4 -1.65 1.3 -3.1 3.45 -4.25 4.95 -4.25 5.75 -4.25 8.15 -0.95 M4.15 -7.35 L3.5 -11.8 Q3.5 -12.75 3.85 -12.75 L7.2 -12.25 11.7 -12.6 Q12.8 -12.6 13.0 -11.4 13.0 -10.0 13.15 -9.6 L14.25 -6.65 12.4 -5.2 Q10.5 -3.95 9.85 -3.95 9.35 -3.95 5.85 -5.25 3.9 -5.75 4.15 -7.35 M14.05 -11.2 Q14.05 -11.7 14.4 -11.7 17.45 -11.7 18.95 -8.5 19.9 -6.45 19.9 -4.55 19.9 -4.0 19.5 -4.0 18.15 -4.0 16.8 -4.6 15.85 -4.7 15.5 -5.35 L15.1 -7.35 Q14.55 -8.55 14.05 -11.2 M14.9 -4.3 Q15.75 -4.3 17.15 -2.9 L18.45 -1.4 13.2 2.85 Q11.45 2.85 10.15 -0.8 10.15 -1.3 11.85 -2.75 13.7 -4.3 14.9 -4.3 M23.75 -0.1 L23.9 0.05 Q23.45 0.7 21.15 1.6 L18.35 2.45 18.3 2.35 17.9 1.8 18.0 1.75 18.1 1.5 18.05 1.55 Q18.2 0.45 19.25 -1.15 20.5 -3.05 21.65 -3.05 L23.05 -2.4 24.35 -1.15 24.0 -0.8 23.6 -0.85 23.6 -0.45 23.6 -0.15 23.75 -0.1 M23.25 1.95 Q23.6 2.15 23.45 2.95 22.85 8.05 22.1 9.1 L22.0 9.05 22.1 9.9 22.05 11.1 21.95 11.35 Q21.15 10.6 20.5 7.8 20.0 5.55 20.0 4.7 20.0 3.65 22.55 2.1 22.7 2.0 22.8 1.95 L23.9 1.3 23.25 1.95 M20.35 14.9 L20.3 15.1 19.8 16.95 19.0 18.5 19.65 19.05 19.1 19.6 Q17.6 19.6 17.7 17.65 17.8 14.85 19.25 14.35 L19.7 14.2 19.8 14.2 20.0 14.2 20.75 14.55 20.35 14.9 M19.7 8.6 Q19.7 9.75 17.85 9.75 16.8 9.75 15.45 6.7 15.45 5.65 18.0 5.65 18.55 5.65 19.15 7.1 L19.7 8.6 M14.0 12.25 L13.7 13.7 Q13.3 14.8 12.45 14.8 9.75 14.8 8.35 12.7 7.55 11.6 7.4 10.6 L7.25 10.15 Q7.25 8.55 8.15 8.55 L8.2 8.55 9.65 7.65 Q11.6 6.5 12.15 6.5 L15.45 9.25 14.0 12.25 M3.2 18.25 Q3.2 16.3 5.4 16.3 L8.3 17.85 Q8.3 18.2 7.1 19.35 L5.6 20.5 Q3.95 20.5 3.2 18.25 M-22.4 -6.65 Q-21.35 -6.65 -20.8 -5.75 L-20.5 -4.85 Q-20.5 -4.3 -21.7 -3.25 L-23.2 -1.9 -23.5 -1.9 -23.55 -2.15 Q-24.25 -2.3 -24.4 -3.05 L-22.7 -5.5 Q-23.05 -5.65 -23.05 -6.2 -23.05 -6.65 -22.4 -6.65 M-0.85 -15.4 Q-0.85 -14.85 -5.1 -13.15 -9.4 -11.25 -10.3 -11.25 -12.65 -11.25 -12.65 -12.4 -8.95 -18.0 -6.1 -18.0 -3.9 -18.0 -2.2 -16.85 -0.85 -15.9 -0.85 -15.4 M-15.75 -15.65 L-15.4 -15.7 -14.5 -12.2 Q-14.5 -11.2 -16.85 -10.15 -18.1 -9.6 -20.25 -8.75 L-20.7 -9.2 -20.0 -9.95 -20.05 -10.25 Q-16.95 -14.3 -15.85 -14.75 L-15.75 -15.65 M-18.25 -5.75 Q-18.25 -8.0 -14.4 -10.1 L-14.1 -9.35 -10.6 -9.45 Q-10.15 -9.25 -9.6 -7.55 L-8.55 -5.2 -8.25 -4.15 -11.65 -2.0 Q-14.35 -0.65 -14.65 -0.65 -15.25 -0.65 -18.25 -5.75 M-19.9 -0.7 Q-19.75 1.4 -15.9 3.05 L-19.3 6.25 Q-20.4 6.25 -22.5 4.15 -23.1 3.65 -23.1 2.0 L-22.95 0.4 Q-22.5 -0.3 -20.4 -0.8 L-19.9 -0.7 M-2.8 9.3 Q-1.85 8.4 -1.5 8.4 L0.45 10.75 -0.45 11.85 -1.65 12.7 Q-2.75 12.7 -3.7 10.4 L-2.8 9.3 M-7.45 0.3 L-5.8 -0.25 Q-5.25 -0.25 -4.15 2.25 L-3.15 4.85 Q-3.15 5.2 -4.7 6.5 -6.4 7.9 -7.35 7.9 -9.4 7.9 -10.75 4.15 -10.75 2.8 -9.7 1.75 -9.5 1.15 -8.75 1.0 -8.55 0.75 -7.45 0.3 M-14.65 7.15 Q-11.55 7.15 -11.55 10.15 -11.55 10.5 -12.8 11.45 -14.1 12.45 -14.75 12.45 -15.6 12.45 -17.2 9.75 -17.2 9.25 -16.6 8.35 -15.8 7.15 -14.65 7.15"
				:fill="hairColor"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'PigmouHair11',
	props: {
		size: Number,
		hairColor: String
	}
});
</script>
