<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${16.9 * size}px`"
		:width="`${11.35 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${5.7 * size}, ${8.45 * size})`">
			<path
				d="M-0.9 8.2 Q-3.15 8.75 -5.65 8.15 L-5.05 7.55 -4.5 7.1 -3.65 6.25 -1.85 4.25 -0.65 2.75 -5.7 3.0 -5.4 2.5 -4.95 1.85 -3.0 -0.2 Q-2.0 -1.15 -0.9 -1.75 0.4 -2.55 1.8 -2.95 L1.5 -3.85 1.45 -4.1 1.25 -4.9 Q0.75 -7.05 1.85 -8.45 L2.0 -8.35 2.55 -7.9 2.95 -7.55 4.2 -6.5 Q5.55 -5.45 5.65 -4.45 L5.55 -4.35 5.0 -4.45 4.65 -4.6 4.6 -4.6 3.7 -5.3 Q3.0 -5.95 2.05 -7.15 1.85 -5.35 2.8 -3.2 L3.15 -3.1 3.7 -2.95 4.35 -2.7 3.7 -2.5 3.5 -2.4 3.3 -2.35 2.8 -2.15 2.25 -1.95 2.05 -1.85 0.15 -1.1 Q-1.55 -0.3 -2.95 1.1 L-3.0 1.1 -3.7 1.9 Q-1.05 1.65 1.75 1.95 L1.8 1.95 2.0 1.95 2.9 2.0 2.9 2.25 1.35 2.65 0.5 2.75 -0.6 4.25 -1.0 4.95 -1.9 6.2 -1.9 6.25 -3.45 7.6 -2.05 7.65 -1.9 7.65 -0.55 7.7 -0.5 7.7 -0.45 7.75 Q-0.25 7.8 -0.1 7.95 L-0.9 8.2"
				:fill="tailBorderColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-0.9 8.2 L-0.1 7.95 Q-0.25 7.8 -0.45 7.75 L0.35 7.0 2.0 5.15 Q0.75 8.25 -0.4 8.25 L-0.9 8.2 M-1.9 6.2 L-1.0 4.95 -0.6 4.25 0.5 2.75 1.35 2.65 2.9 2.25 2.9 2.0 2.0 1.95 1.8 1.95 1.75 1.95 Q2.55 1.65 2.55 1.2 2.55 0.4 0.45 0.4 -0.95 0.4 -2.8 0.95 L-2.95 1.1 Q-1.55 -0.3 0.15 -1.1 L2.05 -1.85 2.25 -1.95 2.8 -2.15 3.3 -2.35 3.5 -2.4 3.7 -2.5 4.35 -2.7 3.7 -2.95 3.15 -3.1 2.85 -3.2 2.8 -3.2 Q1.85 -5.35 2.05 -7.15 3.0 -5.95 3.7 -5.3 L4.6 -4.6 4.65 -4.6 5.0 -4.45 3.0 2.1 2.05 4.95 2.05 4.9 2.0 4.5 Q1.8 4.15 1.35 4.15 L-1.9 6.2"
				:fill="tailSecondColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-0.45 7.75 L-0.5 7.7 -0.55 7.7 -1.9 7.65 -2.05 7.65 -3.45 7.6 -1.9 6.25 -1.9 6.2 1.35 4.15 Q1.8 4.15 2.0 4.5 L2.05 4.9 2.05 4.95 2.0 5.1 2.0 5.15 0.35 7.0 -0.45 7.75 M1.75 1.95 Q-1.05 1.65 -3.7 1.9 L-3.0 1.1 -2.95 1.1 -2.8 0.95 Q-0.95 0.4 0.45 0.4 2.55 0.4 2.55 1.2 2.55 1.65 1.75 1.95"
				:fill="tailFirstColor"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'PigmouHair13',
	props: {
		size: Number,
		tailBorderColor: String,
		tailFirstColor: String,
		tailSecondColor: String
	}
});
</script>
