<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${39.5 * size}px`"
		:width="`${12.25 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${1.75 * size}, ${30.0 * size})`">
			<path
				d="M2.05 7.7 L2.35 9.05 1.85 9.5 Q0.5 7.9 -0.1 0.0 -0.75 -4.55 -0.85 -9.2 L-1.75 -18.25 -1.6 -18.55 -1.25 -18.55 Q0.5 -14.0 1.4 -9.7 1.5 -13.0 2.25 -19.85 3.05 -27.7 3.5 -30.0 5.7 -22.5 6.1 -14.5 L6.4 -15.75 8.85 -25.65 9.35 -25.65 10.1 -17.45 10.05 -17.25 9.8 -17.05 9.1 -16.6 8.9 -21.85 8.85 -22.9 8.6 -21.4 7.6 -16.3 6.9 -13.65 6.15 -11.35 6.15 -11.1 6.0 -9.15 5.8 -9.15 5.7 -10.15 4.95 -8.55 Q4.7 -8.65 4.7 -8.9 L5.5 -12.2 4.75 -18.4 4.1 -23.05 Q3.7 -17.9 2.95 -12.75 L2.9 -12.35 2.6 -8.7 2.55 -5.55 2.25 -1.9 2.1 -1.8 Q1.75 -3.05 1.45 -7.2 L1.1 -8.5 0.0 -12.5 0.0 -12.6 -0.05 -12.05 Q-0.05 -10.1 0.8 -1.85 1.3 3.15 1.75 6.0 L2.0 7.5 2.0 7.7 2.05 7.7"
				:fill="tailBorderColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M2.6 -8.7 L2.9 -12.35 2.95 -12.75 Q3.7 -17.9 4.1 -23.05 L4.75 -18.4 4.4 -16.4 Q3.3 -9.7 2.6 -8.7 M6.9 -13.65 L7.6 -16.3 8.6 -21.4 8.9 -21.85 9.1 -16.6 Q8.25 -13.65 7.35 -12.75 L6.9 -13.65"
				:fill="tailSecondColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M2.05 7.7 L2.0 7.7 2.0 7.5 1.75 6.0 Q1.3 3.15 0.8 -1.85 -0.05 -10.1 -0.05 -12.05 L0.0 -12.6 0.0 -12.5 1.1 -8.5 1.45 -7.2 Q1.75 -3.05 2.1 -1.8 L2.25 -1.9 2.55 -5.55 2.6 -8.7 Q3.3 -9.7 4.4 -16.4 L4.75 -18.4 5.5 -12.2 4.7 -8.9 Q4.7 -8.65 4.95 -8.55 L5.7 -10.15 5.8 -9.15 6.0 -9.15 6.15 -11.1 6.15 -11.35 6.9 -13.65 7.35 -12.75 Q8.25 -13.65 9.1 -16.6 L9.8 -17.05 9.9 -16.65 9.9 -15.6 Q10.5 -15.6 10.5 -15.0 L8.65 -10.05 6.0 -3.6 3.8 3.4 Q2.5 7.7 2.2 7.7 L2.05 7.7 M8.6 -21.4 L8.85 -22.9 8.9 -21.85 8.6 -21.4"
				:fill="tailFirstColor"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'PigmouHair14',
	props: {
		size: Number,
		tailBorderColor: String,
		tailFirstColor: String,
		tailSecondColor: String
	}
});
</script>
