<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${21.95 * size}px`"
		:width="`${38.0 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${19.0 * size}, ${10.35 * size})`">
			<path
				d="M-17.45 1.0 L-17.65 1.1 Q-18.15 0.65 -18.6 -1.3 L-19.0 -3.5 Q-19.0 -7.4 -15.85 -9.4 -12.65 -11.4 -10.15 -9.15 L-11.15 -9.2 Q-15.0 -9.2 -16.9 -6.55 L-17.65 -5.3 -18.05 -4.15 -18.1 -3.5 -18.1 -3.25 -18.1 -3.15 -18.0 -2.3 -17.45 0.1 -17.35 0.4 -17.3 0.7 -17.35 0.9 -17.45 1.0 M-9.55 -0.2 L-9.95 0.1 Q-11.2 0.9 -12.05 0.8 L-12.1 0.8 -12.2 0.6 -10.3 -0.45 -9.45 -0.95 -9.4 -1.0 -9.0 -1.15 -8.8 -1.2 -9.15 -0.55 -9.2 -0.5 -9.55 -0.2 M17.95 4.2 L17.35 2.6 17.3 2.55 17.25 2.45 15.5 0.95 Q14.15 0.0 13.75 -0.75 16.75 -0.65 18.1 1.85 19.0 3.55 19.0 5.95 L18.35 8.15 17.4 9.7 17.35 9.75 17.1 9.95 17.05 9.8 17.35 9.05 17.75 8.1 18.0 7.5 18.4 6.15 18.4 6.05 18.4 5.85 18.3 5.35 18.25 5.3 18.25 5.25 17.95 4.25 17.95 4.2 M7.05 6.9 L7.25 6.7 7.3 6.65 7.35 6.85 7.75 7.85 8.05 9.0 8.1 9.05 7.8 9.05 Q7.4 9.05 7.05 8.45 L6.75 7.8 6.9 7.2 7.05 6.9 M9.35 9.35 L10.3 10.05 10.25 10.25 10.0 10.35 8.95 9.75 Q8.5 9.25 8.5 8.85 L8.55 8.75 8.65 8.8 9.3 9.3 9.35 9.35 M-10.75 1.35 L-9.8 1.2 -10.35 1.8 -11.3 2.1 -11.75 1.95 Q-11.4 1.55 -10.75 1.35"
				:fill="mainFifthColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-17.65 -5.3 L-16.5 -3.6 -14.95 -2.15 Q-13.95 -1.25 -10.85 -1.2 L-11.3 -1.2 -9.95 -1.25 -10.45 -1.05 Q-9.55 -1.35 -8.75 -1.8 -8.25 -2.05 -7.65 -2.8 L-6.55 -3.8 -6.5 -3.6 Q-6.5 -3.2 -8.3 -0.5 -8.75 0.2 -10.2 0.85 -12.15 1.75 -14.5 1.75 -16.15 1.75 -17.2 1.15 L-17.45 1.0 -17.35 0.9 -17.3 0.7 -17.35 0.4 -17.45 0.1 -18.0 -2.3 -18.1 -3.15 -18.1 -3.25 -18.1 -3.5 -18.05 -4.15 -17.65 -5.3 M17.25 2.45 L17.3 2.55 17.35 2.6 17.95 4.2 17.95 4.25 18.25 5.25 18.4 5.85 18.4 6.05 18.4 6.15 18.0 7.5 17.75 8.1 17.35 9.05 17.05 9.8 17.1 9.95 17.35 9.75 17.2 10.0 16.5 10.65 Q15.15 11.6 13.0 11.6 10.25 11.6 8.4 9.45 L8.1 9.05 8.05 9.0 7.75 7.85 7.35 6.85 7.3 6.65 7.25 6.7 7.05 6.9 7.0 6.65 Q7.0 4.65 7.6 4.65 7.9 4.65 8.85 5.95 10.3 7.2 12.65 7.2 15.4 7.2 16.6 4.0 16.95 2.9 17.25 2.45 M-9.55 -0.2 L-9.2 -0.5 -9.15 -0.55 -8.8 -1.2 -9.0 -1.15 -9.4 -1.0 -9.45 -0.95 -10.3 -0.45 -12.2 0.6 -12.1 0.8 -12.05 0.8 Q-11.2 0.9 -9.95 0.1 L-9.55 -0.2 M8.65 8.8 L8.55 8.75 8.5 8.85 Q8.5 9.25 8.95 9.75 L10.0 10.35 10.25 10.25 10.3 10.05 9.35 9.35 9.4 9.35 8.65 8.8 M12.5 8.7 L12.6 8.7 12.5 8.6 12.5 8.7 M16.8 9.15 L16.85 9.1 16.8 9.15"
				:fill="mainSecondColor"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'PigmouHair16',
	props: {
		size: Number,
		mainSecondColor: String,
		mainFifthColor: String
	}
});
</script>
