<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${19.0 * size}px`"
		:width="`${30.7 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${18.75 * size}, ${10.85 * size})`">
			<path
				d="M10.3 6.3 L10.05 6.5 10.0 6.35 10.3 5.6 10.7 4.65 10.95 4.05 11.35 2.7 11.35 2.4 11.3 2.15 11.25 1.9 11.2 1.85 11.2 1.8 10.9 0.8 10.9 0.75 10.3 -0.85 10.25 -0.9 10.2 -1.0 8.45 -2.5 Q7.1 -3.45 6.7 -4.2 9.7 -4.1 11.05 -1.6 11.95 0.1 11.95 2.5 L11.3 4.7 10.35 6.25 10.3 6.3 M0.0 3.45 L0.2 3.25 0.25 3.2 0.3 3.4 0.7 4.4 1.0 5.55 1.05 5.6 0.75 5.6 Q0.35 5.6 0.0 5.0 L-0.3 4.35 -0.15 3.75 0.0 3.45 M1.75 5.45 L2.25 5.85 2.3 5.9 3.25 6.6 3.2 6.8 2.95 6.9 Q2.45 6.9 1.9 6.3 1.45 5.8 1.45 5.4 L1.5 5.3 1.75 5.45 M-17.2 0.5 L-17.4 0.6 Q-17.9 0.15 -18.35 -1.8 L-18.75 -4.0 Q-18.75 -7.9 -15.6 -9.9 -12.4 -11.9 -9.9 -9.65 L-10.9 -9.7 Q-14.75 -9.7 -16.65 -7.05 L-17.4 -5.8 -17.8 -4.65 -17.85 -4.0 -17.85 -3.75 -17.85 -3.65 -17.75 -2.8 -17.2 -0.4 -17.1 -0.1 -17.05 0.2 -17.1 0.4 -17.2 0.5 M-9.7 -0.4 Q-10.95 0.4 -11.8 0.3 L-11.85 0.3 -11.95 0.1 -10.05 -0.95 -9.2 -1.45 -9.15 -1.5 -8.75 -1.65 -8.55 -1.7 -8.9 -1.05 -8.95 -1.0 -9.3 -0.7 -9.7 -0.4 M-10.1 1.3 L-11.05 1.6 -11.5 1.45 -10.5 0.85 -9.55 0.7 -10.1 1.3"
				:fill="mainFifthColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M10.2 -1.0 L10.25 -0.9 10.3 -0.85 10.9 0.75 10.9 0.8 11.2 1.8 11.2 1.85 11.25 1.9 11.3 2.15 11.35 2.4 11.35 2.7 10.95 4.05 10.7 4.65 10.3 5.6 10.0 6.35 10.05 6.5 10.3 6.3 10.15 6.55 9.45 7.2 Q8.1 8.15 5.95 8.15 3.2 8.15 1.35 6.0 L1.05 5.6 1.0 5.55 0.7 4.4 0.3 3.4 0.25 3.2 0.2 3.25 0.0 3.45 -0.05 3.2 Q-0.05 1.2 0.55 1.2 0.85 1.2 1.8 2.5 3.25 3.75 5.6 3.75 8.35 3.75 9.55 0.55 L10.2 -1.0 M5.55 5.25 L5.45 5.15 5.45 5.25 5.55 5.25 M1.75 5.45 L1.5 5.3 1.45 5.4 Q1.45 5.8 1.9 6.3 2.45 6.9 2.95 6.9 L3.2 6.8 3.25 6.6 2.3 5.9 2.35 5.9 1.75 5.45 M-17.4 -5.8 L-16.25 -4.1 -14.7 -2.65 Q-13.7 -1.75 -10.6 -1.7 L-11.05 -1.7 -9.7 -1.75 -10.2 -1.55 Q-9.3 -1.85 -8.5 -2.3 -8.0 -2.55 -7.4 -3.3 L-6.3 -4.3 -6.25 -4.1 Q-6.25 -3.7 -8.05 -1.0 -8.5 -0.3 -9.95 0.35 -11.9 1.25 -14.25 1.25 -15.9 1.25 -16.95 0.65 L-17.2 0.5 -17.1 0.4 -17.05 0.2 -17.1 -0.1 -17.2 -0.4 -17.75 -2.8 -17.85 -3.65 -17.85 -3.75 -17.85 -4.0 -17.8 -4.65 -17.4 -5.8 M-9.7 -0.4 L-9.3 -0.7 -8.95 -1.0 -8.9 -1.05 -8.55 -1.7 -8.75 -1.65 -9.15 -1.5 -9.2 -1.45 -10.05 -0.95 -11.95 0.1 -11.85 0.3 -11.8 0.3 Q-10.95 0.4 -9.7 -0.4"
				:fill="mainSecondColor"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'PigmouHair17',
	props: {
		size: Number,
		mainSecondColor: String,
		mainFifthColor: String
	}
});
</script>
