<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${41.1 * size}px`"
		:width="`${16.1 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${8.05 * size}, ${20.55 * size})`">
			<path
				d="M7.35 -20.25 L7.5 -20.3 7.9 -20.25 8.05 -19.55 Q3.35 -6.75 1.8 -0.1 -2.9 18.65 -5.2 19.4 L-5.4 19.45 -5.35 19.3 -5.55 17.25 Q-6.95 -0.05 -6.95 -9.3 L-6.8 -13.35 -6.8 -14.5 Q-6.45 -15.5 -4.3 -16.0 -2.85 -17.05 -1.9 -17.4 -1.0 -17.8 -0.1 -17.4 -0.55 -16.2 -0.85 -13.4 L-1.0 -12.35 -1.85 -11.75 -2.1 -10.35 -2.1 -10.25 -2.1 -10.15 Q-2.6 -9.5 -2.6 -8.85 -2.55 -8.25 -1.9 -8.25 L-1.25 -8.4 Q-1.35 -5.3 -1.65 -4.2 L-1.6 -4.25 -0.05 -10.7 Q0.45 -11.4 0.45 -11.95 L0.35 -12.45 1.2 -16.6 1.65 -16.6 Q3.05 -16.6 3.25 -17.75 L3.95 -18.25 5.9 -19.4 5.95 -19.3 6.0 -19.35 Q7.55 -18.7 7.65 -18.95 L7.65 -19.7 7.35 -20.25 M-3.6 -15.65 Q-4.9 -15.65 -5.0 -12.95 -4.95 -11.9 -4.25 -11.9 -2.8 -11.9 -2.8 -14.7 -2.9 -15.65 -3.6 -15.65"
				:fill="`url(#${id}-gradient0)`"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-5.45 19.45 L-6.05 20.35 -6.15 20.55 Q-7.35 17.25 -8.05 -7.4 L-7.75 -12.85 Q-7.8 -15.95 -6.05 -16.55 -4.3 -17.15 -3.0 -18.1 -1.7 -19.05 -0.3 -18.5 L1.0 -18.2 0.9 -17.6 Q0.95 -17.3 1.65 -17.3 2.35 -17.3 2.45 -18.0 2.6 -18.75 2.9 -18.75 L3.05 -18.7 4.05 -19.35 Q4.75 -19.9 5.55 -20.25 L6.25 -20.5 Q6.9 -20.7 7.35 -20.25 L7.65 -19.7 7.65 -18.95 Q7.55 -18.7 6.0 -19.35 L5.9 -19.4 3.95 -18.25 3.25 -17.75 Q3.05 -16.6 1.65 -16.6 L1.2 -16.6 Q0.5 -16.75 0.4 -17.2 L0.0 -17.35 -0.1 -17.4 Q-1.0 -17.8 -1.9 -17.4 -2.85 -17.05 -4.3 -16.0 -6.45 -15.5 -6.8 -14.5 L-6.8 -13.35 -6.95 -9.3 Q-6.95 -0.05 -5.55 17.25 L-5.35 19.3 -5.45 19.45 M-3.55 -14.9 Q-4.15 -14.0 -4.15 -12.95 L-4.05 -12.45 -4.05 -12.4 Q-3.7 -12.55 -3.5 -13.3 L-3.35 -14.25 -3.55 -14.9 M-1.0 -12.35 L-0.9 -12.45 -0.75 -12.7 -0.65 -13.1 Q-0.45 -14.35 -0.15 -14.35 L0.1 -13.1 0.35 -12.45 0.45 -11.95 Q0.45 -11.4 -0.05 -10.7 L-0.65 -10.05 Q-0.7 -8.85 -1.25 -8.4 L-1.9 -8.25 Q-2.55 -8.25 -2.6 -8.85 -2.6 -9.5 -2.1 -10.15 L-2.1 -10.25 -2.1 -10.35 -1.85 -11.75 -1.0 -12.35 M-3.6 -15.65 Q-2.9 -15.65 -2.8 -14.7 -2.8 -11.9 -4.25 -11.9 -4.95 -11.9 -5.0 -12.95 -4.9 -15.65 -3.6 -15.65 M-0.6 -10.7 Q0.05 -11.35 0.05 -11.9 L-0.1 -12.6 Q-0.35 -12.0 -1.15 -11.15 L-1.35 -11.0 -1.45 -10.0 -1.85 -8.95 -1.75 -8.65 Q-1.25 -8.8 -1.25 -9.85 L-1.2 -9.95 -0.6 -10.7"
				:fill="mainFourthColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-5.4 19.45 L-5.45 19.45 -5.35 19.3 -5.4 19.45 M-0.1 -17.4 L0.0 -17.35 0.4 -17.2 Q0.5 -16.75 1.2 -16.6 L0.35 -12.45 0.1 -13.1 -0.15 -14.35 Q-0.45 -14.35 -0.65 -13.1 L-0.75 -12.7 -0.9 -12.45 -1.0 -12.35 -0.85 -13.4 Q-0.55 -16.2 -0.1 -17.4 M-1.25 -8.4 Q-0.7 -8.85 -0.65 -10.05 L-0.05 -10.7 -1.6 -4.25 -1.65 -4.2 Q-1.35 -5.3 -1.25 -8.4"
				:fill="mainSecondColor"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
		<defs>
			<radialGradient
				cx="0"
				cy="0"
				gradientTransform="matrix(0.0064, -0.0296, 0.0164, 0.0, -10.4, -5.05)"
				gradientUnits="userSpaceOnUse"
				:id="`${id}-gradient0`"
				r="819.2"
				spreadMethod="pad"
			>
				<stop offset="0.0" stop-color="#ffffff" />
				<stop offset="0.0" :stop-color="mainFirstColor" />
			</radialGradient>
		</defs>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'PigmouHair21',
	props: {
		size: Number,
		mainFirstColor: String,
		mainSecondColor: String,
		mainFourthColor: String,
		id: String
	}
});
</script>
