<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${44.6 * size}px`"
		:width="`${51.6 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${25.5 * size}, ${22.1 * size})`">
			<path
				d="M7.8 -15.15 Q7.8 -14.55 7.2 -14.55 L6.6 -14.7 6.6 -15.15 Q6.6 -15.8 7.2 -15.8 7.8 -15.8 7.8 -15.15 M22.35 -0.75 Q21.9 -0.75 21.75 -1.0 L21.75 -1.3 Q21.75 -1.9 22.3 -1.9 22.85 -1.9 22.85 -1.35 22.85 -0.75 22.35 -0.75 M25.35 2.7 L24.7 2.3 24.6 1.9 Q24.6 1.2 25.35 1.2 26.1 1.2 26.1 1.9 26.1 2.7 25.35 2.7 M22.5 13.25 L21.95 13.5 Q21.05 13.5 21.05 12.7 21.05 11.95 21.9 11.9 22.7 11.85 22.7 12.7 L22.5 13.25 M18.35 22.5 Q17.9 22.5 17.7 22.2 L17.6 21.9 Q17.6 21.25 18.35 21.25 19.05 21.25 19.05 21.9 19.05 22.5 18.35 22.5 M-24.45 -2.7 L-24.8 -2.45 Q-25.5 -2.45 -25.5 -3.2 -25.5 -3.85 -24.9 -3.7 -24.3 -3.55 -24.3 -3.05 L-24.45 -2.7 M-3.15 -21.45 Q-3.15 -22.1 -2.4 -22.1 -1.65 -22.1 -1.65 -21.45 -1.65 -20.75 -2.45 -20.75 -3.3 -20.75 -3.15 -21.45 M-6.3 -16.35 L-6.35 -16.8 -6.3 -17.25 Q-6.1 -17.6 -5.25 -17.25 -5.1 -17.2 -5.1 -16.85 L-5.2 -16.5 Q-5.4 -16.2 -5.75 -16.2 L-6.3 -16.35 M-2.1 -1.7 L-2.6 -1.85 -2.7 -2.35 Q-2.7 -2.95 -2.05 -2.95 -1.4 -2.95 -1.4 -2.3 -1.6 -1.7 -2.1 -1.7 M-16.85 4.7 Q-17.0 5.0 -17.4 5.0 L-18.0 4.85 -18.0 4.4 Q-18.0 3.8 -17.4 3.8 -16.8 3.8 -16.8 4.4 L-16.85 4.7"
				:fill="mainFifthColor"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'PigmouHair24',
	props: {
		size: Number,
		mainFifthColor: String
	}
});
</script>
