<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${20.45 * size}px`"
		:width="`${36.7 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${18.35 * size}, ${10.25 * size})`">
			<path
				d="M-17.25 -4.75 L-16.05 -3.95 Q-15.2 -3.95 -15.2 -4.95 L-15.3 -5.35 -15.35 -5.5 -16.1 -6.9 -15.95 -7.1 -14.9 -5.85 -14.8 -5.95 -15.75 -8.6 -14.4 -7.7 -14.4 -7.75 -14.3 -7.65 -13.6 -6.8 -13.75 -5.75 -13.9 -5.1 -13.95 -4.6 Q-14.1 -3.9 -14.75 -3.3 L-15.65 -2.7 -15.4 -2.45 Q-13.2 -3.25 -13.2 -6.25 L-13.2 -6.4 -12.95 -6.15 -12.85 -4.95 -13.3 -3.35 Q-14.1 -1.8 -15.85 -1.8 L-16.75 -1.95 -16.9 -2.7 Q-15.95 -2.8 -15.1 -3.55 L-14.95 -3.7 -14.9 -3.7 Q-14.3 -4.3 -14.3 -4.75 L-14.35 -5.0 -15.4 -3.8 Q-16.2 -3.0 -16.9 -2.85 L-17.05 -3.4 -17.25 -4.75 M16.85 1.9 L15.35 4.25 15.35 4.3 15.35 4.35 15.45 4.5 15.65 4.5 17.0 3.05 17.0 3.1 16.3 5.3 15.5 7.4 Q13.35 7.45 12.4 6.15 L12.4 6.1 12.35 6.15 12.35 6.65 Q13.75 8.35 15.15 8.0 L15.35 7.9 14.95 8.95 14.6 9.2 Q11.95 9.85 11.25 7.0 L11.25 5.65 11.45 6.9 Q12.5 9.05 14.15 8.65 L14.4 8.5 14.35 8.35 Q13.7 8.4 12.85 7.75 L12.05 6.75 11.95 6.05 11.8 4.55 11.95 4.45 12.1 4.3 12.5 5.25 Q12.7 5.25 13.95 4.25 L14.7 3.35 14.95 3.6 14.05 5.4 15.8 3.05 17.25 1.3 16.85 1.9 M13.35 5.55 L13.35 5.5 13.35 5.55"
				fill="#e0cca3"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-14.4 -7.75 L-14.4 -7.7 -15.75 -8.6 -14.8 -5.95 -14.9 -5.85 -15.95 -7.1 -16.1 -6.9 -15.35 -5.5 -15.3 -5.35 -15.2 -4.95 Q-15.2 -3.95 -16.05 -3.95 L-17.25 -4.75 -17.4 -5.5 -17.5 -8.65 -16.3 -7.3 -16.2 -7.45 -17.55 -9.6 -15.8 -8.65 -14.4 -7.75 M16.85 1.9 L17.25 1.3 15.8 3.05 14.05 5.4 14.95 3.6 14.7 3.35 13.95 4.25 Q12.7 5.25 12.5 5.25 L12.1 4.3 13.05 3.4 Q15.4 1.15 16.7 0.85 L17.55 0.9 16.85 1.9 M13.35 5.55 L13.35 5.5 13.35 5.55"
				fill="#ffffcc"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-17.25 -4.75 L-17.05 -3.4 -16.9 -2.85 Q-16.2 -3.0 -15.4 -3.8 L-14.35 -5.0 -14.3 -4.75 Q-14.3 -4.3 -14.9 -3.7 L-14.95 -3.7 -15.1 -3.55 Q-15.95 -2.8 -16.9 -2.7 L-16.75 -1.95 -15.85 -1.8 Q-14.1 -1.8 -13.3 -3.35 L-12.85 -4.95 -12.95 -6.15 -13.2 -6.4 -13.2 -6.25 Q-13.2 -3.25 -15.4 -2.45 L-15.65 -2.7 -14.75 -3.3 Q-14.1 -3.9 -13.95 -4.6 L-13.9 -5.1 -13.75 -5.75 -13.6 -6.8 -14.3 -7.65 -14.4 -7.75 -15.8 -8.65 -17.55 -9.6 -16.2 -7.45 -16.3 -7.3 -17.5 -8.65 -17.4 -5.5 -17.25 -4.75 M-14.7 -8.8 L-14.4 -8.45 -12.55 -6.4 -12.55 -6.35 Q-11.95 -4.65 -13.0 -3.05 -13.65 -2.0 -14.95 -1.7 L-17.6 -1.9 -17.75 -3.45 -17.8 -3.85 -17.75 -3.8 -17.8 -3.95 -17.85 -4.45 -17.9 -4.6 -17.95 -5.15 -18.05 -6.25 -18.1 -6.9 -18.25 -9.4 -18.25 -9.45 -18.35 -9.6 Q-18.35 -10.25 -17.5 -10.25 -16.6 -10.25 -14.7 -8.8 M17.95 1.75 Q18.1 2.75 17.1 5.6 L16.1 8.1 Q15.75 9.1 15.2 9.75 L12.1 9.65 Q9.85 7.85 10.85 4.8 L11.1 4.3 11.35 3.8 14.2 1.3 14.7 0.9 14.8 1.0 Q15.85 0.2 16.35 0.1 18.0 -0.35 18.35 0.6 18.45 0.95 17.95 1.75 M12.1 4.3 L11.95 4.45 11.8 4.55 11.95 6.05 12.05 6.75 12.85 7.75 Q13.7 8.4 14.35 8.35 L14.4 8.5 14.15 8.65 Q12.5 9.05 11.45 6.9 L11.25 5.65 11.25 7.0 Q11.95 9.85 14.6 9.2 L14.95 8.95 15.35 7.9 15.15 8.0 Q13.75 8.35 12.35 6.65 L12.35 6.15 12.4 6.1 12.4 6.15 Q13.35 7.45 15.5 7.4 L16.3 5.3 17.0 3.1 17.0 3.05 15.65 4.5 15.45 4.5 15.35 4.35 15.35 4.3 15.35 4.25 16.85 1.9 17.55 0.9 16.7 0.85 Q15.4 1.15 13.05 3.4 L12.1 4.3"
				fill="#a36a6a"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'PigmouHair3',
	props: {
		size: Number
	}
});
</script>
