<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${60.55 * size}px`"
		:width="`${60.7 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${30.35 * size}, ${30.25 * size})`">
			<path
				d="M17.15 -5.35 Q16.4 -5.35 16.5 -4.65 L17.3 0.05 17.0 1.05 18.35 8.0 Q17.15 7.3 17.15 8.4 L18.45 12.5 Q17.7 13.05 17.7 13.4 L20.0 20.4 Q22.0 22.55 21.75 23.9 20.95 27.45 22.5 27.45 23.0 27.45 23.0 26.45 L23.1 26.55 24.0 27.3 Q26.3 27.3 26.3 23.75 26.3 22.65 24.95 21.05 24.95 20.1 25.85 14.9 L25.05 14.15 Q24.55 14.15 24.15 14.9 23.85 14.3 23.4 14.3 23.0 14.3 22.85 14.55 L22.5 13.95 Q22.5 12.5 25.05 4.35 L24.35 3.75 Q23.7 3.75 23.45 4.6 L23.1 5.9 Q22.95 5.4 22.1 5.4 L22.35 2.25 Q22.45 0.35 21.75 0.35 L21.15 0.5 Q21.15 -1.95 20.45 -1.95 20.15 -1.95 20.0 -1.75 L20.0 -2.5 Q20.4 -5.05 20.4 -6.9 L20.1 -9.4 19.85 -9.4 Q19.1 -3.3 19.1 -0.4 L19.05 -0.4 Q18.2 -5.35 17.15 -5.35 M13.95 18.25 L16.05 20.9 Q14.75 16.95 13.5 11.3 L12.65 4.35 13.8 6.55 Q15.2 11.45 14.3 6.0 13.35 0.45 14.5 -17.25 L16.85 -9.65 18.1 -14.25 Q19.2 -18.7 21.95 -26.7 22.1 -15.2 22.4 -13.65 L23.65 -2.55 24.1 -0.6 26.5 -6.55 27.8 15.7 Q28.2 15.05 30.3 12.75 L30.35 12.9 Q29.35 19.4 29.3 23.05 29.25 26.7 28.0 28.75 26.75 30.75 22.15 30.15 20.4 29.9 18.8 27.2 L16.85 24.35 Q14.85 20.9 13.85 18.3 L13.95 18.25 M25.45 -0.95 L25.6 -0.95 25.45 -1.1 25.45 -0.95 M28.65 16.2 L28.6 16.35 28.65 16.35 28.65 16.2 M-28.45 -30.05 L-20.0 -15.4 -20.1 -16.6 -20.15 -17.85 -19.7 -20.3 -17.7 -16.0 -17.65 -15.95 Q-14.5 -9.5 -10.2 -3.6 L-11.15 -9.0 -3.75 7.5 -3.6 2.85 -3.05 3.2 Q-2.25 5.9 -0.95 8.4 2.45 15.35 -3.05 18.25 -5.55 19.5 -7.9 18.0 L-9.65 16.8 Q-14.35 13.35 -17.7 8.85 L-19.7 5.8 -15.35 8.5 -27.75 -7.95 -25.55 -7.1 -23.45 -6.1 -30.35 -20.1 -24.35 -14.1 -24.8 -15.45 -25.45 -17.2 Q-27.55 -23.7 -28.85 -30.25 L-28.45 -30.05 M-22.0 -13.5 Q-22.35 -13.5 -22.35 -12.9 -22.35 -10.2 -19.6 -4.35 L-21.85 -5.85 Q-22.75 -5.85 -22.75 -5.05 -22.75 -4.0 -19.3 -1.4 L-17.7 -0.1 -15.45 2.1 Q-16.15 2.4 -16.15 3.0 -16.15 3.4 -11.35 9.15 L-8.65 11.75 Q-7.8 14.85 -6.75 14.85 -6.3 14.85 -6.05 14.65 -5.75 15.5 -4.9 15.5 L-3.85 15.8 -3.4 15.3 -4.9 13.7 -4.85 13.7 -3.95 14.25 -3.25 13.6 -3.65 12.8 -4.15 12.35 -4.15 12.2 Q-4.15 11.6 -5.65 9.2 L-6.1 7.3 Q-6.5 6.05 -7.35 6.05 L-8.05 6.15 Q-7.8 4.7 -8.9 3.55 L-11.2 1.4 Q-11.2 -3.9 -12.75 -3.9 L-13.45 -3.7 -13.75 -5.0 Q-14.0 -5.95 -14.7 -5.95 -15.55 -5.95 -15.55 -4.45 L-16.4 -6.1 Q-16.9 -7.3 -17.35 -7.3 L-17.7 -7.45 -18.4 -8.5 Q-18.95 -9.75 -19.6 -9.75 -20.55 -9.75 -19.95 -8.5 L-20.05 -8.5 -22.0 -13.5"
				fill="#ffff99"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M17.15 -5.35 Q18.2 -5.35 19.05 -0.4 L19.1 -0.4 Q19.1 -3.3 19.85 -9.4 L20.1 -9.4 20.4 -6.9 Q20.4 -5.05 20.0 -2.5 L20.0 -1.75 Q20.15 -1.95 20.45 -1.95 21.15 -1.95 21.15 0.5 L21.75 0.35 Q22.45 0.35 22.35 2.25 L22.1 5.4 Q22.95 5.4 23.1 5.9 L23.45 4.6 Q23.7 3.75 24.35 3.75 L25.05 4.35 Q22.5 12.5 22.5 13.95 L22.85 14.55 Q23.0 14.3 23.4 14.3 23.85 14.3 24.15 14.9 24.55 14.15 25.05 14.15 L25.85 14.9 Q24.95 20.1 24.95 21.05 26.3 22.65 26.3 23.75 26.3 27.3 24.0 27.3 L23.1 26.55 23.0 26.45 Q23.0 27.45 22.5 27.45 20.95 27.45 21.75 23.9 22.0 22.55 20.0 20.4 L17.7 13.4 Q17.7 13.05 18.45 12.5 L17.15 8.4 Q17.15 7.3 18.35 8.0 L17.0 1.05 17.3 0.05 16.5 -4.65 Q16.4 -5.35 17.15 -5.35 M-22.0 -13.5 L-20.05 -8.5 -19.95 -8.5 Q-20.55 -9.75 -19.6 -9.75 -18.95 -9.75 -18.4 -8.5 L-17.7 -7.45 -17.35 -7.3 Q-16.9 -7.3 -16.4 -6.1 L-15.55 -4.45 Q-15.55 -5.95 -14.7 -5.95 -14.0 -5.95 -13.75 -5.0 L-13.45 -3.7 -12.75 -3.9 Q-11.2 -3.9 -11.2 1.4 L-8.9 3.55 Q-7.8 4.7 -8.05 6.15 L-7.35 6.05 Q-6.5 6.05 -6.1 7.3 L-5.65 9.2 Q-4.15 11.6 -4.15 12.2 L-4.15 12.35 -3.65 12.8 -3.25 13.6 -3.95 14.25 -4.85 13.7 -4.9 13.7 -3.4 15.3 -3.85 15.8 -4.9 15.5 Q-5.75 15.5 -6.05 14.65 -6.3 14.85 -6.75 14.85 -7.8 14.85 -8.65 11.75 L-11.35 9.15 Q-16.15 3.4 -16.15 3.0 -16.15 2.4 -15.45 2.1 L-17.7 -0.1 -19.3 -1.4 Q-22.75 -4.0 -22.75 -5.05 -22.75 -5.85 -21.85 -5.85 L-19.6 -4.35 Q-22.35 -10.2 -22.35 -12.9 -22.35 -13.5 -22.0 -13.5"
				fill="#ffffff"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path d="M13.85 18.3 L13.85 18.25 13.95 18.25 13.85 18.3" fill="#ffff00" fill-rule="evenodd" stroke="none" />
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'PigmouHair4',
	props: {
		size: Number
	}
});
</script>
