<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${43.7 * size}px`"
		:width="`${33.05 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${16.55 * size}, ${21.85 * size})`">
			<path
				d="M-2.3 -17.9 Q-3.35 -18.4 -3.75 -19.1 L-4.25 -20.35 Q-4.45 -20.65 -4.95 -20.8 L-5.7 -20.9 -6.15 -20.9 -6.3 -21.25 Q-6.3 -21.55 -5.05 -21.85 -3.5 -21.85 -2.55 -19.45 -1.8 -19.0 0.5 -18.7 2.35 -18.45 3.2 -17.45 L4.65 -14.95 Q5.45 -13.65 8.1 -12.65 9.7 -12.05 10.2 -10.3 10.85 -8.1 11.45 -7.75 L14.15 -6.25 Q16.25 -5.1 16.45 -3.8 16.65 -2.55 16.2 -1.8 15.75 0.5 11.75 4.85 8.1 8.8 4.8 10.75 -9.6 21.85 -14.6 21.85 L-14.95 21.8 -15.15 21.7 -15.15 21.0 -13.05 20.2 -12.75 20.1 Q-5.5 17.0 3.55 10.0 14.85 1.25 14.85 -3.5 L13.2 -5.15 12.6 -5.6 12.2 -5.85 9.75 -7.85 9.35 -8.8 9.1 -9.35 8.7 -10.0 8.65 -10.1 8.45 -10.35 Q7.5 -11.4 5.25 -12.1 3.9 -12.55 3.15 -14.25 2.35 -16.25 1.35 -17.0 L-1.0 -17.5 -1.75 -17.7 -2.1 -17.8 -2.3 -17.9 M-7.35 -14.25 L-6.5 -16.15 -7.25 -13.2 -7.6 -12.05 -8.0 -10.7 -12.95 1.85 -13.35 2.7 -13.4 2.8 -14.0 4.0 Q-14.4 4.0 -14.4 3.6 -14.4 1.6 -7.35 -14.25 M-12.1 1.55 L-8.85 -4.7 -11.4 1.8 Q-12.5 4.55 -13.75 6.7 L-14.85 8.35 -14.9 8.15 Q-14.9 7.65 -12.7 2.8 L-12.1 1.55"
				:fill="mainFourthColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-5.7 -20.9 L-4.95 -20.8 Q-4.45 -20.65 -4.25 -20.35 L-3.75 -19.1 Q-3.35 -18.4 -2.3 -17.9 L-7.05 -5.65 Q-2.65 -15.15 -1.75 -17.7 L-1.0 -17.5 1.35 -17.0 Q2.35 -16.25 3.15 -14.25 3.9 -12.55 5.25 -12.1 7.5 -11.4 8.45 -10.35 7.95 -9.9 7.45 -8.35 6.55 -5.4 5.8 -4.25 3.3 -0.55 0.75 2.1 L6.7 -3.55 Q7.45 -4.25 8.45 -6.35 L9.35 -8.8 9.75 -7.85 12.2 -5.85 Q12.2 -2.15 10.85 0.15 9.15 3.05 4.2 6.35 1.1 8.45 -4.2 12.7 -9.25 16.3 -15.35 18.15 L-15.25 18.1 Q-12.4 16.05 -8.6 12.1 L-6.35 8.95 Q-4.65 6.35 -4.65 6.0 L-4.7 5.8 -9.85 10.75 Q-11.25 11.8 -16.2 14.7 L-16.4 13.25 Q-16.15 10.7 -15.7 9.45 L-15.7 9.35 -13.4 2.8 -13.35 2.7 -12.95 1.85 -8.0 -10.7 -7.6 -12.05 -7.25 -13.2 -6.5 -16.15 -7.35 -14.25 -5.7 -20.9 M-4.9 6.1 L-4.9 6.2 -4.95 6.2 -4.9 6.1 M-12.1 1.55 L-12.7 2.8 Q-14.9 7.65 -14.9 8.15 L-14.85 8.35 -13.75 6.7 Q-12.5 4.55 -11.4 1.8 L-8.85 -4.7 -12.1 1.55 M-16.15 11.4 Q-7.65 5.25 -6.1 1.2 -9.25 5.65 -14.55 9.6 L-16.0 10.7 -16.15 11.4 M-15.95 17.8 L-15.9 17.9 -15.6 18.6 -15.95 17.8"
				:fill="mainSecondColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-2.3 -17.9 L-2.1 -17.8 -1.75 -17.7 Q-2.65 -15.15 -7.05 -5.65 L-2.3 -17.9 M8.45 -10.35 L8.65 -10.1 8.7 -10.0 9.1 -9.35 9.35 -8.8 8.45 -6.35 Q7.45 -4.25 6.7 -3.55 L0.75 2.1 Q3.3 -0.55 5.8 -4.25 6.55 -5.4 7.45 -8.35 7.95 -9.9 8.45 -10.35 M12.2 -5.85 L12.6 -5.6 13.2 -5.15 14.85 -3.5 Q14.85 1.25 3.55 10.0 -5.5 17.0 -12.75 20.1 L-13.05 20.2 -15.15 21.0 -14.85 20.9 -15.15 19.85 -15.3 19.35 -15.5 18.85 -15.6 18.6 -15.9 17.9 -15.95 17.8 -16.55 16.85 -16.55 16.4 -16.5 16.0 -16.2 14.7 Q-11.25 11.8 -9.85 10.75 L-4.7 5.8 -4.65 6.0 Q-4.65 6.35 -6.35 8.95 L-8.6 12.1 Q-12.4 16.05 -15.25 18.1 L-15.35 18.15 Q-9.25 16.3 -4.2 12.7 1.1 8.45 4.2 6.35 9.15 3.05 10.85 0.15 12.2 -2.15 12.2 -5.85 M-4.9 6.1 L-4.95 6.2 -4.9 6.2 -4.9 6.1 M-16.15 11.4 L-16.0 10.7 -14.55 9.6 Q-9.25 5.65 -6.1 1.2 -7.65 5.25 -16.15 11.4 M-14.2 20.45 L-14.15 20.45 -14.2 20.35 -14.2 20.45"
				:fill="mainThirdColor"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'PigmouHair5',
	props: {
		size: Number,
		mainSecondColor: String,
		mainThirdColor: String,
		mainFourthColor: String
	}
});
</script>
