<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${41.1 * size}px`"
		:width="`${16.1 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${8.05 * size}, ${20.55 * size})`">
			<path
				d="M6.0 -19.35 L5.9 -19.4 3.95 -18.25 Q3.15 -17.6 2.2 -17.3 L1.3 -17.15 0.0 -17.35 -0.1 -17.4 Q-1.0 -17.8 -1.9 -17.4 -2.85 -17.05 -4.3 -16.0 -6.45 -15.5 -6.8 -14.5 L-6.8 -13.35 -6.95 -9.3 Q-6.95 -0.05 -5.55 17.25 L-5.35 19.3 -5.45 19.45 -6.05 20.35 -6.15 20.55 Q-7.35 17.25 -8.05 -7.4 L-7.75 -12.85 Q-7.8 -15.95 -6.05 -16.55 -4.3 -17.15 -3.0 -18.1 -1.7 -19.05 -0.3 -18.5 L2.15 -18.3 Q3.1 -18.6 4.05 -19.35 4.75 -19.9 5.55 -20.25 L6.25 -20.5 Q6.9 -20.7 7.35 -20.25 L7.65 -19.7 7.65 -18.95 Q7.55 -18.7 6.0 -19.35"
				:fill="mainFourthColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M5.9 -19.4 L5.95 -19.3 6.0 -19.35 Q7.55 -18.7 7.65 -18.95 L7.65 -19.7 7.35 -20.25 7.5 -20.3 7.9 -20.25 8.05 -19.55 Q3.35 -6.75 1.8 -0.1 -2.9 18.65 -5.2 19.4 L-5.4 19.45 -5.35 19.3 -5.55 17.25 Q-6.95 -0.05 -6.95 -9.3 L-6.8 -13.35 -6.8 -14.5 Q-6.45 -15.5 -4.3 -16.0 -2.85 -17.05 -1.9 -17.4 -1.0 -17.8 -0.1 -17.4 -0.55 -16.2 -0.85 -13.4 L-1.2 -10.65 Q-1.2 -5.65 -1.65 -4.2 L-1.6 -4.25 Q0.95 -14.85 1.3 -17.15 L2.2 -17.3 Q3.15 -17.6 3.95 -18.25 L5.9 -19.4"
				:fill="`url(#${id}-gradient0)`"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M1.3 -17.15 Q0.95 -14.85 -1.6 -4.25 L-1.65 -4.2 Q-1.2 -5.65 -1.2 -10.65 L-0.85 -13.4 Q-0.55 -16.2 -0.1 -17.4 L0.0 -17.35 1.3 -17.15 M-5.35 19.3 L-5.4 19.45 -5.45 19.45 -5.35 19.3"
				:fill="mainThirdColor"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
		<defs>
			<radialGradient
				cx="0"
				cy="0"
				gradientTransform="matrix(0.0064, -0.0296, 0.0164, 0.0, -10.4, -5.05)"
				gradientUnits="userSpaceOnUse"
				:id="`${id}-gradient0`"
				r="819.2"
				spreadMethod="pad"
			>
				<stop offset="0.0" stop-color="#ffffff" />
				<stop offset="0.0" :stop-color="mainFirstColor" />
			</radialGradient>
		</defs>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'PigmouHair6',
	props: {
		size: Number,
		mainFirstColor: String,
		mainThirdColor: String,
		mainFourthColor: String,
		id: String
	}
});
</script>
