<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${18.15 * size}px`"
		:width="`${12.3 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${44.55 * size}, ${19.2 * size})`">
			<path
				d="M-42.1 -3.85 L-41.65 -3.25 Q-41.45 -1.2 -43.25 -1.05 -44.45 -0.95 -44.55 -1.9 L-44.0 -3.2 Q-43.4 -4.1 -42.75 -4.25 L-42.1 -3.85 M-35.25 -12.25 Q-38.55 -7.45 -40.2 -7.3 -41.4 -7.15 -41.45 -8.4 -38.7 -18.75 -33.85 -19.2 -33.05 -19.3 -32.6 -18.25 L-32.25 -17.25 Q-32.15 -16.65 -35.25 -12.25"
				fill="#ffffff"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'PigmouHair7',
	props: {
		size: Number
	}
});
</script>
