<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${23.1 * size}px`"
		:width="`${33.55 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${21.25 * size}, ${6.15 * size})`">
			<path
				d="M-20.6 5.8 L-20.8 5.65 Q-21.35 4.95 -21.25 3.95 L-21.05 2.1 -20.65 0.55 -19.95 -0.95 -19.0 -2.45 -17.7 -3.85 -16.2 -4.9 -14.7 -5.75 -13.05 -6.15 -11.55 -6.15 Q-10.7 -6.15 -9.9 -5.55 L-9.0 -4.55 -8.1 -3.3 -7.85 -2.65 Q-7.5 -1.55 -7.65 -0.8 L-8.0 1.2 -8.15 -0.8 -8.45 -2.3 Q-8.8 -3.2 -9.45 -3.9 -10.15 -4.75 -11.1 -5.3 L-11.2 -5.4 Q-12.25 -5.75 -13.55 -5.4 L-13.55 -5.45 -14.35 -5.2 -15.85 -4.5 -17.25 -3.5 -18.5 -2.15 -19.5 -0.6 -20.35 1.15 -20.55 1.75 Q-20.75 2.7 -20.55 3.65 L-20.4 4.3 -20.3 4.8 -20.25 5.0 -20.3 5.4 -20.5 5.8 -20.6 5.8 M-17.7 9.45 L-18.8 9.0 -18.8 8.75 -18.7 8.75 -18.6 8.7 Q-17.45 9.2 -17.45 9.25 L-17.5 9.4 -17.7 9.45 M-11.7 -3.05 Q-9.5 -2.75 -9.75 0.1 L-9.85 0.9 Q-10.15 1.95 -11.15 3.3 -13.1 5.9 -16.25 5.9 L-18.4 5.45 -18.7 5.2 -19.0 4.4 -19.25 3.25 Q-19.1 1.2 -18.15 -0.6 -17.2 -2.45 -14.7 -3.1 L-11.7 -3.05 M-9.65 5.15 L-9.7 5.2 -9.8 5.4 -9.85 5.45 Q-10.55 6.65 -12.6 7.7 -14.65 8.75 -15.75 8.75 L-16.1 8.75 Q-18.45 8.7 -19.2 7.85 L-19.5 7.2 -19.45 7.15 -17.0 8.0 Q-13.35 8.0 -9.65 5.15"
				:fill="mainFifthColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-20.5 5.8 L-20.3 5.4 -20.25 5.0 -20.3 4.8 -20.4 4.3 -20.55 3.65 Q-20.75 2.7 -20.55 1.75 L-20.35 1.15 -19.5 -0.6 -18.5 -2.15 -17.25 -3.5 -15.85 -4.5 -14.35 -5.2 -13.55 -5.45 -13.55 -5.4 Q-12.25 -5.75 -11.2 -5.4 L-11.1 -5.3 Q-10.15 -4.75 -9.45 -3.9 -8.8 -3.2 -8.45 -2.3 L-8.15 -0.8 -8.0 1.2 -8.75 3.35 -8.95 3.7 -9.65 5.1 -9.65 5.05 -9.65 5.15 Q-13.35 8.0 -17.0 8.0 L-19.45 7.15 -19.5 7.2 -19.2 7.85 -19.6 7.5 Q-20.3 6.9 -20.55 5.85 L-20.5 5.8 M-11.7 -3.05 L-14.7 -3.1 Q-17.2 -2.45 -18.15 -0.6 -19.1 1.2 -19.25 3.25 L-19.0 4.4 -18.7 5.2 -18.4 5.45 -16.25 5.9 Q-13.1 5.9 -11.15 3.3 -10.15 1.95 -9.85 0.9 L-9.75 0.1 Q-9.5 -2.75 -11.7 -3.05"
				:fill="`url(#${id}-gradient0)`"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-8.0 1.2 L-7.65 -0.8 Q-7.5 -1.55 -7.85 -2.65 L-8.1 -3.3 Q-7.2 -3.2 -6.8 -0.75 -6.1 1.3 -6.55 3.45 -6.85 5.55 -8.5 7.35 -10.85 10.0 -15.25 10.0 -16.65 10.0 -17.7 9.45 L-17.5 9.4 -17.45 9.25 Q-17.45 9.2 -18.6 8.7 L-18.7 8.75 -19.6 7.5 -19.2 7.85 Q-18.45 8.7 -16.1 8.75 L-15.75 8.85 -15.75 8.75 Q-14.65 8.75 -12.6 7.7 -10.55 6.65 -9.85 5.45 L-9.8 5.4 -9.7 5.2 -9.65 5.15 -9.65 5.05 -9.65 5.1 -8.95 3.7 -8.75 3.35 -8.0 1.2"
				:fill="mainSecondColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path d="M-20.6 5.8 L-20.5 5.8 -20.55 5.85 -20.6 5.8" fill="#ffffff" fill-rule="evenodd" stroke="none" />
			<path
				d="M5.8 -1.45 L5.75 -1.4 Q5.35 -1.3 5.25 -1.1 5.5 -0.85 5.85 -0.85 L5.95 -0.85 7.05 -0.8 Q8.4 -0.65 9.05 -0.15 L9.3 0.1 9.85 0.75 9.85 0.8 10.05 2.5 Q10.05 3.45 9.2 4.45 L8.65 5.1 Q8.45 1.2 5.6 1.2 L4.5 1.3 Q2.9 1.25 1.25 3.05 -0.7 5.3 -0.7 7.65 -0.7 9.8 0.3 10.95 1.4 12.2 3.7 12.2 5.0 12.2 6.35 11.0 L6.45 11.0 6.8 11.25 7.15 11.95 7.0 12.9 6.2 13.55 3.6 14.35 2.8 14.35 2.4 14.35 2.35 14.35 Q-2.95 14.05 -2.65 8.45 -2.65 5.65 -1.0 3.15 -0.35 2.1 0.65 1.15 L1.65 0.15 0.95 0.5 0.85 0.45 2.15 -0.5 Q3.9 -1.45 5.8 -1.45"
				:fill="`url(#${id}-gradient1)`"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M5.75 -1.4 L5.8 -1.45 6.0 -1.45 5.75 -1.4 M0.85 0.45 L0.95 0.5 0.7 0.6 0.85 0.45 M9.85 0.8 L9.85 0.75 10.1 1.1 9.85 0.8"
				fill="#ffffff"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M0.95 0.5 L1.65 0.15 0.65 1.15 Q-0.35 2.1 -1.0 3.15 -2.65 5.65 -2.65 8.45 -2.95 14.05 2.35 14.35 L2.4 14.35 2.8 14.35 3.6 14.35 2.7 14.55 2.15 14.55 2.1 14.55 1.95 14.55 1.4 14.55 Q-0.95 14.3 -2.1 12.85 -3.1 11.6 -3.3 9.55 L-3.35 8.4 -3.3 7.3 Q-3.1 5.3 -2.25 4.2 L-1.0 2.35 -0.75 1.95 Q-0.05 1.0 0.95 0.5 M6.35 11.0 Q5.0 12.2 3.7 12.2 1.4 12.2 0.3 10.95 -0.7 9.8 -0.7 7.65 -0.7 5.3 1.25 3.05 2.9 1.25 4.5 1.3 L5.6 1.2 Q8.45 1.2 8.65 5.1 L8.65 5.3 8.5 6.9 8.4 7.3 8.1 8.45 7.1 10.25 6.95 10.45 6.6 10.75 6.4 10.95 6.35 11.0 M9.85 0.75 L9.3 0.1 9.05 -0.15 Q8.4 -0.65 7.05 -0.8 L5.95 -0.85 5.85 -0.85 Q5.5 -0.85 5.25 -1.1 5.35 -1.3 5.75 -1.4 L6.0 -1.45 6.9 -1.5 Q8.7 -1.5 9.65 -0.4 L9.85 -0.15 Q10.25 0.4 10.25 0.9 L10.2 1.05 10.1 1.15 10.1 1.1 9.85 0.75 M10.5 5.35 L10.55 5.0 10.8 6.15 Q11.05 7.75 10.2 9.25 L10.05 9.55 9.0 10.85 9.6 8.95 10.15 7.1 10.45 5.8 10.5 5.4 10.5 5.35 M1.65 15.0 L1.75 14.95 5.05 14.95 3.45 15.6 2.45 15.65 Q1.75 15.65 1.4 15.25 1.45 15.05 1.65 15.0 M2.6 16.3 L2.9 16.05 Q3.2 16.0 3.35 16.35 L3.4 16.5 3.05 16.55 Q2.6 16.55 2.6 16.3"
				:fill="mainFifthColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M7.0 12.9 L7.15 11.95 6.8 11.25 6.45 11.0 6.35 11.0 6.4 10.95 6.6 10.75 6.95 10.45 7.1 10.25 8.1 8.45 8.4 7.3 8.5 6.9 8.65 5.3 8.65 5.1 9.2 4.45 Q10.05 3.45 10.05 2.5 L9.85 0.8 10.1 1.1 10.1 1.15 10.2 1.05 10.25 0.9 Q10.25 0.4 9.85 -0.15 10.35 -0.05 10.5 1.55 L10.55 2.6 10.55 2.65 10.5 5.35 10.5 5.4 10.45 5.8 10.15 7.1 9.6 8.95 9.0 10.85 7.0 12.9 M-2.1 12.85 Q-0.95 14.3 1.4 14.55 L1.35 14.6 1.65 15.0 Q1.45 15.05 1.4 15.25 1.75 15.65 2.45 15.65 L3.45 15.6 3.65 15.95 3.75 16.7 Q3.6 16.95 3.25 16.95 -0.45 16.95 -2.15 12.9 L-2.1 12.85 M2.6 16.3 Q2.6 16.55 3.05 16.55 L3.4 16.5 3.35 16.35 Q3.2 16.0 2.9 16.05 L2.6 16.3"
				:fill="mainSecondColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M3.6 14.35 L6.2 13.55 7.0 12.9 9.0 10.85 10.05 9.55 10.2 9.25 Q11.05 7.75 10.8 6.15 L10.55 5.0 10.5 5.35 10.55 2.65 Q13.25 6.4 11.75 10.95 L11.55 11.5 Q9.65 16.5 4.35 16.35 L3.65 15.95 3.45 15.6 5.05 14.95 1.75 14.95 1.65 15.0 1.35 14.6 1.4 14.55 1.95 14.55 2.1 14.55 2.15 14.55 2.7 14.55 3.6 14.35"
				:fill="mainThirdColor"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
		<defs>
			<radialGradient
				cx="0"
				cy="0"
				gradientTransform="matrix(0.0153, 0.0, 0.0, 0.0153, -18.05, -1.6)"
				gradientUnits="userSpaceOnUse"
				:id="`${id}-gradient0`"
				r="819.2"
				spreadMethod="pad"
			>
				<stop offset="0.0" stop-color="#ffffff" />
				<stop offset="0.0" :stop-color="mainFirstColor" />
			</radialGradient>
			<radialGradient
				cx="0"
				cy="0"
				gradientTransform="matrix(0.0057, -0.0099, 0.0061, 0.0035, 0.75, 2.45)"
				gradientUnits="userSpaceOnUse"
				:id="`${id}-gradient1`"
				r="819.2"
				spreadMethod="pad"
			>
				<stop offset="0.0" stop-color="#ffffff" />
				<stop offset="0.0" :stop-color="mainFirstColor" />
			</radialGradient>
		</defs>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'PigmouHair8',
	props: {
		size: Number,
		mainFirstColor: String,
		mainSecondColor: String,
		mainThirdColor: String,
		mainFifthColor: String,
		id: String
	}
});
</script>
