<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${17.65 * size}px`"
		:width="`${26.4 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${18.55 * size}, ${12.5 * size})`">
			<path
				d="M4.4 -4.1 L5.8 -5.15 Q7.4 -5.8 7.85 -4.95 L7.55 -3.75 Q7.9 -2.8 7.25 0.2 L6.55 2.8 Q6.3 3.85 5.85 4.5 4.2 5.6 2.75 4.8 0.3 3.3 0.9 0.15 L1.1 -0.4 1.3 -0.9 3.8 -3.7 4.25 -4.15 4.4 -4.1 M2.1 -0.5 L1.95 -0.35 1.8 -0.2 2.15 1.25 2.35 1.95 3.25 2.8 Q4.15 3.35 4.85 3.25 L4.9 3.4 4.65 3.6 Q3.1 4.2 1.8 2.2 L1.4 0.95 1.55 2.3 Q2.65 5.05 5.15 4.05 L5.5 3.75 5.75 2.65 5.55 2.8 Q4.2 3.3 2.6 1.8 L2.6 1.3 2.6 1.25 2.65 1.3 Q3.75 2.45 5.85 2.15 L6.4 0.0 6.8 -2.3 6.8 -2.35 5.65 -0.7 5.45 -0.7 5.3 -0.85 5.3 -0.9 5.3 -0.95 6.5 -3.45 7.1 -4.55 6.25 -4.5 Q5.0 -4.0 2.95 -1.5 L2.1 -0.5 M-17.15 -6.45 L-17.4 -4.9 -17.45 -4.25 -15.45 -4.35 -13.85 -4.95 -13.9 -4.65 Q-14.1 -4.25 -14.95 -4.0 L-15.0 -3.95 -15.2 -3.9 -17.45 -4.1 -17.55 -3.25 -16.65 -2.5 -13.3 -2.6 -12.25 -4.0 -11.95 -5.35 -12.15 -5.75 -12.2 -5.55 Q-13.25 -2.45 -15.9 -2.95 L-16.1 -3.35 -14.9 -3.4 Q-14.0 -3.65 -13.55 -4.3 L-13.35 -4.8 -13.0 -5.4 -12.45 -6.4 -12.9 -7.65 -13.0 -7.85 -14.2 -9.65 -15.8 -11.65 -15.05 -8.55 -15.25 -8.5 -16.05 -10.6 -17.05 -7.3 -17.15 -6.45 M-12.95 -9.05 L-12.75 -8.55 -11.45 -5.35 -11.45 -5.3 Q-11.35 -3.2 -13.05 -2.15 -14.15 -1.45 -15.7 -1.9 -17.55 -2.45 -18.55 -3.65 L-18.15 -5.4 -18.05 -5.85 -18.05 -5.8 -18.0 -5.95 -17.95 -6.5 -17.9 -6.65 -17.8 -7.25 -17.5 -8.45 -17.35 -9.15 -16.65 -11.85 -16.6 -11.9 -16.7 -12.1 Q-16.45 -12.8 -15.5 -12.25 -14.5 -11.7 -12.95 -9.05"
				fill="#a36a6a"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M6.5 -3.45 L5.3 -0.95 5.3 -0.9 5.3 -0.85 5.45 -0.7 5.65 -0.7 6.8 -2.35 6.8 -2.3 6.4 0.0 5.85 2.15 Q3.75 2.45 2.65 1.3 L2.6 1.25 2.6 1.3 2.6 1.8 Q4.2 3.3 5.55 2.8 L5.75 2.65 5.5 3.75 5.15 4.05 Q2.65 5.05 1.55 2.3 L1.4 0.95 1.8 2.2 Q3.1 4.2 4.65 3.6 L4.9 3.4 4.85 3.25 Q4.15 3.35 3.25 2.8 L2.35 1.95 2.15 1.25 1.8 -0.2 1.95 -0.35 2.1 -0.5 2.6 0.4 3.95 -0.75 4.55 -1.75 4.85 -1.55 4.2 0.35 5.6 -2.2 6.8 -4.1 6.5 -3.45 M3.5 0.6 L3.5 0.55 3.45 0.6 3.5 0.6 M-13.0 -7.85 L-12.9 -7.65 -12.45 -6.4 -13.0 -5.4 -13.35 -4.8 -13.55 -4.3 Q-14.0 -3.65 -14.9 -3.4 L-16.1 -3.35 -15.9 -2.95 Q-13.25 -2.45 -12.2 -5.55 L-12.15 -5.75 -11.95 -5.35 -12.25 -4.0 -13.3 -2.6 -16.65 -2.5 -17.55 -3.25 -17.45 -4.1 -15.2 -3.9 -15.0 -3.95 -14.95 -4.0 Q-14.1 -4.25 -13.9 -4.65 L-13.85 -4.95 -15.45 -4.35 -17.45 -4.25 -17.4 -4.9 -17.15 -6.45 Q-16.6 -5.15 -16.1 -4.9 -15.2 -4.4 -14.85 -5.4 L-14.8 -5.9 -14.8 -6.05 -15.15 -7.95 -14.9 -8.05 Q-14.4 -7.1 -14.2 -6.2 L-14.05 -6.2 -14.15 -9.5 -13.0 -7.8 -13.0 -7.85"
				fill="#e0cca3"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M2.1 -0.5 L2.95 -1.5 Q5.0 -4.0 6.25 -4.5 L7.1 -4.55 6.5 -3.45 6.8 -4.1 5.6 -2.2 4.2 0.35 4.85 -1.55 4.55 -1.75 3.95 -0.75 2.6 0.4 2.1 -0.5 M3.5 0.6 L3.45 0.6 3.5 0.55 3.5 0.6 M-13.0 -7.85 L-13.0 -7.8 -14.15 -9.5 -14.05 -6.2 -14.2 -6.2 Q-14.4 -7.1 -14.9 -8.05 L-15.15 -7.95 -14.8 -6.05 -14.8 -5.9 -14.85 -5.4 Q-15.2 -4.4 -16.1 -4.9 -16.6 -5.15 -17.15 -6.45 L-17.05 -7.3 -16.05 -10.6 -15.25 -8.5 -15.05 -8.55 -15.8 -11.65 -14.2 -9.65 -13.0 -7.85"
				fill="#ffffcc"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'PigmouHair9',
	props: {
		size: Number
	}
});
</script>
