<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${5.95 * size}px`"
		:width="`${21.2 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${-28.0 * size}, ${-16.8 * size})`">
			<path
				d="M48.0 17.15 L48.4 17.5 Q49.15 18.15 49.2 19.1 L49.2 19.55 49.15 19.9 Q48.7 20.7 47.6 20.55 45.9 20.35 45.05 18.65 L45.5 17.25 48.0 17.15 M46.55 17.55 L45.8 18.0 Q46.0 19.2 47.0 19.65 L47.8 19.75 48.35 19.4 48.5 19.0 Q48.3 17.8 47.0 17.55 L46.55 17.55 M43.35 20.8 Q43.25 22.75 41.35 22.75 39.6 22.75 39.0 21.5 L38.7 20.55 Q38.55 19.9 38.8 19.3 L39.15 18.65 Q41.0 17.65 42.3 18.8 L43.25 20.4 43.35 20.8 M41.55 22.0 Q42.3 21.85 42.4 21.05 L42.45 20.8 42.4 20.55 42.0 19.7 Q41.45 19.05 40.85 19.1 40.3 19.1 39.75 19.55 L39.7 20.55 Q39.8 22.0 41.15 22.0 L41.55 22.0 M31.0 18.25 L30.0 18.25 Q28.8 18.4 28.75 19.15 L28.7 19.25 28.75 19.55 Q28.75 20.35 29.35 20.6 L29.9 20.7 31.45 20.35 31.95 19.5 Q32.2 18.75 31.85 18.2 L31.0 18.25 M28.05 18.8 Q28.35 17.85 30.0 17.55 L32.1 17.35 33.05 19.15 32.5 20.15 31.7 21.0 31.05 21.45 30.25 21.5 Q28.15 21.5 28.05 19.8 L28.0 19.5 28.05 18.8"
				fill="#a36a6a"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M46.55 17.55 L47.0 17.55 Q48.3 17.8 48.5 19.0 L48.35 19.4 47.8 19.75 47.0 19.65 Q46.0 19.2 45.8 18.0 L46.55 17.55 M41.55 22.0 L40.8 19.7 40.85 19.1 Q41.45 19.05 42.0 19.7 L42.4 20.55 42.45 20.8 42.4 21.05 Q42.3 21.85 41.55 22.0 M29.35 20.6 L29.8 19.45 Q30.1 18.7 30.5 18.25 L31.0 18.25 31.85 18.2 Q32.2 18.75 31.95 19.5 L31.45 20.35 29.9 20.7 29.35 20.6"
				fill="#e0cca3"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M40.85 19.1 L40.8 19.7 41.55 22.0 41.15 22.0 Q39.8 22.0 39.7 20.55 L39.75 19.55 Q40.3 19.1 40.85 19.1 M29.35 20.6 Q28.75 20.35 28.75 19.55 L28.7 19.25 28.75 19.15 Q28.8 18.4 30.0 18.25 L31.0 18.25 30.5 18.25 Q30.1 18.7 29.8 19.45 L29.35 20.6"
				fill="#ffffcc"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'PigmouFrontRightNail0',
	props: {
		size: Number
	}
});
</script>
