<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${6.4 * size}px`"
		:width="`${10.65 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${-7.25 * size}, ${-5.15 * size})`">
			<path
				d="M15.1 7.5 L15.0 7.4 14.8 6.85 Q14.8 5.15 15.95 5.15 17.2 5.15 17.9 6.85 17.9 7.9 16.55 7.9 L15.3 7.65 15.65 8.0 Q16.2 8.65 16.2 9.15 16.2 10.55 14.6 10.55 13.3 10.55 12.8 9.5 L12.55 8.45 Q12.55 7.1 13.7 7.1 14.5 7.1 15.1 7.5 M13.35 8.45 Q13.35 9.7 14.65 9.7 15.6 9.7 15.35 9.15 15.35 8.35 13.6 7.85 13.35 8.1 13.35 8.45 M17.2 6.8 Q17.2 5.9 15.75 5.9 15.5 5.9 15.5 6.4 15.5 7.15 16.55 7.15 L17.2 6.8 M9.1 8.65 Q8.45 8.65 8.2 9.0 8.05 9.15 8.05 9.35 L8.5 10.1 8.9 10.45 9.25 10.6 9.9 10.15 Q9.9 8.65 9.1 8.65 M7.75 10.5 Q7.25 9.7 7.25 9.35 L7.55 8.6 Q8.0 7.9 8.9 7.9 10.9 7.9 10.8 10.05 10.8 11.55 9.25 11.55 8.4 11.55 7.75 10.5"
				fill="#a36a6a"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M17.2 6.8 L16.55 7.15 Q15.5 7.15 15.5 6.4 15.5 5.9 15.75 5.9 17.2 5.9 17.2 6.8 M13.35 8.45 Q13.35 8.1 13.6 7.85 15.35 8.35 15.35 9.15 15.6 9.7 14.65 9.7 13.35 9.7 13.35 8.45 M8.9 10.45 L9.05 10.1 9.1 9.1 9.1 8.65 Q9.9 8.65 9.9 10.15 L9.25 10.6 8.9 10.45"
				fill="#e0cca3"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M9.1 8.65 L9.1 9.1 9.05 10.1 8.9 10.45 8.5 10.1 8.05 9.35 Q8.05 9.15 8.2 9.0 8.45 8.65 9.1 8.65"
				fill="#ffffcc"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'PigmouFrontLeftNail0',
	props: {
		size: Number
	}
});
</script>
