<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${36.8 * size}px`"
		:width="`${9.3 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${-9.05 * size}, ${10.55 * size})`">
			<path
				d="M18.35 -10.1 Q18.35 -7.5 16.2 -3.75 14.0 0.05 14.0 2.75 14.0 5.6 14.8 9.6 14.95 13.25 12.95 13.75 14.15 14.8 14.55 19.4 14.55 21.3 12.5 23.85 10.55 26.25 9.55 26.25 9.05 26.25 9.05 25.75 L11.2 23.6 Q13.3 21.55 13.3 19.35 13.3 17.9 12.5 15.8 L11.65 13.9 Q11.65 13.55 11.9 13.45 L11.85 13.3 Q13.05 11.8 13.05 10.15 12.2 5.4 12.2 2.9 12.2 -0.55 14.9 -3.9 15.95 -5.2 18.0 -10.55 L18.35 -10.1"
				fill="#a51616"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'PigmouHeadHeavyInjury11',
	props: {
		size: Number
	}
});
</script>
