<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${33.15 * size}px`"
		:width="`${10.4 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${-14.15 * size}, ${11.4 * size})`">
			<path
				d="M24.55 -10.8 L24.4 -9.9 Q24.4 -8.65 22.3 -5.65 20.15 -2.65 20.15 -1.2 L20.65 1.05 Q20.65 3.05 19.15 4.4 17.65 5.7 17.65 6.7 L17.9 8.05 Q17.9 10.7 16.3 10.7 L15.9 10.6 15.9 10.15 16.8 8.9 16.35 6.75 Q16.35 5.2 17.65 3.75 18.9 2.35 18.9 1.65 18.9 0.65 18.35 -1.0 18.35 -3.05 20.65 -6.3 L22.85 -8.95 24.45 -11.4 24.55 -10.8 M17.2 16.7 Q17.2 19.55 14.35 21.75 L14.15 21.5 Q16.3 19.25 16.3 16.7 L15.25 13.7 Q15.25 13.35 15.6 13.35 16.9 13.35 17.2 16.7"
				fill="#a51616"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'PigmouHeadHeavyInjury12',
	props: {
		size: Number
	}
});
</script>
