<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${58.5 * size}px`"
		:width="`${8.0 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${-11.55 * size}, ${32.15 * size})`">
			<path
				d="M12.35 -32.15 Q18.35 -25.9 18.35 -25.0 L18.25 -24.6 17.65 -24.35 Q16.1 -24.35 14.25 -27.5 L11.8 -31.85 Q11.9 -32.15 12.35 -32.15 M19.15 -28.0 L18.5 -27.55 Q17.7 -27.55 17.05 -28.4 L16.5 -28.7 Q15.25 -29.4 15.15 -29.65 L15.55 -30.0 Q16.0 -30.0 16.55 -29.6 L16.55 -29.85 17.1 -30.0 Q18.65 -30.0 19.25 -28.35 L19.15 -28.0 M19.45 -5.3 L18.7 -4.2 Q17.9 -3.4 17.9 -2.95 17.9 -2.2 18.75 -1.85 19.55 -1.45 19.55 -0.75 19.55 0.7 15.9 3.0 L16.55 4.8 Q16.55 7.65 15.5 9.5 14.45 11.4 14.45 13.45 L16.3 20.2 Q16.3 24.8 14.35 26.35 L14.6 22.0 Q14.6 20.25 13.85 17.25 13.05 14.25 13.05 12.95 13.05 10.6 13.75 9.5 14.4 8.45 14.4 6.5 14.4 5.4 11.55 -1.05 11.55 -2.15 13.95 -4.55 16.5 -7.05 18.1 -7.05 19.1 -7.05 19.45 -5.3"
				fill="#a51616"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'PigmouHeadHeavyInjury2',
	props: {
		size: Number
	}
});
</script>
