<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${13.75 * size}px`"
		:width="`${8.25 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${4.1 * size}, ${6.85 * size})`">
			<path
				d="M4.15 -3.9 Q4.15 -2.1 2.75 0.1 L2.65 0.1 2.6 -0.45 Q2.6 -0.8 3.15 -2.35 L3.95 -4.15 4.15 -3.9 M-4.1 -2.9 Q-4.1 -4.4 -2.0 -6.85 -1.7 -6.85 -1.7 -6.4 -1.7 -5.55 -3.6 -2.65 L-3.8 -2.5 -4.1 -2.9 M1.0 -5.3 L1.4 -5.2 1.45 -5.0 -1.25 1.4 -1.7 0.95 -0.8 -2.2 Q0.25 -5.3 1.0 -5.3 M3.15 -5.55 L3.2 -5.35 Q0.35 2.9 0.0 6.8 L-0.1 6.9 -0.5 6.55 Q-0.5 0.25 2.85 -5.65 L3.15 -5.55 M-1.5 -1.25 L-2.3 1.8 Q-2.8 3.75 -3.2 3.75 L-3.65 3.25 -3.5 1.95 Q-3.5 0.2 -1.65 -3.15 0.1 -6.25 0.9 -6.7 L1.3 -6.35 Q-0.85 -3.35 -1.5 -1.25"
				fill="#a51616"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'PigmouHeadHeavyInjury3',
	props: {
		size: Number
	}
});
</script>
