<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${18.5 * size}px`"
		:width="`${18.0 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.5 * size}, ${5.0 * size}, ${10.0 * size})`">
			<path
				d="M1.95 -1.95 Q0.85 -3.9 -0.5 -3.9 -1.75 -3.9 -2.35 -2.2 -2.75 -1.1 -2.75 -0.2 L-1.9 2.0 Q-0.9 4.05 0.1 4.05 0.8 4.05 1.85 2.5 L2.8 0.65 Q2.8 -0.35 1.95 -1.95 M-1.35 -5.95 L0.95 -6.75 Q2.0 -6.75 2.2 -5.25 2.4 -4.45 3.85 -4.2 4.2 -3.75 4.2 -1.5 L4.1 -1.2 4.15 -1.35 Q4.95 -1.35 5.05 -0.4 L4.9 1.15 Q4.9 1.75 3.75 3.45 2.5 5.25 1.75 5.25 1.3 5.25 1.1 5.05 0.0 6.75 -0.65 6.75 L-3.3 4.5 -3.0 3.45 -3.05 3.3 -3.9 3.6 Q-4.7 3.6 -4.9 2.35 L-5.0 1.05 -4.35 -1.3 -5.0 -2.2 Q-5.0 -3.0 -4.15 -4.5 -3.2 -6.25 -2.15 -6.25 L-1.35 -5.95"
				fill="#7e3e8f"
				fill-opacity="0.27058825"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M1.95 -1.95 Q2.8 -0.35 2.8 0.65 L1.85 2.5 Q0.8 4.05 0.1 4.05 -0.9 4.05 -1.9 2.0 L-2.75 -0.2 Q-2.75 -1.1 -2.35 -2.2 -1.75 -3.9 -0.5 -3.9 0.85 -3.9 1.95 -1.95"
				fill="#7e3e8f"
				fill-opacity="0.49803922"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'PigmouHeadHeavyInjury4',
	props: {
		size: Number
	}
});
</script>
