<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${16.0 * size}px`"
		:width="`${24.2 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, ${0.3 * size}, 0.0, ${0.8 * size}, ${12.1 * size}, ${8.0 * size})`">
			<path
				d="M7.35 -0.65 L7.35 -0.55 6.4 0.6 6.15 0.35 6.55 -0.3 6.85 -0.65 7.1 -0.85 7.35 -0.65 M-8.75 -6.05 L-9.45 -5.25 Q-10.2 -4.25 -10.6 -3.1 -11.35 -1.15 -10.8 -0.1 -9.65 2.15 -3.85 4.25 -0.85 5.35 2.25 5.5 L4.95 5.45 5.7 5.4 8.35 4.55 Q9.9 3.85 10.6 2.4 L10.85 1.85 11.15 0.1 11.4 -0.4 11.6 -0.4 11.85 0.0 11.85 0.15 12.1 -0.3 12.1 0.95 Q11.8 5.2 7.7 6.4 L4.2 6.65 Q-0.7 6.6 -4.3 5.3 -10.75 2.95 -11.9 0.1 -12.4 -1.15 -11.6 -3.4 -10.1 -7.1 -8.75 -6.6 -8.5 -6.5 -8.6 -6.2 L-8.75 -6.05 M6.25 2.55 L6.05 2.3 8.7 -0.55 9.4 -1.25 Q9.75 -1.25 9.75 -0.85 L9.5 -0.45 8.25 0.85 6.25 2.55 M10.4 -0.35 L10.7 -1.05 10.95 -0.65 10.95 -0.25 Q10.75 1.75 8.85 3.2 L10.4 -0.35"
				fill="#a36a6a"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M6.85 -0.65 L6.55 -0.3 6.15 0.35 6.4 0.6 7.35 -0.55 7.35 -0.65 7.7 -0.65 8.7 -0.55 6.05 2.3 6.25 2.55 3.75 4.45 2.25 5.5 Q-0.85 5.35 -3.85 4.25 -9.65 2.15 -10.8 -0.1 -11.35 -1.15 -10.6 -3.1 -10.2 -4.25 -9.45 -5.25 L-8.75 -6.05 Q-8.15 -4.25 -7.35 -4.4 L-5.5 -4.8 Q-0.8 -8.1 1.9 -4.85 4.6 -1.65 6.85 -0.65 M10.15 -0.35 L10.05 -0.35 9.65 -0.4 10.15 -0.35 M4.05 2.15 Q1.5 3.4 0.65 3.4 -0.6 3.4 -0.6 4.0 L-0.5 4.2 0.1 4.45 Q4.35 3.75 4.35 2.45 4.45 2.15 4.05 2.15"
				fill="#e0cbcb"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M2.25 5.5 L3.75 4.45 6.25 2.55 8.25 0.85 9.5 -0.45 9.65 -0.4 10.05 -0.35 10.15 -0.35 10.4 -0.35 8.85 3.2 Q10.75 1.75 10.95 -0.25 L11.15 0.1 10.85 1.85 10.6 2.4 Q9.9 3.85 8.35 4.55 L5.7 5.4 4.95 5.45 2.25 5.5 M4.05 2.15 Q4.45 2.15 4.35 2.45 4.35 3.75 0.1 4.45 L-0.5 4.2 -0.6 4.0 Q-0.6 3.4 0.65 3.4 1.5 3.4 4.05 2.15"
				fill="#cca9a9"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'PigmouHeadHeavyInjury8',
	props: {
		size: Number
	}
});
</script>
