<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${29.95 * size}px`"
		:width="`${6.8 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${-9.25 * size}, ${6.25 * size})`">
			<path
				d="M16.05 -4.3 Q16.05 -2.95 14.5 5.15 L15.1 8.8 Q15.1 10.0 14.0 11.9 12.5 14.45 10.25 14.45 9.25 14.45 9.25 14.05 13.35 11.8 13.35 9.45 12.65 5.65 12.65 4.65 12.65 3.35 13.1 2.1 L14.05 -0.85 Q15.0 -5.05 15.55 -6.25 16.05 -5.75 16.05 -4.3 M13.15 19.9 Q13.15 22.15 10.75 23.7 L12.2 20.4 Q12.2 19.15 11.5 17.35 10.75 15.5 10.75 15.05 10.75 14.55 11.2 14.55 12.45 14.55 13.15 19.9"
				fill="#a51616"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'PigmouHeadHeavyInjury9',
	props: {
		size: Number
	}
});
</script>
