<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${8.75 * size}px`"
		:width="`${24.25 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${18.25 * size}, ${0.55 * size})`">
			<path
				d="M6.0 7.25 Q6.0 8.2 4.6 8.2 3.5 8.2 3.45 7.4 3.45 6.6 4.9 6.6 6.0 6.6 6.0 7.25 M-18.25 0.05 Q-18.25 -0.55 -17.25 -0.55 -15.6 -0.55 -13.9 0.25 -12.4 1.0 -12.4 1.45 -12.4 1.75 -13.15 2.1 -13.9 2.45 -16.3 1.15 -16.5 0.7 -17.65 0.6 -18.25 0.5 -18.25 0.05"
				fill="#ffffff"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'PigmouPupilDemonSpecial0',
	props: {
		size: Number
	}
});
</script>
