<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${36.6 * size}px`"
		:width="`${30.3 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, 0.0, 0.0)`">
			<path
				d="M11.0 0.0 Q13.35 0.0 15.25 1.9 16.9 3.5 18.95 7.4 L15.2 5.4 Q12.9 4.35 10.75 4.35 8.15 4.35 6.1 5.25 4.85 5.8 3.8 6.7 1.35 8.85 0.7 12.65 L0.3 11.05 Q0.0 9.5 0.0 7.8 0.0 4.65 0.7 3.95 1.3 3.4 4.05 2.05 L4.5 1.8 Q5.7 1.1 7.4 0.6 L11.0 0.0 M22.75 20.85 L22.8 20.9 24.9 24.3 Q23.85 23.75 21.85 23.0 19.2 22.0 18.0 22.0 15.95 21.95 14.3 22.6 11.85 23.5 10.2 25.9 7.7 29.5 8.85 33.7 L7.05 31.05 Q6.65 30.25 6.55 28.7 6.3 24.45 8.35 21.25 9.75 18.9 12.05 17.85 13.95 16.9 16.55 16.9 18.55 16.9 20.15 17.8 22.0 18.7 22.75 20.85 M20.7 12.9 L21.6 15.7 Q21.45 15.55 21.2 15.55 20.35 14.3 18.65 13.35 16.65 12.3 14.4 12.3 11.85 12.3 9.9 13.25 7.85 14.2 6.45 16.2 4.0 19.65 4.65 24.4 L3.2 21.4 Q2.45 19.7 2.45 18.55 2.45 15.25 4.85 11.85 6.2 9.95 7.85 8.95 9.9 7.6 12.5 7.6 15.4 7.6 17.9 8.7 18.8 9.1 19.5 9.65 L20.3 11.6 20.7 12.9 M11.45 33.9 Q11.65 30.1 14.4 27.8 15.25 27.1 16.2 26.6 18.45 25.4 21.3 25.4 26.65 25.4 28.15 27.9 L29.05 30.15 Q29.55 31.45 30.3 32.25 L28.15 31.5 Q26.65 30.95 25.5 30.95 22.5 30.95 19.0 32.55 15.9 33.95 12.45 36.6 L11.6 36.6 11.45 35.05 11.45 33.9"
				:fill="brighterSpecialColor"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'PigmouFrontRightLegSpecial0',
	props: {
		size: Number,
		brighterSpecialColor: String
	}
});
</script>
