<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${18.75 * size}px`"
		:width="`${31.35 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${20.65 * size}, ${4.15 * size})`">
			<path
				d="M-15.95 -4.15 Q-12.2 -4.3 -11.8 0.25 L-11.8 0.35 Q-11.75 4.75 -16.55 4.75 -20.2 4.9 -20.6 0.6 L-20.6 0.45 Q-20.6 -1.85 -19.35 -2.95 -18.25 -4.15 -15.95 -4.15 M1.3 9.95 L1.3 9.9 Q1.45 4.75 5.9 4.9 10.6 4.8 10.7 10.0 L10.7 10.05 Q10.75 14.55 6.0 14.6 3.65 14.6 2.55 13.4 1.25 12.25 1.3 9.95"
				fill="#660000"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'PigmouPupil1',
	props: {
		size: Number
	}
});
</script>
